{% extends 'permagora/base_sanscommentaire.html' %}

{% block content %}

<div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-12 text-center">
              <h4>Se connecter</h4>
        <div id="loginbox" style="margin-top:50px;">
            <div style="padding-top:10px" class="panel-body" >

                {% include 'form_template.html'%}
</div>
</div>
<hr>
<div class="row justify-content-sm-center">
<div class="col-sm-12 col-md-8 col-lg-6 text-center">
                <p>Pas encore inscrit ? <a class="underlineHover" href="{% url 'senregistrer' %}">Créer un compte</a></p>
               <p>Mot de pass oublié ? <a class="underlineHover" href="{% url 'password_reset' %}">Réinitialiser mot de passe</a></p>

</div>
</div>

</div>
</div>
</div>
</div>
{% endblock %}
