{% extends 'base_suffrage.html' %}
{% load static %}

{%block banniere %}
	<div class="row row_banniere_ordi" >
		<div class="col col-xs-12 d-flex justify-content-around">
            <img  src="{% static 'img/banniere/suffrage_ordi.png' %}" width="224" height="120" alt="Logo_suffrages"/>
            <img  src="{% static 'img/banniere/suffrage.png' %}" height="120" alt="Logo_suffrages"/>
        </div>
    </div>
	<div class="row row_banniere_smartphone">
		<div class="col col-xs-12 d-flex justify-content-center">
            <img class="img_banniere_smartp" src="{% static 'img/banniere/suffrage_smart.png' %}" height="120" alt="Logo_suffrages"/>
        </div>
    </div>
{% endblock  %}
