{% extends 'vote/baseVote.html' %}
{% load static %}
{% load blog_filters %}
{% load vote_filters %}
{% load app_filters %}
{% load fontawesome %}

{% load activity_tags %}
    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}

{%block subtitle%}
	<div class="row justify-content-center">
		<div class="col-sm-12 textcenter">

     <a href="{% url 'vote:suivre_suffrages' %}">
    {% if request.user|is_following:suivis %}
    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Vous êtes abonné : Cliquez pour arreter de recevoir un mail à chaque nouvel article">
         {% fontawesome_icon 'bell' %}
    </button>
    {% else %}
    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Vous n'êtes pas abonné : Cliquez pour recevoir un mail à chaque nouvel article">
         {% fontawesome_icon 'bell-slash' %}
    </button>
    {% endif %}
     </a>
        <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#help" title="En savoir plus...">
                 {% fontawesome_icon 'question-circle' %}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog textaide" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <div class="row justify-content-center">
                   <h5 > Les suffrages surPerma.cat</h5>
                  </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body textleft">
                  <p>Vous pouvez ici organiser différents types de suffrages : élection, sondage auprès des sympathisants (inscrits sur le site), vote d'une proposition, vote d'un projet, etc.</p>
                  <p>Un suffrage peut comporter plusieurs questions, de 2 types.
                      <ol>
                     <li> Il peut comporter des questions de type "binaire", c'est-à-dire que les questions posées pourront être répondues par "oui" ou par "non" (ou "ne se prononce pas")</p>
                  </li>
                  <li>Ou bien des questions "majoritaires" c'est-à-dire une question où vous proposez plusieurs solutions (candidats ou propositions), et les votants indiquent pour chaque proposition son niveau d'adhésion (de "tout à fait d'accord" à "pas du tout d'accord"). La proposition avec la mention majoritaire la plus haute remporte l'élection. C'est ce qu'on appelle le "<a href="https://fr.wikipedia.org/wiki/Jugement_majoritaire" target="_blank">vote par jugement majoritaire</a></li>
                </ol>
                  <hr>
                  <p >Si vous préférez, ou si vous souhaitez faire un suffrage avec des personnes non inscrites sur Perma.Cat, vous pouvez aussi utiliser la plateforme <a href="https://www.balotilo.org/" target="_blank"> balotilo.org</a> pour organiser des scrutins par mail</p>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>
<hr>
	<div class="row align-items-center">
		<div class="col-md-12 justify-content-center">
			<nav class="navbar justify-content-center navbar-expand-sm navbar-light bg-light">
					<ul class="navbar-nav justify-content-center">

<li class="nav-item dropdown ">
                            <a class="nav-item " href="#" id="navbarDropdownCategorie" data-toggle="dropdown">
                                 <button type="button" class="btn  btn-primary" >
                                {% if request.GET.type_vote  %}
      Type de suffrage : {{type_vote_courant}}
      {%elif request.GET.permacat %}
      Suffrages Permacat
      {%elif request.GET.auteur %}
      Suffrages de {{request.GET.auteur}}
      {%elif typeFiltre == 'archives' %}
      Archives
        {%else%}
        Choisir une catégorie...
      {%endif%}
                                 </button>
                                </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class=" dropdown-item " style="background:white;" href="{%url 'vote:index' %}">Toutes les catégories</a>
                                <div class="dropdown-divider"></div>
            {% for type_vote_id, cat_nom, cat_coul in type_vote_list %}
            <a class=" dropdown-item " style="background:{{cat_coul}};" href="?type_vote={{type_vote_id}}"><span>{{cat_nom}}</span></a>
            {% endfor %}
    <div class="dropdown-divider"></div>
                                                                <a class=" dropdown-item " style="background:grey;" href="?archives=True"><span>Archives</span></a>

							</div>
						</li>


                <li class="nav-item dropdown">
                      <a class="nav-item" href="#" id="menuOrdreTri" data-toggle="dropdown">

                <button class="btn btn-light dropdown-toggle">
                    {% if request.GET.ordreTri  %}
                        Trié par : {{ request.GET.ordreTri|ordreTriStr }}
                    {%else%}
                   Trier par...
                    {%endif%}
           </button>
                      </a>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for titre, ordre in ordreTriPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&ordreTri={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
            </li>

                <li class="nav-item dropdown">
                      <a class="nav-item" href="#" id="menuFiltre" data-toggle="dropdown">

                <button class="btn btn-light dropdown-toggle">
                    {% if request.GET.statut  %}
                        Statut : {{ request.GET.statut|vote_statut }}
                    {%else%}
                   Filtrer...
                    {%endif%}
           </button>
                      </a>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idFiltre">
                    {% for titre, ordre in filtresPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&statut={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
            </li>
					</ul>
			</nav>
		</div>
</div>



{%endblock%}
{% block content %}

<div class="infinite-container">
    {% for suffrage in suffrage_list %}
    <div class="infinite-item">
            {% include "vote/suffrage_template.html" with suffrage=suffrage %}
    <hr>
    </div>
    {% empty %}
    <div class="infinite-item">
    <p class="textcenter">Il n'y a pas encore de suffrage</p>
    </div>
    {% endfor %}
</div>
{%include 'pagination.html' %}

    {%if not request.user.adherent_pc %}
<p><small>(vous n'avez pas encore accès aux suffrages "Permacat"... Rejoignez-nous ! :)</small></p>
    {%endif%}
{% endblock %}
