{% extends 'base_asso.html' %}
{% load static %}
{% load blog_filters %}
{% load vote_filters %}
{% load app_filters %}
{% load fontawesome %}

{% load activity_tags %}
    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}
{%block subtitle%}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 textcenter">
            <h3>Suffrages</h3>
        </div>
    </div>
            <hr>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-sm navbar-light bg-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
<li class="nav-item dropdown dropdown-toggle">
                            <a class="nav-item " href="#" id="navbarDropdownCategorie" data-toggle="dropdown">
                                 <button type="button" class="btn  btn-primary" >
                                {% if request.GET.type_vote  %}
      Type de suffrage : {{type_vote_courant}}
      {%elif request.GET.permacat %}
      Suffrages Permacat
      {%elif request.GET.auteur %}
      Suffrages de {{request.GET.auteur}}
      {%elif typeFiltre == 'archives' %}
      Archives
        {%else%}
        Choisir une catégorie...
      {%endif%}
                                 </button>
                                </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class=" dropdown-item " style="background:white;" href="{%url 'vote:index' %}">Toutes les catégories</a>
                                <div class="dropdown-divider"></div>
            {% for type_vote_id, cat_nom, cat_coul in type_vote_list %}
            <a class=" dropdown-item " style="background:{{cat_coul}};" href="?type_vote={{type_vote_id}}"><span>{{cat_nom}}</span></a>
            {% endfor %}
    <div class="dropdown-divider"></div>
                                                                <a class=" dropdown-item " style="background:grey;" href="?archives=True"><span>Archives</span></a>

							</div>
						</li>


                <li class="nav-item dropdown">
                      <a class="nav-item" href="#" id="menuOrdreTri" data-toggle="dropdown">

                <button class="btn btn-light dropdown-toggle">
                    {% if request.GET.ordreTri  %}
                        Trié par : {{ request.GET.ordreTri|ordreTriStr }}
                    {%else%}
                   Trier par...
                    {%endif%}
           </button>
                      </a>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for titre, ordre in ordreTriPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&ordreTri={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
            </li>

                <li class="nav-item dropdown">
                      <a class="nav-item" href="#" id="menuFiltre" data-toggle="dropdown">

                <button class="btn btn-light dropdown-toggle">
                    {% if request.GET.statut  %}
                        Statut : {{ request.GET.statut|vote_statut }}
                    {%else%}
                   Filtrer...
                    {%endif%}
           </button>
                      </a>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idFiltre">
                    {% for titre, ordre in filtresPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&statut={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
            </li>
					</ul>

                        <ul class="navbar-nav ml-md-auto">


                            <li class="nav-item">
                            <a href="{% url 'vote:ajouterNouvelSuffrage' %}">
        <button type="button" class="btn  btn-success" >
                <i class="fa fa-plus"></i> Ajouter un suffrage
            </button>
                            </a></li>
                            <li class="nav-item">
                                 <a href="{% url 'vote:suivre_suffrages' %}">
                                {% if request.user|is_following:suivis %}
                                <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Vous êtes abonné : Cliquez pour arreter de recevoir un mail à chaque nouvel article">
                                     {% fontawesome_icon 'bell' %}
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Vous n'êtes pas abonné : Cliquez pour recevoir un mail à chaque nouvel article">
                                     {% fontawesome_icon 'bell-slash' %}
                                </button>
                                {% endif %}
                                 </a>
                            </li>
                        </ul>
</div>
			</nav>
		</div>
	</div>
</div>


{%endblock%}
{% block content %}

<div class="infinite-container">
    {% for suffrage in suffrage_list %}
    <div class="infinite-item">
            {% include "vote/suffrage_template.html" with suffrage=suffrage %}
    <hr>
    </div>
    {% empty %}
    <div class="infinite-item">
    <p class="textcenter">Il n'y a pas encore de suffrage</p>
    </div>
    {% endfor %}
</div>
{%include 'pagination.html' %}

    {%if not request.user.adherent_pc %}
<p><small>(vous n'avez pas encore accès aux suffrages "Permacat"... Rejoignez-nous ! :)</small></p>
    {%endif%}
{% endblock %}
