{% extends 'vote/baseVote.html' %}
{% load activity_tags %}
{% load blog_filters %}
{% load vote_filters %}
{% load fontawesome %}

{% block subtitle %}

<div class="container-fluid">
<div class="row">
    <div class="col-md-2 " id="sec02">

            <a href="{% url 'vote:index' %}">
               <button type="button" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;retour à la liste des suffrages
               </button></a>
    </div>
    <div class="col-md-8">
        <p class="infos  textepetit">Dans: <a href="{% url 'vote:index'  %}?type_vote={{suffrage.type_vote}}"  style="background-color:{{suffrage.get_couleur}}" class="smallcaps_h2">Suffrages/{{ suffrage.get_type_vote_display }}</a>, rédigé par <a href="{% url 'profil' suffrage.auteur.id %}"> {{ suffrage.auteur.username }}</a>, le {{ suffrage.date_creation|date:"DATE_FORMAT" }};
        </p>
    </div>
    <div class="col-md-2">
        <p>
        {%if suffrage.auteur == request.user %}
		<div class="btn-group">
            <a href="{% url 'vote:modifierSuffrage' slug=suffrage.slug %}">
               <button type="button" class="btn btn-sm btn-warning" {%if suffrage.get_statut.0 != 2 %} disabled{% endif %}>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
               </button></a>
            <a href="{% url 'vote:supprimerSuffrage' slug=suffrage.slug %}">
               <button type="button" class="btn btn-sm btn-danger" {%if suffrage.get_statut.0 != 2 %} disabled{% endif %}>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Supprimer
               </button>
            </a>
        {%if request.user.is_superuser %}
            <a href="https://www.perma.cat/gestion/vote/suffrage/{{article.id}}/change/">
               <button type="button" class="btn btn-sm btn-danger" >
                <span class="glyphicon glyphicon-plus">&nbsp;Admin</span>
               </button>
            </a>
        {% endif %}
        </div>
        {%endif%}

    </p>
    </div>
</div>

</div>

{% endblock %}
{% block content %}
     <div class="boxitem_droite">

            {% if suffrage.estArchive%}
            <span class="badge badge-Light">
                archivé
            </span>
            {%endif%}
            {% if suffrage.estModifiable%}
            <span class="badge badge-info">
                modifiable
            </span>
            {%endif%}
     </div>
<div class="contenu suffrage article">
<div class="row">
<div class="col-sm-12 textcenter">
    <p>Article lié : <a href="{{ suffrage.article.get_absolute_url }}">{{ suffrage.article }}</a></p>
    <h3> {{ suffrage.titre }}</h3>
<p> <span class="badge {% if suffrage.estPublic%}badge-success{%else%} badge-warning {%endif%}">
                    {{suffrage.asso}}
            </span>
    <p>
        {%if suffrage.start_time%}
          <a href="{% url 'cal:agenda' %} " class="textepetit">
                Du {{ suffrage.start_time|date:"d/m/Y"  }} au {{ suffrage.end_time|date:"d/m/Y"  }}
              </a>
        {% endif %}
    </p>
{%if request.user.is_superuser %}
    {% endif  %}
       <p>
        {%if suffrage.get_statut.0 == 1%}<a href="{% url 'vote:resultatsSuffrage' slug=suffrage.slug %}"> {% endif %}
        <button {%if suffrage.get_statut.0 == 1%} {% else %} disabled{% endif %} class="btn {%if suffrage.get_statut.0 == 0%}btn-success {% else %} btn-warning{% endif %}">
            {{suffrage.get_statut.1}} {%if suffrage.get_statut.0 == 1%}-> Voir les résultats{% endif %}
    </button>
    {%if suffrage.get_statut.0 == 1%}</a>{% endif %}
    </p>

<div class="row justify-content-center">
<div class="col-sm-12 textcenter">

    {% if suffrage.get_statut.0 == 0 %}
        {%if not vote %}
            <p><a href="{% url 'vote:voter' slug=suffrage.slug %}" class="btn btn-success">Voter</a></p>
        {% else %}
            <div class="textcenter"><a href="{% url 'vote:voter' slug=suffrage.slug %}" class="btn btn-success"> Refaire mon vote</a></div></p>
            {% endif %}
    {% endif %}
</div>
</div>
 </div>
</div>
    <hr>


<div class="row" >
    <div class="col textright" >
        {% if actions %}
            <button type="button" class="btn" data-toggle="modal" data-target="#historique">
              {% fontawesome_icon 'bell' %} Historique
            </button>
            <!-- Modal -->
            <div class="modal fade" id="historique" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog textcenter" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <div class="row justify-content-center">
                          <div class="col col-sm-12">
                      <h5 >Historique</h5>
                          </div>
                      </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="contenu historique" id="idHistorique">
                      {%for action in actions %}
                            {% include "notifications/notifications_template3.html" with action=action%}
                      {%endfor%}
                    </div>
                  </div>
                </div>
              </div>
            </div>

        {% endif %}
    </div>
</div>
<div class="row">
<div class="col contenusuffrage">
   {{ suffrage.description |safe}}
    <hr>
    {% include 'vote/template_questions.html' %}
    {% if vote %}
    <hr>
        {% if vote.commentaire %}
        <h5>Mon commentaire</h5>
        <div>
            {{vote.commentaire |safe}}
        </div>
    {% else %}
        <h5>(Vous n'avez pas commenté le suffrage)</h5>
    {% endif %}
    {% endif %}

</div>
</div>

</div>

<hr>

{% include 'commentaires.html' %}

{% endblock %}
