{% extends 'base.html' %}

{% block subtitle %}
<div class="row">
    <div class="col-md-2">
        <a href="{{ suffrage.get_absolute_url }}" class="btn btn-primary" ><i class="fa fa-arrow-left"></i> retour</a>
    </div>
    <div class="col-md-8 textepetit">
        {{suffrage | safe}}
    </div>
    <div class="col-md-2 textepetit">
        Du {{ suffrage.start_time|date:"d/m/Y"  }} au {{ suffrage.end_time|date:"d/m/Y"  }}
    </div>
</div>

<h3>Résultats du vote</h3>
{% endblock %}
{% block content %}
  <h4>Questions binaires</h4>
<div class="row justify-content-center">
<div class="col-sm-12 textcenter ">
        <div style="overflow-x:auto;">
 <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg .tg-baqh{text-align:center;vertical-align:center}
.tg .tg-0lax{text-align:left;vertical-align:center}
</style>
            {% for qb, res in res_bin.items %}
            <h5>{{qb}}  {{res.resultat}}</h5>
<table class="tg tablevotes table-condensed table-striped" cellpadding="2">
<thead>
  <tr>
    <th class="tg-0lax">Votants </th>
    <th class="tg-baqh">{{res.nbTotal}}</th>
    <th class="tg-baqh">

    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Oui</td>
    <td class="tg-baqh">{{res.nbOui.0}}</td>
    <td class="tg-baqh">{{res.nbOui.1}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Non</td>
    <td class="tg-baqh">{{res.nbNon.0}}</td>
    <td class="tg-baqh">{{res.nbNon.1}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Ne se prononce pas</td>
    <td class="tg-baqh">{{res.nbNSPP.0}}</td>
    <td class="tg-baqh">{{res.nbNSPP.1}}</td>
  </tr>
</tbody>
</table>
            <hr>
{% endfor %}
    <h4>Questions soumises au jugement majoritaire</h4>

    <div class="row justify-content-center">
    <div class="col-sm-12 textcenter ">
        {% for qb, res in res_majo.items %}
        <h5>{{qb}}</h5>
        <p>Propositions :</p>
        <ol>
            {% for re in res%}
            <li>{{re.0}}</li>
            {% endfor %}
        </ol>
        <table class="comicGreen" cellpadding="2px;">
        <thead>
          <tr>
                <th class="tg-0lax">Proposition  </th>
                {% for choix in choixMajo %}
                    {% if forloop.counter0 > 0 %}
                    <th class="tg-baqh">{{choix.1}}</th>
                    {%endif%}
                {%endfor%}
                <th class="tg-baqh">Jauge majoritaire</th>
          </tr>
        </thead>
        <tbody>
        {% for re in res%}
          <tr>
            <td class="tg-0lax">{{forloop.counter}}</td>
            {% for nom, pourcent in re.2 %}
                 <td class="tg-baqh">{{pourcent}}%</td>
            {%endfor%}

            <td class="tg-baqh">{{re.1}}</td>
          </tr>
        {%endfor%}

        </tbody>
        </table>
        {% endfor %}
    </div></div></div>

<hr>

        <p>
    {% if vote %}

    <table class="table" style=" width: 80%;
  text-align: left;
  padding: 2px 8px;
  border-radius: 5px;"><tbody>
    <tr><td style="width: 30%;">Vous avez voté :</td><td style="width: 70%;">"{{vote.getVoteStr}}"</td></tr>
    {% if vote.commentaire %}
    <tr><td style="width: 30%;">Commentaire :</td><td style="width: 70%;">{{vote.commentaire|safe}}</td></tr>
    {% endif %}
    </tbody>
</table>
    {% else %}
<hr>
    <p> Vous n'avez pas participé à ce suffrage</p>
    {% endif %}
    </p>
</div>
</div>
{% endblock %}


