{% extends 'base.html' %}

{% block subtitle %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-2">
        <a href="{{ suffrage.get_absolute_url }}" class="btn btn-primary" ><i class="fa fa-arrow-left"></i> retour</a>
    </div>
    <div class="col-md-8 textepetit">
        {{suffrage.question | safe}}
    </div>
    <div class="col-md-2 textepetit">
        Du {{ suffrage.start_time|date:"d/m/Y"  }} au {{ suffrage.end_time|date:"d/m/Y"  }}
    </div>
</div>
<h3>Résultats du vote</h3>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-sm-12 textcenter">
    <h5 class="textcenter">{{suffrage.question | safe}}</h5>
    <p><button class="btn btn-static btn-success" ><emph>{{resultat}}</emph></button></p>

</div></div>
<hr>
<div class="row justify-content-center">
<div class="col-sm-12 textcenter ">
        <div style="overflow-x:auto;">
 <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg .tg-baqh{text-align:center;vertical-align:center}
.tg .tg-0lax{text-align:left;vertical-align:center}
</style>
<table class="tg tablevotes table-condensed table-striped" cellpadding="2">
<thead>
  <tr>
    <th class="tg-0lax">Nombre de votants </th>
    <th class="tg-baqh">{{nbTotal}}</th>
    <th class="tg-baqh">

    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Nombre de oui</td>
    <td class="tg-baqh">{{nbOui.0}}</td>
    <td class="tg-baqh">{{nbOui.1}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Nombre de non</td>
    <td class="tg-baqh">{{nbNon.0}}</td>
    <td class="tg-baqh">{{nbNon.1}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Nombre de ne se prononce pas</td>
    <td class="tg-baqh">{{nbNSPP.0}}</td>
    <td class="tg-baqh">{{nbNSPP.1}}</td>
  </tr>
</tbody>
</table>

<div class="row justify-content-center">
    <button type="button" class="btn" data-toggle="modal" data-target="#historique">
    Détail des votes {%if suffrage.estAnonyme %} (anonymes) {% endif %}
    </button>
            <!-- Modal -->
<div class="modal fade" id="historique" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog textcenter" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="row justify-content-center">
              <div class="col col-sm-12">
          <h5 >Détail des votes {%if suffrage.estAnonyme %} (anonymes) {% endif %}</h5>
              </div>
          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="contenu historique" id="idHistorique">
          {%for vote in votes %}
            <li class="list-group-item"  >

            <table class="table" style=" width: 100%;"><tbody>
            <tr><td style="width: 30%;">{%if suffrage.estAnonyme%}anonyme{% else %}{{vote.auteur}} {%endif%}</td><td>"{{vote.getVoteStr}}"</td></tr>
            {% if vote.commentaire %}
            <tr><td style="width: 30%;">Commentaire</td><td>{{vote.commentaire|safe}}</td></tr>
            {% endif %}
            </tbody>
        </table>
            </li>
            {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
        <p>
    {% if vote %}

    <table class="table" style=" width: 80%;
  text-align: left;
  padding: 2px 8px;
  border-radius: 5px;"><tbody>
    <tr><td style="width: 30%;">Vous avez voté :</td><td style="width: 70%;">"{{vote.getVoteStr}}"</td></tr>
    {% if vote.commentaire %}
    <tr><td style="width: 30%;">Commentaire :</td><td style="width: 70%;">{{vote.commentaire|safe}}</td></tr>
    {% endif %}
    </tbody>
</table>
    {% else %}
<hr>
    <p> Vous n'avez pas participé à ce suffrage</p>
    {% endif %}
    </p>
</div>
</div>
{% endblock %}


