{% extends 'vote/baseVote.html' %}
{% block title %} - Modifier le suffrage{% endblock %}
{% block subtitle %}
<h3>Modifier le suffrage : {{suffrage}}</h3>


<div class="row">
	<div class="col col-md-12 textcenter">

         <a href="{% url 'vote:ajouterQuestion' slug=suffrage.slug %}">
             <button type="button" class="btn  btn-success" >
                    <i class="fa fa-plus"></i>&nbsp;Ajouter/supprimer une question
            </button>
         </a>&nbsp;
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row-sm-12 row-lg-6 mx-auto">
    {% include 'form_template.html'%}
</div>




{% endblock %}

{% block comment %}{% endblock %}