{% load vote_filters %}

{% if questions_b %}
        <h5>Question{{questions_b|pluralize:",s"}} "binaires" (oui/non) : </h5>
        <table class="comicGreen">
            <thead>
                <tr>
                <th>Question posée</th>
                {%if vote %}<th>Mon vote</th>{% endif %}
                </tr>
            </thead>
            <tbody>
            {% for question in questions_b %}
            <tr>
            <td class="textleft">{%if questions_b|length > 1 %}{{ forloop.counter }}){% endif %} {{question}}</td>
            <td>{%if vote %}
                "{{vote|getVoteStr_questionB:question }}"
                {% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
    {% if questions_m %}
        <h5>Question{{questions_m|pluralize:",s"}} au jugement majoritaire : </h5>

        <table class="comicGreen">
            <thead>
                <tr>
                <th>Question posée</th>
                <th>Proposition</th>
                {%if vote %}<th>Mon vote</th>{% endif %}
                </tr>
            </thead>
            <tbody>
            {% for question in questions_m %}
                <tr>
                <td class="textleft" {%if vote %}colspan="3"{% else %}colspan="2"{% endif %}>{%if questions_m|length > 1 %}{{ forloop.counter }}) {% endif %}{{question}} ({{question.get_type_choix_display}})</td>
                </tr>
                {% for proposition in question.propositions %}
                    <tr>
                    <td></td>
                    <td>{%if question.propositions|length > 1 %}{{ forloop.counter }}){% endif %} {{proposition}}</td>
                    {%if vote %}
                        <td>"{{vote|getVoteStr_proposition_m:proposition }}" </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}