
{% load activity_tags %}
{% load fontawesome %}
<div class="card article_carte textcenter"  style="background-color:{{votation.get_couleur}}">
  <a href="{% url 'vote:lireVotation' slug=votation.slug %}">
      <div class="article-card-header smallcaps_h ">{{ votation.get_type_vote_display }}</div>
  <div class="card-body">
      <h4 class="btn-cat">{{ votation.titre }}</h4>
    <span class="badge {% if votation.estPublic%}badge-warning{%else%} badge-success {%endif%}" data-toggle="tooltip" data-placement="bottom" title="Votation {%if votation.estPublic%}visible par tous les inscrits{%else%}visible par les membres de Permacat seulement{%endif%}">
         {%if votation.estPublic%} Public{%else%}  Permacat  {%endif%}
    </span>
          <span class="badge  {% if votation.get_statut.0 == 0%} badge-success  {% elif votation.get_statut.0 == 1 %}badge-primary {% else %} badge-secondary{% endif %}" data-toggle="tooltip" data-placement="bottom" title="{{votation.get_statut.1}}">
    {{votation.get_statut.1}}
          </span>
    {% if request.user|is_following:votation %}
    <span class="badge btn-light" data-toggle="tooltip" data-placement="bottom" title="Vous recevez des notifications concernant cet votation par mail">
         {% fontawesome_icon 'bell' %}
    </span>
    {% else %}
    <span class="badge btn-light" data-toggle="tooltip" data-placement="bottom" title="Vous ne recevez pas de notifications concernant cet votation par mail">
         {% fontawesome_icon 'bell-slash' %}
    </span>
    {% endif %}
        <p class="card-subtitle mb-2 ">
      <p class="text-muted textsmall"> Créé le {{ votation.date_creation|date:"DATE_FORMAT" }} {%ifnotequal  votation.date_creation votation.date_modification %}(dernière modification le {{ votation.date_modification|date:"DATE_FORMAT" }}){%endifnotequal%}</p>
  </div>
  </a>
</div>
