{% extends 'base.html' %}

{% block subtitle %}
<h3>Voter</h3>
<a href="{{ suffrage.get_absolute_url }}" class="btn btn-secondary" >retour au suffrage</a>
{% endblock %}
{% block content %}
<h5 class="textcenter">{{suffrage.titre}}</h5>

<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

    <div id="rb_formset">
    {% for form in reponses_b_form %}
        {% include 'form_template2.html' %}
    {% endfor %}
    {% for form in reponses_m_form %}
        {% include 'form_template2.html' %}
    {% endfor %}
    </div>

     {% include 'form_template2.html' %}

  <button type="submit" class="btn btn-primary">Je soumets mon bulletin de vote !</button>
</form>
{% endblock %}


