{% extends 'jardinpartage/base_jardins.html' %}

{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h3> Bienvenue sur le forum</h3>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-12 textcenter">
        <div class="btn-group btn-group-justified">
         <a href="{% url 'jardinpartage:index' %}">
        <button type="button" class="btn btn-success" >
               Articles
            </button>
            </a>
        <a href="{% url 'agora' asso='public' %}">
         <button type="button" class="btn btn-success">
                 Salon Public
            </button></a>
        <a href="{% url 'agora_permacat' %}">
         <button type="button" class="btn btn-success">
                 Salon Permacat
            </button></a>
         <a href="{% url 'conversations' %}">
            <button type="button" class="btn btn-success" >
               Conversations privées
            </button>
            </a>
    </div>
   </div>

{% endblock %}

