{% extends 'base_asso.html' %}
{% load static %}
{% block title %} - Accueil{% endblock %}
{% block subtitle %}

<h2 class = "textcenter rowbienvenue">PermAgora</h2>

{% include "asso/presentation_asso_template.html" with adherent=request.user.adherent_scic assos='scic' %}

{% endblock %}
{% block content %}
<div class="row">
	<div class="col">
<div class="row justify-content-center">
	<div class="col-sm-12 col-md-8 textcenter">
		<img src="{% static 'permagora/images/PermAgora-Diagramme3.png' %}" alt="Diagramme" class="img-fluid" style="width:100%;" ></p>
	</div>
</div>
		<p>Vous pouvez trouver nos <a href="https://www.perma.cat/media/documents/2022/04/08/Statuts-Ri-Charte-PermAgora_final_N9gMKkP.pdf" trget="_blank">statuts, reglement intérieur et charte ici</a>. Si vous avez des commentaires, n'hesitez pas à nous contacter</p>
		<p>Nos projets s'articulent autour de la création d'un ou plusieurs tiers-lieux ou ecolieux et du développement de différents pôles : agriculture, bien-etre/santé, formation, évenementiel,en vue d'adapter notre territoire à un avenir menacé..</p>
<p>Parcourez <a href="{% url 'permagora:bienvenue' %}">notre plateforme </a>pour mieux comprendre notre démarche</p>
		<p>
		si vous aussi, vous avez envie de vivre autrement de manière écologique,
		de construire un monde plus durable et plus respectueux de notre
		environnement et des êtres vivants qui y vivent vous pouvez nous rejoindre !
		</p>

<hr>
		{% if request.user.is_anonymous %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'login'%}²²" disabled> Il faut être connecté pour pouvoir s'inscrire dans ce groupe</a>
			</p>
		{% else %}

			{% if request.user.adherent_scic %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'inscription_permagora' %}"> Vous êtes inscrit.e -> Cliquer ici pour se désinscrire </a>
			</p>
			{% else %}
			<p class="textcenter">
				 <a class="btn btn-primary" href="{% url 'inscription_permagora' %}"> Vous ne faites pas partie du groupe -> Cliquer ici pour s'inscrire</a>
			</p>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}