{% extends 'base_agenda.html' %}
{% block subtitle %}<div class="row">
  <div class="col-md-12 textcenter">
    <h3> L'Agenda</h3>
  </div>
  </div>
<hr>
{% endblock %}
{% block content %}
<div class="row textcenter">
	<div class="col">
	<a target="_blank" rel="noreferrer noopener" href="https://nextcloud.com/sharing#permacat@framagenda.org" style="padding:10px;background-color:#6A5687;color:#ffffff;border-radius:3px;padding-left:4px;">
		<span style="background-image:url(https://framagenda.org/core/img/logo/logo.svg?v=ab8bb066a5536fbd791fcbab4dfe41a3eec677b6);width:50px;height:30px;position:relative;top:8px;background-size:contain;display:inline-block;background-repeat:no-repeat; background-position: center center;"></span>
	</a>
	</div>
</div>

{% endblock %}


