{% extends 'base_site.html' %}
{% load static %}
{% load staticfiles %}
{% load app_filters %}
{% block title %}  - Annuaire - {{asso}}
{% endblock %}
{% block subtitle %}
<div class="row">
    <div class="col-sm-12 textcenter">
        {% if asso.abreviation == 'public' %}
    <h3>Annuaire du site* ({{profils|length}}/{{nb_profils}})</h3>
{% else %}
    <h3>Annuaire des membres du groupe : {{asso}}* ({{profils|length}}/{{nb_profils}})</h3>
{% endif %}
    </div>
</div>
{% include "asso/presentation_asso_template.html" with adherent=request.user|adherent_asso:asso assos=asso.abreviation%}

{% endblock %}
{% block content %}

{% include "template_annuaire.html" %}

{% endblock %}
