{% extends 'base.html' %}
{% load static %}
{% block header %}
<script src="{% static 'js/sorttable.js' %}"></script>
{% endblock %}
{% block title %}Coopérateurs
{% endblock %}
{% block subtitle %}
<div class="row">
    <div class="col-sm-12 textcenter">
    <h3>Les adhérents au site* ({{profils|length}}/{{nb_profils}})</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 textcenter">
        <div class="btn-group btn-group-justified">
            {% if request.user.is_permacat %}
            <a href="{% url 'annuaire_permacat' %}" >
                <button type="button" class="btn btn-primary" >Liste des adhérents Permacat</button>
                </a>
            {% endif %}
            {% if request.user.is_rtg %}
            <a href="{% url 'annuaire_rtg' %}" >
                <button type="button" class="btn btn-primary" >Liste des adhérents RameneTaGraine</button>
                </a>
            {% endif %}
            <a href="{% url 'carte' %}" >
                <button type="button" class="btn btn-primary" >Carte des inscrits</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div style="overflow-x:auto;">
    <table class="table table-condensed tableprofils table-striped sortable">
        <thead class="thead-inverse">
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Code postal</th>
                <th>Commune</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
        <tr>
           {%comment%} <td>
                <img src="{{ profil.avatar.get_absolute_url }}" alt="pas d'image" style="width:100px;height:100px" href="{% url 'profil' profil.id %}">
            </td>
            {%endcomment%}
            <td><a href="{% url 'profil' profil.id %}">{{ profil.username }}</a></td>
            <td><a href="{% url 'profil' profil.id %}">{{ profil.email }}</a></td>
            <td><a href="{% url 'profil' profil.id %}">{{ profil.adresse.code_postal }}</a></td>
            <td><a href="{% url 'profil' profil.id %}">{{ profil.adresse.commune }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>

    <p class="textcenter textepetit">(*qui ont accepté d'apparaitre dans l'annuaire)</p>
{% endblock %}
