{% extends 'base.html' %}

{% block subtitle %}
<h3 class = "textcenter rowbienvenue">Benvingut {% if request.user.is_autenticated %}request.user.username{%endif%} </h3>
<h4 class = "textcenter rowbienvenue">L'association de Permaculture Catalane vous souhaite la bienvenue !</h4>

{% endblock %}
{% block content %}
<div class="row">
		<div class="col-md-4">
			<h2>
				Pourquoi ?
			</h2>
			<p>
				Ce site vous offre la possibilité d'échanger des biens, des services, de créer du lien ! Parce que la planète s'épuise, parceque le climat s'emballe, les humains souffrent, les animaux disparaissent... il faut redonner du sens et du lien
			entre gens du pays. C'est ici et maintenant qu'il faut agir.
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Comment ?
			</h2>
			<p> adhérer à l'association vous permet de participer au réseau local d'ech1nge et d'entraide. Vous pourrez participer aux votations, proposer vos projets, et acceder au marché et au forum de ce site web pour partager les infos entre nous.
	</p>
		</div>
		<div class="col-md-4">
			<h2>
				Mais encore ?
			</h2>
			<p>l'association Permacat promeut les valeurs de la permaculture. . Nous organisonsdes rencontes tous les premiersdimanchedu mois,etdes visioconférences tous les lundi à 19h. Rejoignez nous!
				
			</p>
					</div>
	</div>

<div class="row">
		<div class="col-md-4">
			<a href="{% url 'marche' %}" class="btn btn-success">
          		accéder au marché
        	</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'blog:forum' %}" class="btn btn-success">
          		accéder au forum de discussion
        	</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'profil_courant' %}" class="btn btn-success">
          		acceder à mon profil
        	</a>
		</div>
</div>
{% endblock %}
