{% extends 'base.html' %}

{% block subtitle %}
<h3 class = "textcenter rowbienvenue">Benvingut {% if request.user.is_autenticated %}request.user.username{%endif%} </h3>
<h4 class = "textcenter rowbienvenue">L'association de Permaculture Catalane vous souhaite la bienvenue !</h4>

{% endblock %}
{% block content %}
<div class="row">
		<div class="col-md-4">
			<h2>
				Pourquoi ?
			</h2>
			<p>
				Ce site vous offre la possibilité d'échanger des biens, des services, de créer du lien ! Parce que la planète s'épuise, parceque le climat s'emballe, les humains souffrent, les animaux disparaissent... il faut redonner du sens et du lien
			entre gens du pays. C'est ici et maintenant qu'il faut agir.
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Comment ?
			</h2>
			<p>
				Inscrivez vous afin d'avoir accès au marché du réseau de coopération locale...
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Mais encore ?
			</h2>
			<p>
				L'entraide est primordiale, à nous de nous organiser...
			</p>
					</div>
	</div>

<div class="row">
		<div class="col-md-4">
			<a href="{% url 'marche' %}" class="btn btn-success">
          		accéder au marché, pour voir et publier des annonces
        	</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'blog:forum' %}" class="btn btn-success">
          		accéder au forum, pour discuter d'un projet ou d'un événement
        	</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'profil_courant' %}" class="btn btn-success">
          		acceder à mon profil, et gérer mes annonces, messages, etc.
        	</a>
		</div>
</div>
{% endblock %}
