{% extends 'base.html' %}
{% block subtitle %}<h1>Charte de Permacat</h1>{% endblock %}


{% block content %}
<div class="content">	
    <p>Les membres adhérents à l’association s’engagent à :</p>

    <ul class="cgu-definitions">
				<li>agir dans le respect du règlement intérieur</li>
				<li>agir selon les principes de la permaculture, et de ce qui en découle,</li>
				<li>communiquer avec bienveillance et interagir de manière non violente,</li>
				<li>respecter le caractère apolitique et areligieux de l’association, </li>
				<li>proposer et/ou participer à des échanges ou des projets</li>
			</ul>
</p>
</div>
{% endblock %}
