{% extends 'base_site.html' %}
{% block subtitle %}
{% load fontawesome %}
<h4><b>Quelques conseils de bonnes pratiques sur le site</b></h4>
	<p class="'textcenter">N'hésitez pas à poser vos questions dans <a href="../forum/article/faq-du-site">l'article consacré</a></p>

{% endblock %}
{% block content %}

<div class="row">
<div class="col-sm-12">
<ul>
	<li dir="auto"><b>Notifications :</b> pour suivre ce qu'il se passe sur le site, utilisez les <a href="https://www.perma.cat/notifications/activite/">notifications</a> (et n'oubliez pas d'appuyer sur "marquer comme lu" apr&egrave;s les avoir lu).</li>
<li dir="auto"><b>Agenda :</b>l'<a href="https://www.perma.cat/agenda/">agenda</a> est un bon moyen de savoir ce qu'il se passe dans la vraie vie, visuellement.</li>
<li dir='auto'><b>Annuaire/carte :</b>l'<a href='https://www.perma.cat/annuaire/public'>annuaire</a> ou <a href='https://www.perma.cat/cooperateurs/carte/public'>la carte</a> sont de bons moyens de faire connaissance avec de belles personnes, près de chez vous</li>
<li dir="auto"><b>Echanges :</b>utilisez plut&ocirc;t l'<a href="https://www.perma.cat/marche/lister/">altermarch&eacute;</a> pour les petites annonces, le <a href="https://www.perma.cat/forum/accueil/">forum</a> pour annoncer les &eacute;v&eacute;nements ou pr&eacute;senter des id&eacute;es, les "agora" (salons de discussions du site ou d'un groupe) pour discuter comme sur un groupe whatsapp et les <a href="https://www.perma.cat/ateliers/liste/">ateliers</a> pour... proposer des ateliers</li>
<li dir="auto"><b>Info par mail :</b>vous pouvez configurer les infos que vous recevez par mail sur la page <a href="https://www.perma.cat/accounts/mesSuivis/">abonnements</a> de votre profil</li>
<li dir="auto">prenez le temps d'explorer les diff&eacute;rentes sections du site pour vous familiariser et comprendre comment le site fonctionne et ce que vous pouvez en faire</li>
<li dir="auto">sur smartphone, vous pouvez <a href="https://www.clubic.com/tutoriels/article-891621-1-comment-ajouter-raccourci-web-page-accueil-smartphone-android.html">mettre le site sur votre page d'accueil</a> pour y acc&eacute;der facilement et venir nous voir plus r&eacute;guli&egrave;rement.</li>
<li dir="auto">en toute circonstance, gardez le sourire :)</li>
</ul>
<div dir="auto">&nbsp;</div>
<div dir="auto">pour toute question, consultez la <a href="https://www.perma.cat/faq/">Foire Aux Questions</a> (<span style="font-family: sans-serif;">ou <a href="https://www.perma.cat/forum/article/faq-du-site">posez</a></span><a href="https://www.perma.cat/forum/article/faq-du-site"> vos questions dans l'article consacr&eacute;</a>).</div>

</div>
</div>

{% endblock %}