
{%ifchanged %}<li class="list-group-item textcenter "  style="background-color:#e1e1d0"  >Le {{action.timestamp|date:"DATE_FORMAT"}}</li>{%endifchanged %}
<li class="list-group-item"  style="{% if request.user.last_login > action.timestamp %}background-color:#ffffe6{%endif%}">
    <a href="{%if action.data.url %}{{ action.data.url }} {%endif%}">({{action.timestamp|date:"G:i"}}) {{action.actor}}
        {%if action.description %}{{action.description}}{% endif %}</a></li>

{% comment %}
    <div class="card notification ">

        <div class="card-block">
        <p class="card-text">
        </p>
        </div>
      </a>
    </div>
{% endcomment %}