{% extends 'base.html' %}
{% block subtitle %}
<h4 class = "textcenter "> Notifications
</h4>

{% endblock %}
{% block content %}
<div class="row">
<div class="card-deck">
<div class="card carte-notif">
  <div class="card-header textcenter" style="background-color:#8eaf9d">
    Discussions
  </div>
  <ul class="list-group list-group-flush">
    {% for action in salons%}
        {% include "notifications_template.html" with action=action %}
    {% empty %}
        <p>Aucun nouveau message pour l'instant.</p>
    {% endfor %}
  </ul>
</div>
<div class="card carte-notif">
  <div class="card-header textcenter" style="background-color:#7b904b">
    Au marché
  </div>
  <ul class="list-group list-group-flush">
{% for action in offres%}
    {% include "notifications_template.html" with action=action %}
{% empty %}
    <p>Aucune nouvelle offre pour l'instant.</p>
{% endfor %}
  </ul>
</div>
<div class="card carte-notif">
  <div class="card-header textcenter" style="background-color:#f0a868">
    Articles
  </div>
  <ul class="list-group list-group-flush">
{% for action in articles %}
    {% include "notifications_template.html" with action=action %}
{% empty %}
    <p>Aucun nouvel article pour l'instant.</p>
{% endfor %}
  </ul>
</div>
<div class="card carte-notif">
  <div class="card-header textcenter" style="background-color:#6a8d73" style="background-color:#6a8d73">
    Projets
  </div>
  <ul class="list-group list-group-flush " >
{% for action in projets %}
    {% include "notifications_template.html" with action=action %}
{% empty %}
    <p>Aucun nouveau message pour l'instant.</p>
{% endfor %}
  </ul>
</div>
</div>



{% endblock %}