{% extends 'base_altermarche.html' %}

{% block subtitle %}
Voici les offres que vous avez selectionnées:
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
    <table class="table table-condensed tablepanier table-striped">
        <tbody>
    {% for item in items %}
        {% ifchanged item.produit.user.id  %}
        <tr>
            {%comment%}<td colspan="5" class="panierTableauStyle textcenter" ><a href="{% url 'profil_contact' item.produit.user.id%}?panier={{panier.id}}" class="btn btn-primary " type="button" id="buttonContacterProducteur">
			Email {{ item.produit.user.username }} </a> </td>
             {%endcomment%}
            <td colspan="5" class="panierTableauStyle textcenter" ><a href="{% url 'agora_conversation' item.produit.user.username%}?panier={{panier.id}}" class="btn btn-primary " type="button" id="buttonContacterProducteur2">
			Informer {{ item.produit.user.username }} de ma demande </a> </td>
        </tr>
        <tr>
            <td class="textcenter">Produit </td>
            <td class="textcenter">Quantité </td>
            <td class="textcenter">Prix unitaire</td>
            <td class="table-info textright">Total</td>
            <td class="textcenter" ></td>
        </tr>
        {%endifchanged %}
        <tr>
            <td class="textcenter"><a href="{{item.produit.get_absolute_url}}">{{ item.produit.nom_produit }}</a></td>
            <td class="textcenter">{{ item.quantite }} {{ item.produit.get_type_prix }}</td>
            <td class="textcenter">{{ item.produit.get_prixEtUnite }} </td>
            <td class="table-info textright">{{ item.total_prixEtunite }}</td>
            <td class="textcenter" >
                <a href="{%url 'supprimerDuPanier' item.id %}" type="button" class="btn btn-outline-danger">x</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
