
{% extends 'base.html' %}
{% block headerDocument%}
{% load leaflet_tags %}
{%endblock%}
{%block header %}
{% leaflet_js %}
{% leaflet_css %}
{%endblock%}
{% block title %}<h3>Profil de {{ user.username }}</h3> {% endblock %}
{% block subtitle %}
<div class="row">
  <div class="col-md-8">
    <h4> Profil de {{ user.username }}    </h4>

  </div>
    <div class="col-md-4 textright">
        <a href="{% url 'lireConversation' user.username %}" class="btn btn-success">
          <span class="glyphicon glyphicons-conversation"></span> Message
        </a>
        <a href="{% url 'profil_contact' user.id %}" class="btn btn-success">
          <span class="glyphicon glyphicon-envelope"></span> Email
        </a>
        <a href="{% url 'produit_lister' %}?producteur={{ user.username }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Ses propositions
            </a>
        </a>
    </div>
  </div>
  </div>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-6">

      {%if request.user.id == user.id %}
        <a href="{% url 'profil_modifier_user' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      <table class="table table-condensed tablepanier table-striped"><tbody>

    <tr>
        <td style="width:250px">Date d'adhésion :</td>
        <td>{{ user.profil.date_registration | date:"DATE_FORMAT"}}</td>
    </tr>
    <tr>
        <td style="width:250px">Pseudo :</td>
        <td>{{ user.username }}</td>
    </tr>
  {% if user.get_full_name %}
    <tr>
        <td style="width:250px">Nom :</td>
        <td>{{ user.get_full_name }}</td>
    </tr>
  {% endif %}
  {% if user.profil.adresse.telephone %}
    <tr>
        <td style="width:250px">Telephone :</td>
        <td>{{ user.profil.adresse.telephone }}</td>
    </tr>
  {% endif %}
  {% if user.email %}
    <tr>
        <td style="width:250px">Email :</td>
        <td>{{ user.email }}</td>
    </tr>
  {% endif %}

  {% if user.profil.avatar %}
    <tr>
        <td style="width:250px">Avatar : </td>
        <td>            <img src="{{ produit.avatar.url }}" alt="pas d'image" style="width:128px;height:128px"></td>
    </tr>
  {% endif %}

  {% if user.profil.site_web %}
    <tr>
        <td style="width:250px">Site_web :</td>
        <td> {{ user.profil.site_web }}</td>
    </tr>
  {% endif %}
        </tbody>
    </table>



      {%if request.user.id == user.id %}
        <a href="{% url 'profil_modifier' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
    <table class="table table-condensed tablepanier table-striped"><tbody>
    <tr>
        <td style="width:250px">Description</td>
        <td>{{ user.profil.description }}</td>
    </tr>

    <tr>
        <td style="width:250px">Compétences :</td>
        <td>{{ user.profil.competences }}</td>
    </tr>

        </tbody>
    </table>
      {%if request.user.id == user.id %}
        <a href="{% url 'profil_modifier_adresse' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
    <table class="table table-condensed tablepanier table-striped">
        <tbody>
    {%if user.profil.adresse.rue %}
    <tr>
        <td style="width:250px">Adresse :</td>
        <td>{{ user.profil.adresse.rue }}, {{ user.profil.adresse.code_postal }}</td>
    </tr>
  {% endif %}
    {%if user.profil.adresse.code_postal %}
    <tr>
        <td style="width:250px">Code postal :</td>
        <td>{{ user.profil.adresse.code_postal }}</td>
    </tr>
  {% endif %}
    {%if user.profil.adresse.pays %}
    <tr>
        <td style="width:250px">Pays :</td>
        <td>{{ user.profil.adresse.pays }}</td>
    </tr>
  {% endif %}
    {%if user.profil.adresse.telephone %}
    <tr>
        <td style="width:250px">Téléphone :</td>
        <td>{{ user.profil.adresse.telephone }}</td>
    </tr>
  {% endif %}
    <tr>
        <td style="width:200px">lat/lon :</td>
        <td>{{ user.profil.adresse.latitude }} / {{ user.profil.adresse.longitude }} </td>
    </tr>
        </tbody>
    </table>
</div>

  <div class="col-md-6">

      <style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 100%;
    }
    </style>
      <script type="text/javascript">
        function map_init_basic (map, options) {
        var lat = {{user.profil.adresse.get_latitude}};
        var lon = {{user.profil.adresse.get_longitude}};
        L.marker([lat, lon]).addTo(map);
        map.panTo(new L.LatLng(lat, lon));
    }
</script>
{% leaflet_map "yourmap" callback="window.map_init_basic" %}
</div>
</div>


      {%comment%}
    <script>


      var map;
      function initMap() {
      var lat = {{user.profil.adresse.get_latitude}};
      var lon = {{user.profil.adresse.get_longitude}};

       map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: lat, lng: lon},
          zoom: 6
        });
      //var marker = new google.maps.Marker({position:{lat: lat, lng: lon}});
      //marker.setMap(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC10StWuCZHLPmSZCyfNEdmgZ7CTqdngy0&callback=initMap"
    async defer></script>
      {%endcomment%}

{%comment%}
    <div id="map"></div>
<div id="myMap" style="width:80%;height:300px;"></div>
<script>
function myMap() {
      var lat = {{user.profil.adresse.get_latitude}};
      var lon = {{user.profil.adresse.get_longitude}};

       map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: lat, lng: lon},
          zoom: 6
        });
      var marker = new google.maps.Marker({position:{lat:lat, lng:lon}});
      marker.setMap(map);
};
</script>

   <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmGcPj0ti_7aEagETrbJyHPbE3U6gVfSA&callback=myMap">
    </script>
{%endcomment%}


{% endblock %}

    