{% extends 'base_profil.html' %}
{% block headerDocument%}
{% load leaflet_tags %}
{% load static %}
{% load app_filters %}
{% load avatar_tags %}
{%endblock%}
{%block header %}
{% leaflet_js %}
{% leaflet_css %}
{%endblock%}
{% block title %} - {% if request.user.username == user.username %} Mon Profil {% else %}Profil de {{ user.username }} {% endif %}
{% endblock %}
{% block subtitle %}
<div class="row">
  <div class="col-md-12 textcenter">
    <h3> {% if request.user.username == user.username %} Mon Profil {% else %}Profil de {{ user.username }} {% endif %}
    </h3>
  </div>
  </div>

<div class="row">
    <div class="col-md-12 textcenter">
        {% if  user.username != request.user.username %}
            <a href="{% url 'agora_conversation' user.username %}" class="btn btn-success">
              <span class="glyphicon glyphicons-conversation"></span> Message
            </a>
            <a href="{% url 'profil_contact' user.id %}" class="btn btn-success">
              <span class="glyphicon glyphicon-envelope"></span> Email
            </a>
            <a href="{% url 'activite' pseudo=user.username %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Son activité
            </a>
        {%else%}
            <a href="{% url 'conversations' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes conversations
            </a>
            <a href="{% url 'mesSuivis' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes abonnements
            </a>
            <a href="{% url 'mesActions' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes actions
            </a>
        {%endif%}
            {% if request.user.is_superuser %}
            <a href="https://www.perma.cat/gestion/bourseLibre/profil/{{user.id}}/" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Admin
            </a>
            {%endif%}
        <a href="{% url 'marche' %}?producteur={{ user.username }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; {%if  user.username != request.user.username %}Ses {%else%}Mes {%endif%}propositions
            </a>
    </div>
  </div>
{% if  user.username == request.user.username %}
{% if nbExpires %}
<hr>
<div class="row" >
  <div class="col-sm-12 textcenter" style ="color:#0f7407;">
	  <b><a href="{% url 'supprimerProduits_expires_confirmation' %}">Vous avez {{nbExpires}} offre{{nbExpires|pluralize:",s"}} du marché qui {{nbExpires|pluralize:"a,ont"}}  expiré. Cliquez ici pour l{{nbExpires|pluralize:"a,es"}} supprimer ou l{{nbExpires|pluralize:"a,es"}}  modifier</a></b>
  </div>
</div>
<hr>
{%endif%}
{%endif%}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10">
      {%if request.user == user or request.user.is_superuser%}
        <a href="{% url 'profil_modifier' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      <table class="table table-condensed tablepanier table-striped"><tbody>

        <tr>
            <td style="width:250px">Avatar :</td>
            <td>{% avatar user class="img-circle-profil" %}</td>
        </tr>
        <tr>
            <td style="width:250px">Pseudo :</td>
            <td>{{ user.username }}</td>
        </tr>
        {%if user.accepter_annuaire or request.user == user %}
              {% if user.get_full_name %}
                <tr>
                    <td style="width:250px">Nom :</td>
                    <td>{{ user.get_full_name }}</td>
                </tr>
              {% endif %}
              {% if user.adresse.telephone %}
                <tr>
                    <td style="width:250px">Telephone *:</td>
                    <td>{{ user.adresse.telephone }}</td>
                </tr>
              {% endif %}
            <tr>
                <td style="width:250px">Email :</td>
                <td>{{ user.email }}</td>
            </tr>


                  {% if user.site_web %}
                    <tr>
                        <td style="width:250px">Site_web *:</td>
                        <td> <a href="{{ user.site_web }}" target="_blank">{{ user.site_web }}</a></td>
                    </tr>
                  {% endif %}
           
        {% endif %}

              {% if user.description %}
                    <tr>
                        <td style="width:250px">Description :</td>
                        <td>{{ user.description|safe }}</td>
                    </tr>
              {% endif %}

              {% if user.competences %}
	    <tr>
		<td style="width:250px">Savoir-faire :</td>
		<td>{{ user.competences|safe }}</td>
	    </tr>
              {% endif %}
       {% if request.user.adherent_pc or request.user == user %}
	    <tr>
		<td style="width:250px">Adhérent Permacat *:</td>
		<td>{{user.adherent_pc|translateOuiNon}}{%if user.adherent_pc and request.user.is_superuser %}, cotisation à jour : {% if user.isCotisationAJour_pc %} oui {% else %}
        <a href="{% url 'adhesion_asso' asso='pc' %}"> non </a>{% endif %}{% endif %}</td>
	    </tr>
        {% endif %}
    {%if request.user.adherent_rtg or request.user == user %}
	    <tr>
		<td style="width:250px">Adhérent Ramene Ta Graine *:</td>
		<td>{{user.adherent_rtg|translateOuiNon}}</td>
	    </tr>
    {% endif %}
    {%if request.user.adherent_fer or request.user == user %}
	    <tr>
		<td style="width:250px">Adhérent Fermille *:</td>
		<td>{{user.adherent_fer|translateOuiNon}}</td>
	    </tr>
    {% endif %}
    {%if request.user.adherent_scic or request.user == user %}
	    <tr>
		<td style="width:250px">Adhérent PermAgora *:</td>
		<td>{{user.adherent_scic|translateOuiNon}}{%if user.adherent_scic and request.user.is_superuser %}, cotisation à jour : {% if user.isCotisationAJour_scic %} oui {% else %}
      <a href="{% url 'adhesion_asso' asso='scic' %}"> non </a>{% endif %}{% endif %}</td>
	    </tr>
    {% endif %}
    {%if request.user.adherent_citealt or request.user == user %}
	    <tr>
		<td style="width:250px">Adhérent Cité Altruiste *:</td>
		<td>{{user.adherent_citealt|translateOuiNon}}</td>
	    </tr>
    {% endif %}
    {%if request.user.adherent_viure or request.user == user %}
        <tr>
            <td style="width:200px">Inscrit au collectif Viure *: </td>
            <td>{{user.adherent_viure|translateOuiNon }}
        </tr>
    {% endif %}
    {%if request.user.adherent_bzz2022 or request.user == user %}
        <tr>
            <td style="width:200px">Inscrit au collectif Bzzz *: </td>
            <td>{{user.adherent_bzz2022|translateOuiNon }}
        </tr>
    {% endif %}
    {%if request.user.adherent_jp or request.user == user %}
        <tr>
            <td style="width:200px">Inscrit aux jardins partagés : </td>
            <td>{{user.adherent_jp|translateOuiNon }}
        </tr>
    {% endif %}
      {% if request.user == user %}
        <tr>
            <td style="width:200px">Inscrit à la newsletter ^: </td>
            <td>{{user.inscrit_newsletter|translateOuiNon }}
        </tr>
        {% endif %}

        <tr>
            <td style="width:200px">Apparait dans l'annuaire et coordonnées sont visibles: </td>
            <td>{{user.accepter_annuaire|translateOuiNon }}
        </tr>
      </tbody>
    </table>
      </div>
</div>
<div class="row">

  <div class="col-md-6">
      {%if request.user.id == user.id %}
        <a href="{% url 'profil_modifier_adresse' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      {%if request.user.is_superuser %}
        <a href="https://www.perma.cat/gestion/bourseLibre/adresse/{{user.adresse.id}}/change/">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Admin Modifier
            </button>
        </a>
      {%endif%}
    <table class="table table-condensed tablepanier table-striped">
    <tbody>
        {%if user.accepter_annuaire  or request.user == user %}
            {% if request.user == user %}
                {%if user.adresse.rue %}
                <tr>
                    <td style="width:250px">Adresse ^:</td>
                    <td>{{ user.adresse.rue }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {%if user.adresse.commune %}
            <tr>
                <td style="width:250px">Commune :</td>
                <td>{{ user.adresse.commune }}</td>
            </tr>
            {% endif %}
            {%if user.adresse.code_postal %}
            <tr>
                <td style="width:250px">Code postal :</td>
                <td>{{ user.adresse.code_postal }}</td>
            </tr>
            {% endif %}
            {% if user.accepter_annuaire or request.user == user %}
                {%if user.adresse.pays %}
                    <tr>
                        <td style="width:250px">Pays ^:</td>
                        <td>{{ user.adresse.pays }}</td>
                    </tr>
                {% endif %}

                {%if request.user == user %}
                <tr>
                    <td style="width:200px">lat/lon ^:</td>
                    <td>{{ user.adresse.latitude }} / {{ user.adresse.longitude }} </td>
                </tr>
                {% endif %}
                {% if distance %}
                <tr>
                    <td style="width:200px">Distance <small>(à vol d'oiseau)</small> :</td>
                    <td>{{distance | floatformat }} km
                </tr>
                {% endif %}
            {% endif %}
        {% endif %}

    </tbody>
    </table>
      <small> {% if  request.user == user %}Les champs notés par un ^ ne sont visibles que par vous et l'administrateur du site. {%endif%}Les champs notés par un * ne sont visibles que par les membres du collectif concerné</small>
  </div>

  <div class="col-md-6">
{% if user.accepter_annuaire or request.user == user%}
       <style>

            .leaflet-container {  /* all maps */
                width:  100%;
                height: 100%;
            }
            </style>
              <script type="text/javascript">
                function map_init_basic (map, options) {

          var greenIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',

            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

                var lat = {{user.adresse.get_latitude}};
                var lon = {{user.adresse.get_longitude}};
                L.marker([lat, lon], {icon: greenIcon}).addTo(map);
                map.panTo(new L.LatLng(lat, lon));
            }
        </script>
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    {% endif %}
</div>
</div>

{% endblock %}

    
