
{% extends 'base.html' %}
{% block headerDocument%}
{% load leaflet_tags %}
{% load static %}
{%endblock%}
{%block header %}
{% leaflet_js %}
{% leaflet_css %}
{%endblock%}
{% block title %}Profil de {{ user.username }} {% endblock %}
{% block subtitle %}
<div class="row">
  <div class="col-md-12 textcenter">
    <h4> Profil de {{ user.username }}    </h4>
  </div>
  </div>

<div class="row">
    <div class="col-md-12 textcenter">
        {% if  user.username != request.user.username %}

            <a href="{% url 'agora_conversation' user.username %}" class="btn btn-success">
              <span class="glyphicon glyphicons-conversation"></span> Message
            </a>
            <a href="{% url 'profil_contact' user.id %}" class="btn btn-success">
              <span class="glyphicon glyphicon-envelope"></span> Email
            </a>
        {%else%}
            <a href="{% url 'panier_afficher'  %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-bag"></span> Mon panier
            </a>
            <a href="{% url 'conversations' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes conversations
            </a>
            <a href="{% url 'afficher_requetes' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes requêtes
            </a>
            <a href="{% url 'mesSuivis' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes suivis
            </a>
        {%endif%}
        <a href="{% url 'marche' %}?producteur={{ user.username }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; {%if  user.username != request.user.username %}Ses {%else%}Mes {%endif%}propositions
            </a>
    </div>
  </div>
{% if  user.username == request.user.username %}
{% if nbExpires %}
<hr>
<div class="row" >
  <div class="col-sm-12 textcenter" style ="color:#0f7407;">
	  <b><a href="{% url 'supprimerProduits_expires_confirmation' %}">Vous avez {{nbExpires}} offre{{nbExpires|pluralize:",s"}} du marché qui {{nbExpires|pluralize:"a,ont"}}  expiré. Cliquez ici pour l{{nbExpires|pluralize:"a,es"}} supprimer ou l{{nbExpires|pluralize:"a,es"}}  modifier</a></b>
  </div>
</div>
<hr>
{%endif%}
{%endif%}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10">
      {%if request.user == user %}
        <a href="{% url 'profil_modifier' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      <table class="table table-condensed tablepanier table-striped"><tbody>

        <tr>
            <td style="width:250px">Pseudo :</td>
            <td>{{ user.username }}</td>
        </tr>
        {%if user.accepter_annuaire  or request.user == user %}
              {% if user.get_full_name %}
                <tr>
                    <td style="width:250px">Nom :</td>
                    <td>{{ user.get_full_name }}</td>
                </tr>
              {% endif %}
              {% if user.adresse.telephone %}
                <tr>
                    <td style="width:250px">Telephone *:</td>
                    <td>{{ user.adresse.telephone }}</td>
                </tr>
              {% endif %}
            <tr>
                <td style="width:250px">Email :</td>
                <td>{{ user.email }}</td>
            </tr>

                    <tr>
                        <td style="width:250px">Description :</td>
                        <td>{{ user.description|safe }}</td>
                    </tr>

                  {% if user.site_web %}
                    <tr>
                        <td style="width:250px">Site_web *:</td>
                        <td> {{ user.site_web }}</td>
                    </tr>
                  {% endif %}
            {%if request.user.is_permacat or request.user == user %}
                  {% if user.avatar %}
                    <tr>
                        <td style="width:250px">Avatar *: </td>
                        <td><img src="{{ produit.avatar.url }}" alt="pas d'image" style="width:128px;height:128px"></td>
                    </tr>
                  {% endif %}


                    <tr>
                        <td style="width:250px">Savoir-faire *:</td>
                        <td>{{ user.competences|safe }}</td>
                    </tr>
                    <tr>
                        <td style="width:250px">Statut Permacat *:</td>
                        <td>{{user.statutMembre_str}}</td>
                    </tr>
                  {% comment %}
                    <tr>
                        <td style="width:250px">Statut RameneTaGraine *:</td>
                        <td>{{user.statutMembre_rtg_str}}</td>
                    </tr>
                  {% endcomment %}
            {% endif %}
        {% endif %}
      </tbody>
    </table>
      </div>
</div>
<div class="row">

  <div class="col-md-6">
      {%if request.user.id == user.id %}
        <a href="{% url 'profil_modifier_adresse' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
    <table class="table table-condensed tablepanier table-striped">
    <tbody>
      {%if user.accepter_annuaire  or request.user == user %}
            {% if request.user == user %}
                {%if user.adresse.rue %}
                <tr>
                    <td style="width:250px">Adresse ^:</td>
                    <td>{{ user.adresse.rue }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {%if user.adresse.commune %}
            <tr>
                <td style="width:250px">Commune :</td>
                <td>{{ user.adresse.commune }}</td>
            </tr>
            {% endif %}
            {%if user.adresse.code_postal %}
            <tr>
                <td style="width:250px">Code postal :</td>
                <td>{{ user.adresse.code_postal }}</td>
            </tr>
            {% endif %}
            {% if user.accepter_annuaire or request.user == user %}
                {%if user.adresse.pays %}
                    <tr>
                        <td style="width:250px">Pays ^:</td>
                        <td>{{ user.adresse.pays }}</td>
                    </tr>
                {% endif %}

                {%if request.user == user %}
                <tr>
                    <td style="width:200px">lat/lon ^:</td>
                    <td>{{ user.adresse.latitude }} / {{ user.adresse.longitude }} </td>
                </tr>
                {% endif %}
                {% if distance %}
                <tr>
                    <td style="width:200px">Distance <small>(à vol d'oiseau)</small> :</td>
                    <td>{{distance | floatformat }} km
                </tr>
                {% endif %}
            {% endif %}
        {% endif %}
    </tbody>
    </table>
      <small> {% if  request.user == user %}Les champs notés par un ^ ne sont visibles que par vous. {%endif%}Les champs notés par un * ne sont visibles que par les membres "permacat"</small>
  </div>

  <div class="col-md-6">

  {% if request.user.is_permacat %}
              <style>

            .leaflet-container {  /* all maps */
                width:  100%;
                height: 100%;
            }
            </style>
              <script type="text/javascript">
                function map_init_basic (map, options) {

          var greenIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',

            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

                var lat = {{user.adresse.get_latitude}};
                var lon = {{user.adresse.get_longitude}};
                L.marker([lat, lon], {icon: greenIcon}).addTo(map);
                map.panTo(new L.LatLng(lat, lon));
            }
        </script>
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    {% else %}
    <p>(affichage de la carte réservé aux adhérents Permacat)</p>
    {% endif %}
</div>
</div>

{% endblock %}

    
