{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}S'enregistrer{% endblock %}
{%block message%}
{%endblock%}
{% block content %}

<div class="jumbotron">
    <div class="row justify-content-sm-center">
        <h4>Renseignez les informations suivantes pour vous inscrire (les champs avec (*) sont obligatoires)</h4>
    </div>
    <div class="row justify-content-sm-center">
        <h6><a href="https://permacat.herokuapp.com/register/">Lien vers l'inscription sécurisée</a></h6>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-12 col-md-10 col-lg-8 ">
            <form role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
                {%include 'form_template2.html' with form=form_profil%}
                {%include 'form_template2.html' with form=form_adresse%}


          <button type="submit" class="btn btn-success">S'enregistrer</button>
        </form>
        </div>
    </div>
</div>


    {% endblock %}

