{% extends 'base.html' %} 
{% block title %}Accueil{% endblock %}

			<div class="jumbotron well">
{% block subtitle %}
<h1 class = "textcenter rowbienvenue">PermaCat</h1>
<h3 class = "textcenter rowbienvenue">Statuts</h3>

{% endblock %}
{% block content %}
<div class="content textleft">
<H3>Article 1 - Dénomination, Objet, Durée</H3>
<p>L’association « PERMAculture CATalane » a été fondée le 16 février 2019.
Son objet est de créer un reseau local d'échanges, de coopération, de solidarité et d’entraide constitué par les adhérents de l'association, afin de promouvoir la permaculture au sens large. Pour cela, elle organise et participe à différents événements, dans le respect de la charte et du règlement intérieur. Sa durée est illimitée.
</p>
<H3>Article 2 - Siège Social</H3>	
<p>Le siège social est fixé au 8 rue Fragonard, 66000 Perpignan
</p>
<H3>Article 3 - Composition</H3>	
<p>L'association se compose de deux types de membres : les membres co-présidents et les membres actifs. Tous les adhérents sont membres actifs de l’association et bénéficient d’une voix lors des assemblées générales. Le bureau est composé de membres co-présidents. Tout membre actif peut devenir coprésident en se déclarant comme tel lors de l'assemblée générale ordinaire de début d'année. Les missions des co-présidents sont définies dans le règlement intérieur. Elles ont pour vocation de faire fonctionner à minima l'association sans prise de pouvoir décisionnel autre qu'administratif.
</p>
<H3>Article 4 - Admission</H3>	
<p>Les nouveaux adhérents devront être cooptés par 3 membres de l’association afin de se faire connaître. Ils s’engagent à respecter le règlement intérieur et à verser la cotisation dont le montant est précisé dans le règlement intérieur.
</p>
	<H3>Article 5 – Radiation</H3>	
 <p>La qualité de membre se perd par :
	 <ul class="cgu-definitions">				
	   <li>- la démission, </li>
     <li> - le décès,</li>
      <li>- la radiation prononcée en Assemblée Générale Ordinaire pour non-paiement de la cotisation ou motif grave. L’intéressé est invité préalablement par mail, à expliciter le diffėrend en AG ordinaire ou par écrit. La décision ne peut être prise qu’à la majorité des membres présents ou représentés.
 </li></ul>
		 </p>
<H3>Article 6 – Affiliation</H3>	
<p>L’association n’est affiliée à aucun autre organisme, mais se réserve le droit d’adhérer à d’autres associations, unions ou regroupements, par décision de l'Assemblée Générale Ordinaire.
</p>
<H3>Article 7 – Ressources de l’association</H3>	
<p>Elles sont constituées :
	<ul class="cgu-definitions">				
	   <li> - des cotisations des membres,</li>
     <li> - des subventions des collectivités publiques,</li>
   <li>  - des sommes perçues en contrepartie des actions et prestations fournies par l’association,</li>
    <li> - des dons, mécénat, sponsoring. </li>
</ul>
</p>
<H3>Article 8 – Gestion</H3>	
<p>Il est tenu une comptabilité faisant apparaître, annuellement, un compte de résultat et un bilan. Il est justifié, chaque année, auprès des membres de l'association et des autorités, de l’emploi des fonds provenant de toutes subventions accordées au cours de l’année écoulée.
</p>
<H3>Article 9 – Bureau</H3>	
<p>Le bureau est composé par les co-présidents. Il tient la comptabilité de l'association et organise les assemblées générales.
</p>
<H3>Article 10 – Indemnités</H3>	
<p>La fonction de membre du bureau est gratuite et bénévole.
</p>
<H3>Article 11 – Assemblée générale ordinaire</H3>	
<p>Elle concerne tous les membres et se réunit au moins une fois par an. Les modalités de convocation et de délibération sont dans le règlement intérieur.
Lors de la première reunion en debut d'année civile les présidents de séance exposent le rapport moral et le bilan d’activités de l’année écoulée. L’assemblée générale fixe alors le montant de la cotisation annuelle, et après épuisement de l’ordre du jour, il est procédé à l’admission des nouveaux membres coprésidents. Pour délibérer, un quorum (1/3) des coprésidents de l’association présents ou représentés est requis. Si cette proportion n’est pas atteinte, l’assemblée générale est convoquée à nouveau, dans un délai de 15 jours. Aucun quorum n’est alors requis.
</p>
<H3>Article 12 – Assemblée générale extraordinaire</H3>	
<p>Sur demande de la majorité des coprésidents, elle peut être convoquée. La convocation doit être notifiée par mail à tous les membres au moins 1 mois à l'avance. L’ordre du jour ne peut comporter qu’un seul sujet : la modification des statuts, la mise en sommeil ou la dissolution. Les modalités de délibération sont dans le règlement intérieur.
</p>
<H3>Article 13 – Dissolution</H3>	
<p>Elle doit faire l’objet d’une déclaration en préfecture. Elle ne pourra être prononcée que lors d’une assemblée générale extraordinaire. Elle choisira une association, de même objet, à laquelle seront versées les avoirs de l’association. Elle désignera des membres chargés de procéder à la liquidation de l’association.
</p>
<H3>Article 14 – Modification de statuts</H3>	
<p>Ils peuvent être modifiés lors de l’assemblée générale extraordinaire. Le projet doit être présenté un mois avant la séance, à tous les membres de l’association par écrit (email).
</p>
<H3>Article 15 – Mise en sommeil de l’association</H3>	
<p>Elle doit être actée en assemblée générale extraordinaire, qui en fixera la durée maximale et décidera de sa reprise. Au delà de ce délai, il sera procédé à la dissolution de l’association. Durant cette période, l’ensemble des éventuels moyens de paiement, contrats et abonnements seront suspendus et le patrimoine de l’association ne pourra être ni cédé, ni vendu.
</p>
<H3>Article 16 – Règlement intérieur</H3>	
<p>Il sera élaboré ou modifié avec tous les membres qui le désirent, pour être voté en Assemblée Générale Ordinaire.
</p>
<p>Les présents statuts ont été adoptés par l’assemblée générale constitutive tenue à Perpignan, le 25 février 2019.
</p>


<h3 class = "textcenter rowbienvenue">Reglement intérieur</h3>

<p>
Il s'inspire des principales idées directrices des statuts et de la charte.

</p>
    <H3>Préambule - constitution du RI</H3>
<p>
   Le règlement intérieur a été constitué, élaboré  et discuté en la présence d'au moins 4 co-présisents présents à tour de rôle. Chaque réunion de travail a fait l'objet d'une invitation  par mail  à près d'une trentaine de sympathisants.  L'accès au "framapad" contenant les statuts, la charte et le règlement intérieur en vue d'une écriture collective, a été donné dès le 16 janvier 2019 et a fait l'objet de 3 réunions : le 18 janvier (vidéoconférence), le 26 janvier (vidéo conférence) et le 1er mars (vidéoconférence).
</p>
<H3>Article 0 - definitions</H3>
<p>
- Permaculture: pris au sens large,  signifie tout projet individuel ou collectif qui s'inscrit dans une démarche éthique visant à construire des systèmes nourriciers ou organisationnels en vue d'une société durable et plus juste
</p>
<H3>Article 1 - Objet</H3>
<p>
 Le présent règlement intérieur s'applique conformément aux statuts de l'association "PERMAculture CATalane"("PermaCat" en abrégé). L'objet de l'association est de créer un réseau d'échanges coopératifs, de solidarité et d’entraide locale entre les adhérents de l'association en priorité. Pour cela, elle organise et participe à différents projets et événements.
  La direction de l'association est collégiale, c'est à dire que  tous les adhérents peuvent organiser des AGO et participer aux votations à égalité (membre actif ou coprésident).  l'Assemblée Générale Ordinaire (AGO) devra être organisée selon les procédures indiquées ci-dessous (cf art 5) car l'AGO est le seul organe décisionnel.
</p><p>
 Ainsi, tout projet individuel ou collectif qui s'inscrit dans une démarche permacole pourra trouver un soutien de l'association spécifique et finalisé par un vote des adhérents.
 </p><p>
    PERMACAT peut participer à tout événement concernant la permaculture (conférence, réunion informative, atelier, gmarché, marché permacat, exposition, vide grenier, opérations écologiques, formation par l’éducation populaire, intervention auprès de toute association ou personne morale, ainsi que toute autre activité légale, en accord avec le présent règlement) en vue de :
    <ol>
    <li> développer des réflexions et des pratiques alternatives écologiques, sociales, ethiques et solidaires,</li>
        <li> sensibiliser théoriquement et pratiquement à ces enjeux,</li>
        <li> faire respecter par tous moyens légaux, l’application des lois et règlements édictés en faveur de ces enjeux.</li>
    </ol>
</p><p>
L’association pourra fournir des prestations de service (e.g. conférences, animations d’ateliers, site internet organisant les échanges entre adhérents …) qui pourront être rémunérées en euros ou en monnaies alternatives. Des agréments et affiliations pourront être demandés en fonction des projets.

</p>
 <H3>Article 2 - Adhésion</H3>
<p>
Pour adhérer et devenir membre de l'association, la personne doit remplir le bulletin d'adhésion (en ligne ou sur papier) en donnant ses coordonnées (nom, prénom, numéro de telephone, adresse, adresse mail), après avoir participé à au moins une réunion ou visioconférence de l'association et payé le montant de la cotisation, fixé à minimum 5 euros pour l'année 2019. Le paiement est considéré comme un engagement à agir dans le cadre de l'association selon le règlement intérieur, les statuts et la charte de l'association.
</p><p>
Tout adhérent peut devenir co-président. Pour cela, il doit formuler sa demande par courrier (ou mail) avant l'AGO prévue en début d'année ou en présentiel et remplir le cerfa prévu à cet effet lors de cette assemblée générale ordinaire afin de communiquer la nouvelle liste à la préfecture.

</p>
<H3>Article 3 - Démission</H3>
<p>
Tout membre peut à tout moment cesser d'adhérer à l'association en informant tous les adhérents (sur le site perma.cat). Il s'engage à finaliser ses echanges et engagements en cours de bonne foi et dans la mesure du possible. Le montant de la cotisation n'est pas remboursable.

</p>
<H3>Article 4 - Fonctionnement</H3>
<p>
Le bureau (composé des membres co-présidents) s'engage à faire fonctionner à minima l'association. Il est responsable de la partie administrative de l'association (organisation d'au minimum la premierz aGO de l'annee et des assemblees extra-ordinaires), tient la comptabilité, règle les factures, enregistre les nouvelles adhésions, répond au courrier et accomplit les missions en AGO.
</p><p>
Comme la responsabilité de tous les membres co-présidents est  engagée, il a un droit de veto dans le cas où une decision prise en AGO ne présenterait pas les conditions de sécurité ou présenterait un caractère illégal ou non conforme au réglement intérieur, aux statuts ou à la charte. Un veto est validé lorsque  la majorité (50% + 1) du bureau. Tous  les coprésidents doivent etre Informés par mail. Et Le vote n'est pas anonyme et doit Durer 24H.
</p><p>
     Les décisions concernant l'association, notamment la participation à un événement ou à un projet seront obligatoirement décidées en Assemblée Générale Ordinaire et soumis au vote de tous les adhérents.
</p>
<H3>Article 5 - Assemblée générale ordinaire:</H3>
<p>
la vie de l'association, ses engagements et ses projets sont discutés puis votés lors des Assemblées Générales Ordinaires qui sont les seuls organes décisionnels. Elles sont à distinguer des réunions de travail qui sont elles sans prise de décision.
 Tout adhérent peut organiser une AGO. Ces réunions se tiennent en présentiel, ou dématérialisé (plate forme de téléconférence par internet), 3 membres minimum. L'AGO fera l'objet d'un compte-rendu qui fera office de procès verbal  sur le site.
</p><p>
Convocation de l'AGO:  Tous les membres doivent être informés sur le site au moins une semaine à l'avance de la date prévue. Le mail de convocation doit mentionner l'ordre du jour et qui organise l'AG (président de séance et secrétaire)
</p><p>
Déliberation: les décisions concernant l'organisation et les modalités de vote de l'AGO peuvent être decidées et votées lors de l'AGO elle-même. Cependant,la recherche du consensus sera privilégiée et toutes les décisions concernant l'association devront être proposes  au vote de tous les membres de l'association par l'organisation d'un vote sur la plateforme balotilo.org. Tous les membres sont informés, invités à participer et à voter par mail et sur site.
Il existe 3 types de votes:
    <ol>
    <li>Le vote simple (Oui/Non/Ne se prononce pas)</li>
    <li> Le vote par classement (Ordre de preference)</li>
    <li>Le vote par approbation (1, 2 ou N choix possibles à choisir dans une liste plus grande)</li>
    </ol>
    La durée minimale du vote est de 6 jours. Les votes ne sont pas anonymes les décisions seront alors prises à la majorité absolue fixée à deux tiers des votes exprimés sur « balitelo.fr », (avec un minimum de 5 votes exprimés ou 50% des copresidents si l'association comporte plus de 20 membres).    L'AG suivante enterine le vote (sauf si le bureau fait valoir son droit de veto)
</p><p>
En cas d'une prise de décision d’urgence (délai inférieur à une semaine), tous les membres doivent être informés par mail. Les décisions seront alors prises à la majorité des votes exprimés sur « balitelo.fr », avec un minimum de 5 votes exprimés, pendant un délai d’au moins 36 h.

</p>
<H3>Article 6 - Projet</H3>
<p>
L'association pourra soutenir des projets proposés ou non par les adhérents (mairie, associations diverses) qui nécessiteront de signer des conventions, ou de payer des factures liés aux frais  Dans tous les cas, sans exception, pour mener à bien un projet dans le cadre de l'association voici la procédure.
    <ol>
    <li>Tout ébauche de projet fera l'objet d'une annonce sur le site dans la section "projets"</li>
<li>Discussions du projet avec les adhérents avec compte rendus sur le site</li>
<li>Le porteur de projet devra définir précisément son projet et remplir la "fiche projet" qui indique l'objet, les responsabilités, le nature et le degré d'aide demandé à l'association (y compris les frais éventuels)</li>
<li>Le porteur de projet devra organiser une AGO qui a pour objet principal la validation (par consensus) de la fiche projet</li>
<li>Une fois la fiche validée, le projet est soumis au vote des adhérents (6 jours, non anonyme), sous forme de question binaire (par exemple: "voulez vous que l'association soutienne ce projet?")</li>
<li>A la suite du vote, une AGO doit etre organisée pour entériner le vote. Si la décision du vote est positive, le bureau pourra alors faire valoirr sond roit de veto. Si la décision est négative, on repart à l'étape 2. Dans tous les cas, les votants pourront exprimer les raisons de leur vote à titre individuel.</li>
    </ol>
</p><p>
 Les porteurs de projet rendront compte chaque deux mois maximum du suivi du projet sur le site (rubrique projet) Tout projet  soumis au vote (qui implique l'utilisation de l'association (convention, représentation de l'association),doit obligatoirement être porté à la connaissance de tous (article sur le site), obtenir un vote favorable . Sans cela, le projet ne pourra pas être fait au nom de l'association.
</p><p>
Un projet porté  par des membres actifs nécessitera l'appui d'un membre co-président (référent) afin de faciliter toute démarche administrative.  Le nom du  referent parmi les copresidents qui a par sa fonction la légitimité de signer (aussi le droit de signer) devient donc co-responsable du projet et de son déroulement dans le cadre de la loi.
</p><p>
   Le ou les porteurs de projet qui représentent l'association  ont droit de signature pour signer tout papier administratif. pour cela un document de réponse de l'association au projet mentionnera cette possibilité pour tout membre n'étant pas co-président afin d'assurer une légitimité des porteurs de projets. Sans ce document, les démarches devraient être évitées ou n'engageront que la personne qui n'aura pas respectée la procédure.
</p><p>
   La fiche projet devra être la plus complète possible : préciser  le type d'aide (humaine, administrative, financiere), en qualité et quantité  demandée à l'association. Chaque fiche de projet fera l'objet d'une réponse de l'association qui suivra la même procédure (vote donc accord des adhérents) que la fiche de projet.
</p><p>
  Par conséquent, toute depense de l'association devra être prealablement acceptée par un vote.
</p><p>
 Dans le cas, où la majorité des votants n'était pas obtenue, le projet ne pourra pas se faire dans le cadre de l'association Permacat ou au nom de l'association. Si le projet se poursuit, soutenu par des membres de l'association, cette dernière se dégage de toute responsabilité. Seuls, les projets votés selon les modalités ci-dessus et adoptés par l'association engageront l'association.

</p>
<H3>Article 7 - Trésorerie</H3>
<p>
 L’association élira un trésorier titulaire et un trésorier suppléant parmi les co-présidents pour gérer les comptes en euros et/ou en monnaie alternative. Seuls le trésorier et le trésorier suppléant ont pouvoir sur le compte. Ils sont les seuls à pouvoir administrer les comptes bancaires, signer les chèques et documents administratifs au nom de l’association. Ils peuvent signer indépendamment l’un l’autre Le trésorier et son suppléant pourront procéder à l'ouverture du compte.
</p><p>
    L'association souscrira une assurance. Seuls les frais engagés par les membres pour le fonctionnement de l’association (frais de déplacement, de fournitures, d’achats divers, etc) peuvent être remboursés sur justificatifs après acceptation des dépenses en assemblée générale ordinaire. La cotisation des adhérents ainsi que les dons serviront en premier lieu au fonctionnement de l’association: paiement de la déclaration à la préfecture, assurance de l'association, budget de fonctionnement.
</p>
<H3>Article 8 - Assemblée générale extra-ordinaire :</H3>
<p>
    Convocation : Tous les membres doivent être informés sur le site au moins une semaine à l'avance de la date prévue. Le mail de convocation doit mentionner l'ordre du jour et qui organise l'AG (président de séance et secrétaire)
    Quorum : Au moins 1 tier des membres du bureau doivent etre présents. Si le quorum n'est pas atteint, l'AG doit etre re convocoquée, aucun  quorum n'est alors requis
    Délibération : les décisions doivent etre prises à la majorité du bureau
</p>
<H3>Article 9 - Révision du règlement intérieur</H3>
<p>
le présent règlement peut être soumis à la révision en assemblée générale ordinaire sur simple demande d'au moins 10% des adherents. Le vote doit porter sur une ou plusieurs propositions précises. Elle doit être soumise au vote. La révision doit etre acceptée à la majorité des deux tiers des votants. Avec la participation d'au moins un quart des adhérent
</p>
<H3>Article 10 - Gestion des conflits</H3>
<p>
En cas de conflit, un ou des adhérents de l'association peuvent se proposer en tant que médiateur avec l'accord des personnes concernées par le conflit, pour aider à résoudre ce conflit sur la base de la communication non violente.
</p>
<H3>Article 11 - Organisation du site et des marchés mensuels</H3>
<p>
Le site Perma.cat présente les activités de deux types de membres: les simpl inscrit au site Perma.cat et les adhérents à l'association PermaCat. C'est un moyen de communication et d'échange qui est mis provisoirement et gracieusement à la disposition de tous les ainscrits du site qu'ils soient adhérents ou non à PERMAculture CATalane.
La partie accessible aux non-adhérents à l'association contient la présentation de l'association et la communication des évènements publics de l'association tels que les marchés, et les annonces publiques des membres PERMACAT.
Les adhérents de PERMACAT ont accès à des offres privées uniquement entre adhérents de l'association, à des salons de discussion  privés, à la connaissance de projets entre membres, au vote et à la participation aux projets PERMACAT)
Tous les adhérents  au site ont accès au forum, aux profils des adhérents, au marché PermaCat qui accepte tout échange en monnaie alternative quelle que soit   (monnaies locales, monnaie libre, don, échange, etc... excepté les Euros).
</p><p>
Des marchés sont organisés une fois par mois le 1er dimanche de chaque mois. Les vendeurs doivent être inscrits au site. L'accès aux marchés est ouvert à tous, adhérents ou non adhérents.
</p>

{% endblock %}
