
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load fontawesome %}

{% block content %}

<div id="titre" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
            <small></small>
            <h3>S'inscrire à la Newsletter</h3>
            <hr class="grd1">
            <p class="lead">Recevez des emails de Permacat !</p>


            </div>
        </div><!-- end title -->
    </div>
</div>


<div class="section wb">
    <div class="container-fluid">
        {% include 'form_template.html' %}

        <hr class="hr1">

    </div><!-- end container -->
</div><!-- end section -->
{% endblock %}