{% extends 'base.html' %} 

{% block content %}

 <div class="container">
        <div id="loginbox" style="margin-top:50px;">
            <div style="padding-top:10px" class="panel-body" >

            <form class="form-horizontal" role="form" action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="Message" value="{{ message }}">
                {% include 'form_template.html'%}
            </form>
                <div class="textcenter textinfo"><p>Pas encore inscrit ? <a class="underlineHover" href="{% url 'senregistrer' %}">Créer un compte</a></p></div>
                <div class="textcenter textinfo"><p>Mot de pass oublié ? <a class="underlineHover" href="{% url 'password_reset' %}">Réinitialiser mot de passe</a></p></div>

</div>

{% endblock %}
