{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center ">
    <div class="col-sm-12 d-flex">
        <form id="login-form" method="post"  action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td><label for="id_username">Username</label></td>
                    <td><input type="text" name="username" autofocus maxlength="254" required id="id_username" /></td>
                </tr>
                <tr>
                    <td><label for="id_password">Password</label></td>
                    <td><input type="password" name="password" required id="id_password" /></td>
                </tr>
            </table>
            {% if form.errors %}
                <p class=" label label-danger">
                    Pseudo ou mot de passe erroné...
                </p>
            <p>({{form.errors}})</p>
            {% endif %}

            <input type="submit" value="Login"  class="btn btn-primary pull-right" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
<div class="row justify-content-center ">
    <div class="col d-flex ">
        <a href="{% url 'senregistrer' %}"> Nouvelle inscription</a>
    </div>
</div>
{% endblock content %}