{% extends 'base_defraiement.html' %}

{% block subtitle %}
<div class="row justify-content-center">
	<div class="col col-md-12 textcenter"><h3>Ajouter l'adresse de la réunion '{{reunion.titre}}'</h3>
	</div>

</div>
{% endblock  %}
{% block content %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<div class="row justify-content-sm-center">
<div class="col-sm-12 col-md-10 col-lg-9 text-center">
<form method="post">
  {% csrf_token %}
 {% include 'form_template2.html'%}
  {% csrf_token %}
    <p>Rentrez les coordonnées GPS (latitude, longitude) :</p>

 {% include 'form_template2.html' with form=form_adresse2%}
  <button type="submit" name="gpsbtn"  class="btn btn-primary">Valider les coordonnées GPS</button>
</form>
</div>
</div>


<div class="row justify-content-sm-center">
<div class="col-sm-12 col-md-10 col-lg-9 text-center">
        <a href="{% url 'defraiement:ajouterAdresseReunionChezParticipant' slug=reunion.slug %}">
           <button type="button" class="btn btn-s btn-success ">
                <i class="fa fa-arrow-right"></i> Ou utiliser l'adresse d'un participant
           </button>
        </a>
</div>
</div>
{% endblock %}