{% extends 'base_defraiement.html' %}
{% load fontawesome %}
{% load hitcount_tags %}

{% block subtitle %}

<p class="textcenter">
    <a href="{% url 'defraiement:reunions_asso' asso_slug=reunion.asso.abreviation %}">
        <button type="button" class="btn btn-sm btn-primary">
        &nbsp;Revenir à la liste des réunions
        </button>
    </a>
</p>

 <div class="row rowcentre">
        <div class="col-sm-12 textcenter">
            {%if request.user.is_superuser or request.user.username == reunion.referent or request.user == reunion.auteur  %}
            <div class = "btn-group">
            <a href="{%if request.user.is_authenticated %}{% url 'defraiement:modifierReunion' slug=reunion.slug %}{% endif %}">
               <button type="button" class="btn btn-sm btn-warning">
                 &nbsp;Modifier
               </button></a>
            </div>
            {% endif %}
            {%if request.user.is_superuser or request.user == reunion.auteur  %}
				<a href="{%if request.user.is_authenticated %}{% url 'defraiement:supprimerReunion' slug=reunion.slug %}{% endif %}">
               <button type="button" class="btn btn-sm btn-danger">
                 &nbsp;Supprimer la reunion
               </button></a>
            {% endif %}
        </div>
 </div>
{% endblock %}

{% block content %}
    <div class="row contenu reunion">
    <div class="col justify-content-center">

    <div class="row titre_reunion" style="background-color:{{reunion.reunion.get_couleur}};margin-bottom:5px;">
        <div class="col textcenter" >
              <h2> Reunion : {{ reunion.titre }}</h2>

 <p class="inscrit_reunion textcenter">
     {{ reunion.get_categorie_display }}
{% if reunion.start_time %}
     , le {{ reunion.start_time|date:"l d F Y"}},
{% endif %}

    </p>
        </div>
    </div>
 	<div class="row">
    <div class="col-md-12 textcenter">
		<p>
                {{reunion.get_logo_nomgroupe_html|safe}}

			{% if reunion.article %}
                <span class="badge badge-info">
                Article associé : <a href="{{ reunion.article.get_absolute_url}}">{{ reunion.article.titre}}</a>
                </span>
            {% endif %}
		</p>
        <p class="infos  textepetit">rédigé le {{ reunion.date_creation|date:"DATE_FORMAT" }}, par <a href="{% url 'profil' reunion.auteur.id %}">{{reunion.auteur.username}}</a>, dernière modification le {{ reunion.date_modification|date:"DATE_FORMAT" }}

		</p>
    </div>
    </div>

<hr>
        <div class="row">
        <div class="col-sm-12 textcenter">
        {% if not reunion.adresse %}
        <a href="{% url 'defraiement:ajouterAdresseReunion' slug=reunion.slug %}">
           <button type="button" class="btn btn-s btn-success ">
                <i class="fa fa-arrow-right"></i> Ajouter l'adresse de la réunion
           </button>
        </a>
        {% else %}
            <p><b>Adresse : </b><a href="https://www.google.com/maps/search/?api=1&query={{reunion.adresse.get_adresse_str}}" target="_blank">{{ reunion.adresse.get_adresse_str}} </a>
                    <a href="{% url 'defraiement:modifierAdresseReunion' slug=reunion.slug %}">
                       <button type="button" class="btn btn-s btn-success ">
                            <i class="fa fa-arrow-right"></i> Modifier l'adresse
                       </button>
                    </a>
                    </p>

        {% endif %}
        </div>
    </div>
<hr>

    {% if reunion.description %}
    <div class="row">
        <div class="col-sm-12 textcenter">
            <p><b>Description : </b>{{ reunion.description|safe}}</p>
        </div>
    </div>
<hr>
    {% endif %}
    <div class="row">
        <div class="col-sm-12 ">
        {% if liste_participants %}
            <table class="table table-condensed ">
                <tr>
                <th>Participant (conducteur)</th>
                <th>distance</th>

        {% if request.user.is_superuser %}<th>GMaps</th>
        {% endif %}
                <th>Supprimer</th>
                </tr>
            </thead>
			<tbody>

            {% for part in liste_participants %}
				<tr>
					<td class="">
                        <a href="{{part.0.get_absolute_url}}">{{part.0}}</a>

					</td>
					<td class="textepetit">
						 {% if request.user.is_superuser %}<a href="{{part.2}}" target='_blank'>{% endif%}{{part.1}} km{% if request.user.is_superuser %}</a>{% endif%}
					</td>

        {% if request.user.is_superuser %}
                    <td>
                         <a href="{{part.3}}" target='_blank'> lien </a>
                    </td>

        {% endif %}
                    <td>
                        <a class="btn btn-sm btn-danger textleft" href="{% url 'defraiement:supprimerParticipantReunion' slug_reunion=reunion.slug id_participantReunion=part.0.id%}"><i class="fa fa-times"></i> </a>
                    </td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
        {% endif %}
            <p class="textcenter">
                <a href="{% url 'defraiement:ajouterParticipantReunion' slug_reunion=reunion.slug %}">
                <button type="button" class="btn  btn-success ">
                <i class="fa fa-arrow-right"></i> Ajouter un participant
                </button>
                </a>
            </p>
            <p class="textcenter">
                <a href="{% url 'defraiement:ajouterParticipantsReunion' slug_reunion=reunion.slug %}">
                <button type="button" class="btn  btn-success ">
                <i class="fa fa-arrow-right"></i> Ajouter des participants
                </button>
                </a>
            </p>
            <p class="textcenter">
                <a href="{% url 'defraiement:recalculerDistanceReunion' slug_reunion=reunion.slug %}">
                <button type="button" class="btn btn-primary ">
                <i class="fa "></i> recalculer distances
                </button>
                </a>
            </p>
        </div>
    </div>
<hr>


</div>
</div>
<hr>


{% endblock %}
