{% extends 'base_defraiement.html' %}
{% load fontawesome %}
{% load hitcount_tags %}

{% block subtitle %}

<p class="textcenter">
    <a href="{% url 'defraiement:participants' asso_slug=part.asso.abreviation %}">
        <button type="button" class="btn btn-sm btn-primary">
        &nbsp; <i class="fa fa-arrow-left"></i> Revenir à la liste des participants
        </button>
    </a>
</p>

 <div class="row rowcentre">
        <div class="col-sm-12 textcenter">
            <div class = "btn-group">
            <a href="{%if request.user.is_authenticated %}{% url 'defraiement:modifierParticipantReunion' id=part.id %}{% endif %}">
               <button type="button" class="btn btn-sm btn-warning">
                 &nbsp;Modifier
               </button></a>
            </div>
				<a href="{%if request.user.is_authenticated %}{% url 'defraiement:supprimerParticipant' id=part.id %}{% endif %}">
               <button type="button" class="btn btn-sm btn-danger">
                 &nbsp;Supprimer
               </button></a>
        </div>
 </div>
{% endblock %}

{% block content %}
    <div class="row contenu reunion">
    <div class="col justify-content-center">

    <div class="row titre_reunion" style="background-color:{{reunion.reunion.get_couleur}};margin-bottom:5px;">
        <div class="col textcenter" >
              <h2> {{ part.nom }}</h2>
        </div>
    </div>
        {% if request.user.is_superuser %}
 	<div class="row">
    <div class="col-md-12 textcenter">
        <p>
            <a href="https://www.google.com/maps/search/?api=1&query={{part.adresse.get_adresse_str}}" target="_blank">su : {{ part.adresse.get_adresse_str}}</a>
		</p>
    </div>
    </div>
        {% endif %}
<hr>


    <div class="row">
        <div class="col-sm-12 textcenter">
            <h5>Réunions :</h5>
            <table class="table2 table table-condensed tableprofils table-striped sortable">
                <thead><td>Date</td><td>Titre</td><td>Distance</td></thead>
            {% for r in reunions %}
                <tr>
                    <td> <a href="{{r.0.get_absolute_url}}" >{{r.0.start_time}}</a></td>
                <td><a href="{{r.0.get_absolute_url}}" >{{r.0.titre}}</a>
                </td>
                    <td> <a href="{{r.0.get_absolute_url}}" >{{r.1}} km</a></td>
                </tr>
             {% endfor %}
            </table>
            <h5>Total : {{part.getDistance_routeTotale}} km</h5>
        </div>
    </div>
</div>
</div>
<hr>


{% endblock %}
