{% extends 'base_defraiement.html' %}
{% load fontawesome %}
{% load hitcount_tags %}

{% block subtitle %}

<p class="textcenter">
    <a href="{% url 'defraiement:reunions' %}">
        <button type="button" class="btn btn-sm btn-primary">
        &nbsp;Revenir à la liste des réunions
        </button>
    </a>
</p>

{% endblock %}

{% block content %}
<h4  class="textcenter">Récapitulatif</h4>

<hr>
<div class="row-sm-12">
<div class="col-sm-12">
	<form id="reunionForm" class="form-horizontal" role="form" action="" method="post"
		enctype="multipart/form-data">
		{% csrf_token %} <input type="hidden" name="Reunion"
			value="{{ reunion }}"> {% include 'form_template.html'%}
	</form>
</div></div>
<hr>
{% if unite == euros %}
<p class="textcenter">
    <a href="{% url 'defraiement:recapitulatif' asso='request.get.asso' type_reunion='None' %}" >
        <button type="button" class="btn btn-sm btn-primary">
         Kilométrages
        </button>
    </a>
</p>
<hr>
<hr>
{% endif %}

<div class="row contenu reunion">
<div class="col justify-content-center">
<table class="table table-condensed tableprofils table-striped sortable">
        <thead class="thead-inverse">
            <tr>
                {% for ll in entete %}
                <th>{{ll|safe}}</th>
        {% endfor %}
            </tr>
        </thead>
        <tbody>
    {% for ll in lignes %}
    <tr>
        {% for l in ll %}
        <td>{{l|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
        </tbody>
</table>

</div>
</div>
<hr>
{% comment %}
<p class="textcenter">
    <a href="{% url 'defraiement:export_recapitulatif' %}" target="_blank">
        <button type="button" class="btn btn-sm btn-primary">
        &nbsp;Exporter en CSV
        </button>
    </a>
</p>
{% endcomment %}

{% endblock %}
