{% extends 'base_defraiement.html' %}
{% block title %} - Modifier la réunion {% endblock %}
{% block subtitle %}
<h3>Modifier la réunion</h3>
{% endblock %}
{% block content %}

<div class="row-sm-12 row-lg-6 mx-auto">
    <form id="articleForm" class="form-horizontal" role="form" action="" method="post"
	enctype="multipart/form-data" >
	{% csrf_token %} <input type="hidden" name="Reunion"
		value="{{ article }}"> {% include 'form_template.html'%}
</form>
</div>


<script>
    $(function() {
    // Enable on all forms
    $('form').areYouSure();
    });
</script>

{% endblock %}

{% block comment %}{% endblock %}