
<div class="container">
    {% include 'form_template.html' %}



    {%comment%}
<form action="" method="post">{% csrf_token %}
        <table width="100%">
        <col style="width:30%">
        <col style="width:70%">
        {{ form.as_table }}
    </table>
    <div class="btn-group" style="display:flex;justify-content:center;align-items:center;"
        <button type="cancel" onclick="window.history.back();" class="btn btn-warning ">Annuler</button>
        <button type="submit" value="Update" class="btn btn-success">Valider</button>
    </div>
</form>
    {%endcomment%}
</div>