
{% extends 'permagora/base.html' %}
{% block content %}

<div class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-lg-10 col-md-12 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
              <h2 class="text-center">Supprimer mon compte sur ce site</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8" data-aos="fade-up" data-aos-delay="500">

<form action="" method="post">{% csrf_token %}
    <p>Etes vous sur.e de vouloir supprimer votre profil ?</p>
    <input type="button"  onclick="window.history.back();"  value="Annuler" />
    <input type="submit" value="Confirmer" />
</form>

        </div>
      </div>


    </div>
    </div>

{% endblock %}
