{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load fontawesome %}
{% load permagora_filters %}
{%block header_document %}
{%endblock%}
{% spaceless %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>PermAgora Catalane</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'permagora/fonts/icomoon/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'permagora/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'permagora/css/magnific-popup.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'permagora/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'permagora/css/bootstrap-datepicker.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'permagora/fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'permagora/css/aos.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'permagora/css/style.css' %}"/>
    <script src="{% static 'permagora/js/jquery-3.3.1.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'permagora/js/cookielaw.js'%}" type="text/javascript"></script>


    {% fontawesome_stylesheet %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'permagora/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'permagora/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'permagora/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'permagora/site.webmanifest '%}">
<link rel="mask-icon" href="{% static 'permagora/safari-pinned-tab.svg' %}" color="#78d55b">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="{% static 'permagora/mstile-144x144.png' %}">
<meta name="theme-color" content="#ffc40d">


  </head>
  <body>

<a name="top"></a>

  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-11 col-xl-2">
                <a href="{% url 'permagora:bienvenue' %}" class="text-white h2 mb-0">
                <img src="{% static 'permagora/images/logo_9.png' %}" alt="Logo" class="img-fluid" style="height:43px;">
                </a>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li ><a href="{% url 'permagora:bienvenue' %}">Accueil</a></li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La démarche</a>
              <div class="dropdown-menu" aria-labelledby="dropdown10">
                <a class="dropdown-item" href="{% url 'permagora:introduction'%}">Introduction</a>
                <a class="dropdown-item" href="{% url 'permagora:risques'%}">Constat/Risques</a>
                <a class="dropdown-item" href="{% url 'permagora:preconisations'%}">Préconisations</a>
                  {% comment %}<a class="dropdown-item" href="{% url 'permagora:signataires' %}">Soutiens</a>{% endcomment %}
              </div>
            </li>
                <li class="cta"><a href="{% url 'permagora:propositions' %}">Les plans d'action</a></li>

            <li class="nav-item dropdown disabled ">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Le site</a>
              <div class="dropdown-menu disabled " aria-labelledby="dropdown10">
                <a class="dropdown-item" href="{% url 'permagora:planSite' %}">Plan du Site</a>
                    {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'permagora:voirNotifications' %}">Notifications</a>
                    {%endif%}
                <a class="dropdown-item" href="{% url 'permagora:faq' %}">FAQ</a>
                <a class="dropdown-item" href="{% url 'permagora:cgu' %}">CGU</a>
                {% if request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'permagora:statistiques' %}">Statistiques</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'permagora:contact' %}">Nous contacter</a>
                <a class="dropdown-item" href="{% url 'bienvenue' %}">Accueil perma.cat</a>
                <a class="dropdown-item" href="{% url 'blog:index_asso' asso='scic'%}#ref-titre">Forum Permagora</a>
              </div>
            </li>
                  <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownpermagora" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Le collectif</a>
              <div class="dropdown-menu disabled " aria-labelledby="dropdown10">
                <a class="dropdown-item" href="{% url 'permagora:presentationPermagora' %}">Qui sommes-nous ?</a>
                <a class="dropdown-item" href="{% url 'permagora:organisationPermagora' %}">Notre organisation</a>
              </div>
            </li>

                <li class="nav-item dropdown">
           <a data-toggle="dropdown" class="nav-link dropdown-toggle " href="{% url 'permagora:profil_courant' %}" aria-haspopup="true" aria-expanded="false"  >
              {% fontawesome_icon 'user' %}  </a>
            <ul class="dropdown-menu textcenter" aria-labelledby="navbarDropdownMenuLink">
              {% if user.is_authenticated %}
               <li> <a class="nav-link dropdown-item" href="{% url 'permagora:profil_courant' %}">Mon profil</a></li>
                <li> <span class="nav-link divider" role="separator"></span></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'permagora:logout' %}">Déconnexion</a></li>
              {%else%}
               <li> <a class="nav-link dropdown-item" href="{% url 'permagora:login' %}">Me connecter</a></li>
              {%endif%}
            </ul>
        </li>
         {% if request.user.is_superuser %}
        {% load admin_urls %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}permagora/">admin</a></li>
        {% endif %}
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>
      </div>
    </header>


 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-lg-10 ">
 {% block subtitle %}
  {% endblock %}
            </div>
          </div>
        </div>
        </div>
        </div>

 {% block content %}
  {% endblock %}

        <div class="row">
          <div class="col-md-12 text-center">
  <a href="#top">  <h3>{% fontawesome_icon 'arrow-circle-up' %} </h3>  </a></a>
          </div></div>

 {% block messages %}
  <hr>
 <div class="site-section">
  <div class="container">
<div class="row mb-5 text-center">
    <h4>Commentaires</h4>
</div>
<div class="row text-center">
    <p><small>Une remarque ? une suggestion ? Vous n'êtes pas d'accord ? Vous voulez enrichir le texte ? N'hésitez pas à donner votre avis ci-dessous...</small></p>
</div>
<div class="site-comment commentaires" id="idConversation">
{% for comment in commentaires %}
    <div class="row {% if comment.auteur.id == request.user.id %} msg-auteur  {%else%} msg-destinataire{%endif%}">

        <div class="col-sm-4 col-md-4 col-lg-3">
           <p class="infos  textepetit">{{ comment.date_creation|date:"d/m/Y G:i" }}{% ifchanged %}, {{comment.auteur}}{% endifchanged %}</p>
        </div>
        <div class=" col-sm-8 col-md-8 col-lg-9 message ">
                <div class="col">{{ comment.message|safe|url}}</div>
        </div>
    </div>
{% endfor %}
</div>
<script>
    var messageBody = document.querySelector('#idConversation');
    messageBody.scrollTop = idConversation.scrollHeight - idConversation.clientHeight;
</script>

<hr>

{% if request.user.is_authenticated %}
<div class="row justify-content-center mb-5">
    <div class="col-sm-12 justify-content-center">
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row justify-content-center">
    {% include 'form_template3.html' %}
</form></div>
</div>
{% else %}
    <p>(Vous devez vous <a href="{% url 'permagora:login'%}?next={%url 'permagora:bienvenue'%}">authentifier</a> pour laisser un commentaire, merci !)</p>
{% endif %}
          </div>
        </div>

  {% endblock %}


    <footer class="site-footer text-center ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="footer-heading mb-4"><a href="{% url 'permagora:planSite' %}">Plan du site</a></h2>
        <small>
  {% block compteur %}
  {% endblock %}
         {% if request.user.is_superuser %}
          {%endif%}
            PermAgora  |  Licence CC BY-SA 4.0 <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/2.0/fr/88x31.png" /></a> | <script>document.write(new Date().getFullYear());</script> template fait avec <i class="icon-heart text-primary" aria-hidden="true"></i> par <a href="https://colorlib.com" target="_blank" >Colorlib</a> 
               </small>
          </div>
        </div>
     
      </div>
    </footer>
{% comment %}
    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">A Propos</h2>
            <p>La plateforme en ligne de PermAgora</p>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading text-uppercase mb-4">Navigation rapide</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'contact' %}">Nous contacter</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="footer-heading text-uppercase mb-4">Connect with Us</h2>
            <p>
              <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
              <a href="#" class="p-2"><span class="icon-twitter"></span></a>
              <a href="#" class="p-2"><span class="icon-youtube"></span></a>
              <a href="#" class="p-2"><span class="icon-instagram"></span></a>
            </p>
          </div>
        </div>
        <div class="row">

            <div class="col-sm-12 text-center">
              <div class="border-top pt-5">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved |  template made with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

{% endcomment %}

  <script src="{% static 'permagora/js/jquery-migrate-3.0.1.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/popper.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/bootstrap.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/owl.carousel.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/jquery.stellar.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/jquery.countdown.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/jquery.magnific-popup.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/bootstrap-datepicker.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'permagora/js/aos.js'%}" type="text/javascript"></script>

  <script src="{% static 'permagora/js/main.js'%}" type="text/javascript"></script>
  </body>
</html>
{% endspaceless %}
