{% extends 'permagora/base_sanscommentaire.html' %}
{% block content %}

		<div class="content textleft">
			
				<H1>Conditions g&eacute;n&eacute;rales d'utilisations</H1>
        <section class="p2">
			<H2>1. Pr&eacute;sentation </H2>
			<p>Les présentes « conditions générales d'utilisation » (CGU) ont pour objet l'encadrement juridique des modalités de mise 
				à disposition des services du site <b>permagora.herokuapp.com</b> et leur utilisation par « l'Utilisateur ».</p>
			<p>Toute connexion au site est subordonnée au respect des présentes conditions. Pour l'Utilisateur, le simple accès 
			au site à l'adresse URL suivante http://www.perma.cat/permagora implique l'acceptation expresse et irrévocable de l'ensemble
			des conditions décrites ci-après.</p>
			<p><b>www.perma.cat/permagora</b> se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales
			d'utilisation. Le membre devra alors à sa prochaine connexion valider les nouvelles CGU. </p>
	</section>		


	<section class="p2">
			<H2>2. Définitions</H2>
			<p>La présente clause a pour objet de définir les différents termes essentiels du contrat : </p>
			<ul class="cgu-definitions">
				<li><b>Site internet/plate-forme : </b>désigne le site internet ou plateforme accessible à l'adresse url suivante : www.www.perma.cat/permagora, et dont l'objet est de mettre en relation les membres afin de leur permettre l'échange de biens ou de services sous la forme d'un troc, un échange sans contrepartie financière.</li>
				<li><b>www.perma.cat/permagora : </b>désigne le site internet.</li>
				<li><b>Utilisateur : </b>ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le site.</li>				
				<li><b>Membre : </b>l'Utilisateur devient membre lorsqu'il s'est enregistré et identifié sur le site. Les membres ne peuvent avoir qu'un profil (compte) par personne.</li>
				<li><b>Identifiant et mot de passe : </b>c'est l'ensemble des informations nécessaires à l'identification d'un utilisateur sur le site. L'identifiant et le mot de passe permettent à l'utilisateur d'accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.</li>
				<li><b>Inscription : </b>désigne la procédure d'inscription en ligne que l'Utilisateur doit accomplir sur la plateforme de www.perma.cat/permagora afin de pouvoir accéder à son profil et aux échanges de trocs. Cette inscription conduit à la création des identifiants et du compte personnel de l'Utilisateur.</li>
				<li><b>Collectif PermAgora : </b>désigne l'ensemble des membres de PermAgora</li>
				<li><b>Les Conditions Générales d'Utilisation (CGU) : </b>désigne la relation formée entre le site www.perma.cat/permagora et les Membres suite à la souscription d'une inscription par le membre. Le Contrat est régi par les présentes Conditions Générales d'Utilisation.</li>
			</ul>
	</section>			

	<section class="p2">
			<H2>3. Droit d'utilisation </H2>
			<p>Le Collectif PermAgora s'efforce de rendre le service accessible en continu 24 heures sur 24 et 7 jours sur 7. Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>
			<p>selon le cas : </p>
			<p>L'Utilisateur non Membre n'a pas accès aux services réservés aux Membres. Pour cela, il doit s'identifier à l'aide de son identifiant et de son mot de passe.</p>
			<p>La plateforme met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. </p>
			<p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de Permacat.</p>
			<p>L'accès aux services de la plateforme peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. </p>
			<p>L'Utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.</p>
			<p>L'Utilisateur a la possibilité de contacter le site &agrave; l'aide du <a href="{% url 'contact_admins'  %}">formulaire de contact du site</a></p>
			<section class="p3">
				<H3>Durée</h3>
				<p>Le contrat est conclu pour une durée indéterminée à compter de l'acceptation par le Membre des présentes Conditions d'Utilisation.</p>		

				<H3>Résiliation</h3>
				<p>Le Membre peut résilier à tout moment le contrat, en se rendant sur son profil sur le site www.perma.cat/permagora et en y suivant la procédure prévue à cet effet, sous réserve des stipulations spécifiques éventuelles figurant dans les Conditions Générales d'utilisation. </p>
			</section>
	</section>			
	
	<section class="p2">
			<H2>4. Utilisation du site</H2>
			<section class="p3">
				<H3>Les publications</h3>
				<p>Le Collectif PermAgora permet aux Membres de publier des commentaires.</p>
				<p>Dans ses publications, le Membre s'engage à respecter les règles de la Netiquette et les règles de droit en vigueur.</p>
				<p>La plateforme exerce une modération a posteriori sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s'en justifier auprès du Membre.</p>				
				<p>Le Membre reste titulaire de l'intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur la plateforme, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile. Le site s'engage à faire figurer le nom du Membre à proximité de chaque utilisation de sa publication.</p>
				<p>Le Collectif PermAgora agit en tant <b>qu'hebergeur du contenu post&eacute; par les membres</b>,
				conform&eacute;mement &agrave; l'article 6 de la loi sur la confiance dans l'&eacute;conomie numérique, le Collectif PermAgora ne peut être
				tenue responsable du contenu publié par les membres.</p>

				<p>Le <a href="{% url 'contact_admins'  %}">formulaire de contact du site</a> permet aux membres de signaler tout contenu qui leur para&icirc;t inappropri&eacute; ou ill&eacute;gal,
				Il est important de signaler la nature du contenu, ainsi que l'adresse Url par laquelle il est accessible afin que l'association Permacat puisse l'examiner et
				le supprimer si n&eacute;c&eacute;ssaire. </p>


				<H3> Le profil</h3>
				<p>Le Membre remplit son Profil. Le Membre se géolocalise pour connaitre "l'engagement geographique" du territoire se trouve. Et peut modifier à tout moment les paramètres de son compte.</p>
				

				<H3> Réseau social </h3>
				<p>La plateforme www.perma.cat/permagora permet aux Membres de nouer des liens, des relations privilégiées avec d'autres Membres.  </p>
				
			</section>										
	</section>

	

	
	<section class="p2">
		<H2>5. Droit applicable et juridiction comp&eacute;tente</H2>
		<p>Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d'utilisation. En cas de contestation éventuelle, et après l'échec de toute tentative de recherche d'une solution amiable, les tribunaux français seront seuls compétents pour connaître de tout litige. </p>

		<section class="p3">
				<H3>Code de la propriété intellectuelle</h3>
				<p><b>Article. L.335-2.</b> « Toute édition d'écrits, de composition musicale, de dessin, de peinture ou de toute autre production imprimée ou gravée en entier ou en partie, au mépris des lois et règlements relatifs à la propriété des auteurs, est une contrefaçon ; et toute contrefaçon est un délit. »</p>
				<p>La contrefaçon en France d'ouvrages publiés en France ou à l'étranger est punie de trois ans d'emprisonnement et de 300.000 Euros d'amende. Seront punis des mêmes peines le débit, l'exportation et l'importation des ouvrages contrefaits. Exemples : DVD, CD, jeux vid&eacute;o, logiciels informatiques. Sacs, vêtements, ceintures, montres.. de marques. </p>
				
				<H3>Propriété intellectuelle</h3>	
				<p>Les photographies, textes, slogans, dessins, images, vidéos, séquences animées sonores ou non ainsi que toutes œuvres intégrées sur le site sont la propriété de Permacat.</p>
				<p>Toutes les œuvres représentées sur le site sont protégées au titre des droits d'auteur et des articles <b>Article L.511.1 et suivants</b> du Code de la Propriété Intellectuelle relatifs à la protection des modèles déposés.</p>
				<p>Les reproductions, sur un support papier ou informatique, dudit site et des œuvres qui y sont reproduites sont strictement réservées à un usage personnel excluant tout usage à des fins publicitaires et/ou commerciales, et/ou d'information et/ou qu'elles soient conformes aux dispositions de l'article <b>L.122-5</b> du Code de la Propriété Intellectuelle.</p>
				<p>A l'exception des dispositions ci-dessus, toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site, de tout ou partie des différentes œuvres qui le composent, sans avoir obtenu l'autorisation préalable de Permacat est strictement interdite et constitue un délit de contrefaçon pouvant donner suite à des poursuites judiciaires civiles et/ou pénales et au paiement de dommages et intérêts. </p>

				<H3> Code Civil (loi sur le troc)</h3>	
				<p><B>Article 1702</b> L'échange est un contrat par lequel les parties se donnent respectivement une chose pour une autre (ici un objet, un service contre des « monnaie libres »).</p>
				<p><B>Article 1703</b> L'échange s'opère par le seul consentement, de la même manière que la vente. </p>				
				<p><B>Article 1704</b> Si l'un des copermutants a déjà reçu la chose à lui donner en échange, et qu'il prouve ensuite que l'autre contractant n'est pas propriétaire de cette chose, il ne peut pas être forcé à livrer celle qu'il a promise en contre-échange, mais seulement à rendre celle qu'il a reçue.</p>				
				<p><B>Article 1705</b> Le copermutant qui est évincé de la chose qu'il a reçue en échange, a le choix de conclure à des dommages et intérêts, ou de répéter sa chose.</p>				
				<p><B>Article 1706</b> La rescision pour cause de lésion n'a pas lieu dans le contrat d'échange.</p>				
				<p><B>Article 1707</b> Toutes les autres règles prescrites pour le contrat de vente s'appliquent d'ailleurs à l'échange.</p>
				<p><B>Article 1934</b> Le dépositaire auquel la chose a été enlevée par une force majeure et qui a reçu un prix ou quelque chose à la place, doit restituer ce qu'il a reçu en échange.</p>				
								
	</section>			
	
	<section class="p2">
	<H2>6. Donn&eacute;es personnelles et Cookies</H2>
	
	<p>Conform&eacute;ment &agrave; la loi n&ordm; 78-17 du 6 janvier 1978 modifi&eacute;e en 2004, dite informatique et libert&eacute;s,
	 la base de donn&eacute;es et les traitements s'y rapportant a fait l'objet d'une d&eacute;claration aupr&egrave;s de la CNIL sous le
	 num&eacute;ro n&ordm; <span></span></p>
		
	<p>Conform&eacute;ment &agrave; la loi n&ordm; 78-17 du 6 janvier 1978 modifi&eacute;e en 2004, dite informatique et libert&eacute;s, 
	vous b&eacute;n&eacute;ficiez d'un droit d'acc&egrave;s et de rectification aux informations qui vous concernent, que vous pouvez exercer 
	en utilisant le <a href="{% url 'contact_admins'  %}">formulaire de contact du site</a>.</p>
			 
			 
	<p>Pour connaître les modalités de traitements de vos données personnelles par le Collectif PermAgora, pour être informé sur vos droits sur ces données,
		et pour en savoir plus sur les cookies, nous vous invitons à consulter notre politique de données personnelles ou à contacter notre 
		<a href='mailto:permagora.cat@gmail.com'>délégué à la protection des données</a>.</p>
		
 		<section class="p3">

				<H3>Politique de données personnelles</H3>
				<section class="p3">	
				<H4>Qui est le responsable des traitements mentionn&eacute;s ?</H4>				
				<section class="p3">
					<p>Le responsable des traitements mentionnés par le présent document est le Collectif PermAgora, /p>

					<p>Le délégué à la protection des données  est Mr <a href="{% url 'contact_admins' %}">Eloi Grau</a>.</p>
 				</section>
 				<H4>Quelles sont les donn&eacute;es que nous recueillons sur vous et dans quelles circonstances les collectons-nous ?</H4>
 				<section class="p3">
					<H5>Les données que vous nous transmettez directement</H5>

					<p>A l'occasion des différents contacts que nous avons avec vous, vous pouvez être amené à nous communiquer des informations qui vous concernent. 
						Elles sont collectées notamment lors de la souscription au service, de la création d'un compte sur nos sites et applications,  pour accéder à toute autre offre ou tout autre service.</p>

					<p>Ces données sont notamment :</p>
					<ul class="cgu-definitions">
						<li> Noms, prénoms</li>
						<li> Adresse postale, adresse e-mail</li>
						<li> Identifiant et mot de passe crypté utilisés pour vous identifier </li>
						<li> Informations que l'utilisateur a donné delui même ("Description"  du profil)</li>
					</ul>

					<H5>Les données que nous recueillons automatiquement : </H5>
						<p>Vous trouverez de plus amples informations sur les cookies sur les sites suivants :<a href="https://www.cnil.fr" target="_blank" rel="nofollow">www.cnil.fr</a>, 
						<a href="https://www.aboutcookies.org" target="_blank" rel="nofollow">www.aboutcookies.org</a>.</p>

						<p>Les cookies déposés par le Collectif PermAgora sous réserve de vos choix nous donnent accès notamment aux informations suivantes :</p>
						<ul class="cgu-definitions">
							<li> Dates et heures de connexion à nos services</li>
						</ul>
					<h5>Exclusion de toute donnée sensible</h5>

						<p>L'association permacat ne collecte aucune donnée sensible vous concernant. Sont considérées comme des données sensibles : l'origine raciale ou ethnique,
							les opinions politiques, les croyances religieuses ou philosophiques, l'adhésion à un syndicat, les données relatives à la santé ou l'orientation sexuelle. 
							Si de telles informations étaient d'une manière ou d'une autre communiquées, elles seront supprimées.</p>
				</section>
				<H4>Pour quelles finalit&eacute;s utilisons nous vos donn&eacute;es ?</H4>
					<section class="p3">
					<H5>Opérations nécessaires à la fourniture de produits ou services</H5>
					<section class="p3">
						<ul class="cgu-definitions">
								<li> Gestion des abonnements à nos newsletters et/ou alertes e-mails </li>
								<li> Envoi d'informations sur la modification ou l'évolution de nos services </li>
								<li> Gestion de l'exercice de vos droits sur vos données personnelles </li>
								<li> Vérification du respect de la législation applicable, de nos contrats et conditions générales d'utilisation.</li>
						</ul>
						<div class="warn">
						Durée de conservation : 10 ans après la fin du contrat ou le dernier contact émanant du client
						</div>
					</section>
					<H5>Fonctionnement et optimisation de la navigation sur nos sites et applications</H5>
					<section class="p3">
						<ul class="cgu-definitions">
								<li> Adaptation de la présentation de nos sites et applications aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage, système d'exploitation, etc.) lors de vos visites, selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte </li>
								<li> Mémorisation des informations relatives à un formulaire que vous avez rempli sur notre site (inscription ou accès à votre compte) ou à des produits, services ou informations que vous avez choisis sur notre site (service souscrit, contenu consulté, achat effectué, etc.) </li>
								<li> Connexion automatique aux espaces réservés ou personnels de notre site, tels que votre compte, grâce à des identifiants ou des données que vous nous avez antérieurement confiés </li>
								<li> Mise à disposition d'outils de partage sur les réseaux sociaux </li>
								<li> Gestion de nos plates-formes et réalisation d'opérations techniques internes dans le cadre de résolution de problèmes, analyse de données, tests, recherches, analyses, études et sondages </li>
								<li> Mise en œuvre de mesures de sécurité </li>
								<li> Mesures de qualité pour nous assurer que l'affichage de nos contenus est adapté à votre appareil.</li>
						</ul>
						<div class="warn">Durée de conservation : 13 mois maximum</div>
					</section>
					<H5>Mesure de fréquentation et d'audience</H5>
					<section class="p3">
						<ul class="cgu-definitions">
								<li> Établissement de statistiques et volumes de fréquentation et d'utilisation des divers éléments composant notre site (rubriques et contenus visités, parcours) afin d'améliorer l'intérêt et l'ergonomie de nos services </li>
								<li> Amélioration de la connaissance clients/utilisateurs à des fins de personnalisation. </li>
						</ul>
						<div class="warn">Durée de conservation : 13 mois maximum</div>														
					</section>
					<H4>Vos donn&eacute;es sont-elles transf&eacute;r&eacute;es en dehors de l'union europ&eacute;enne ?</H4>
					<section class="p3">
						<p>Nous conservons vos données personnelles dans l'Union européenne. </p>
					</section>
					</section>
					<H4>Comment vos donn&eacute;es sont-elles prot&eacute;g&eacute;es ?</H4>
					<p>En tant que responsable de traitements, nous mettons en œuvre des mesures techniques et organisationnelles appropriées conformément aux dispositions légales applicables,
 pour protéger vos données personnelles contre l'altération, la perte accidentelle ou illicite, l'utilisation, la divulgation ou l'accès non autorisé, et notamment :<p>
						<ul class="cgu-definitions">
								<li> La sensibilisation aux exigences de confidentialité de nos collaborateurs amenés à accéder à vos données personnelles  </li>
								<li> La sécurisation de l'accès à nos plates-formes informatiques  </li>
								<li> La mise en œuvre d'une politique générale de sécurité informatique   </li>
								<li> La sécurisation de l'accès, du partage et du transfert des données  </li>
			 			</ul>
			 </section>
			 
			 
	<p>Toutes vos données personnelles enregistrées lors de votre inscription sont sécurisées dans la mesure du possible par www.perma.cat/permagora. Les informations demandées à l'inscription au site sont nécessaires et obligatoires pour la création du compte de l'Utilisateur. En particulier, l'adresse électronique pourra être utilisée par le site pour l'administration, la gestion et l'animation du service.</p>

	<p>Les informations relatives à votre Profil d'Utilisateur sont conservées par notre société et ne sont utilisées qu'en interne pour mener notamment des études de marché. Lorsqu'elles sont utilisées pour des besoins liés à nos partenariats, l'autorisation vous en aura été préalablement demandée via une case à cocher. Ce choix est réversible. Dans l'hypoth&egrave;se o&ugrave; vous ne souhaiteriez plus recevoir nos e-mails, vous avez la possibilit&eacute; de vous y opposer dans chacun de ceux-ci en cochant la case concern&eacute;e. </p>	

	<p>Les Membres s'engagent &agrave; ne pas d&eacute;voiler &agrave; d'autres, les donn&eacute;es personnelles qui lui auraient &eacute;t&eacute; communiqu&eacute;es par d'autres Membres via la plateforme www.perma.cat/permagora.</p>
	
		
	</section>												

						
	
	<section class="p2">
		<H2>7. Responsabilit&eacute;</H2>
		<p>Les informations fournies sur ce site, sont fournies &agrave; titre purement informatif et sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques. permagora se r&eacute;serve le droit de les corriger, d&egrave;s que ces erreurs sont port&eacute;es &agrave; sa connaissance.</p>
		<p>Les informations et/ou documents et/ou services disponibles sur ce site sont susceptibles d'&ecirc;tre modifiés &agrave; tout moment, et peuvent avoir fait l'objet de mises &agrave; jour. En particulier, ils peuvent avoir fait l'objet d'une mise &agrave; jour entre le moment de leur t&eacute;l&eacute;chargement et celui o&ugrave; l'utilisateur en prend connaissance.</p>
		<p>L'utilisation des informations et/ou documents et/ou services, disponibles sur ce site se fait sous l'entière et seule responsabilité de l'utilisateur, qui assume la totalité des conséquences pouvant en d&eacute;couler, sans que l'association permagora puisse &ecirc;tre mise en cause &agrave; ce titre, et sans recours contre cette derni&egrave;re.</p>
		<p>permagora ne pourra en aucun cas &ecirc;tre tenu responsable de tout dommage de quelque nature qu'il soit, résultant de l'interprétation ou de l'utilisation des informations et/ou documents et/ou des services disponibles sur ce site.</p>
		<p>Le Collectif PermAgora ne peut &ecirc;tre tenu pour responsable des fausses d&eacute;clarations faites par un Utilisateur/ Membres, tiers ou Partenaire.</p>
	</section>		

		</article>

</div>


{% endblock %}
