{% extends 'permagora/base.html' %}
{% load fontawesome %}
{% block content %}

 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-sm-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2 class="text-center">La charte écologogique du Pays Catalan</h2>
            </div>
          </div>
        </div>
        </div>
        </div>
<div class="site-section ">
      <div class="container">
        <div class="row mb-5">
            <h5>En tant qu'élu et/ou citoyen, je m'engage à faire tout mon possible pour soutenir les mesures suivantes :</h5></div>
      </div>
</div>

{% for domaine in dico_charte %}
<div class="site-section justify-content-center">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-sm-12 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
              <h3 class="text-center" id="{{domaine.0.slug}}">{{ forloop.counter }}) {{domaine.0|safe}}</h3>
            </div>
          </div>
        </div>

{% comment %}
        <div class="row justify-content-center">
          <div class="col-sm-12" data-aos="fade-up" data-aos-delay="400">
           <table border="0">
{% for point in domaine.1 %}
    <th id="{{point.slug}}"> {{ forloop.counter }}. {{point|safe}}</th>
    <th width="15%">
      <a href="{% url 'permagora:ajouterVote_plus' point.slug %}?next={%url 'charte'%}#{{domaine.0.slug}}"> {% fontawesome_icon 'thumbs-up' %} {{point.compteur_plus}}</a> &nbsp
      <a href="{% url 'permagora:ajouterVote_moins' point.slug %}?next={%url 'charte'%}#{{domaine.0.slug}}" >{% fontawesome_icon 'thumbs-down' %} {{point.compteur_moins}} </a> &nbsp
      <a href="{{point.permagora:get_absolute_url}}" > {% fontawesome_icon 'comments' %} </a>
    </th>
  </tr>
{% endfor%}
</table>
          </div></div>

{% endcomment %}
        <div class="row justify-content-center">
          <div class="col-sm-12 col-lg-10" data-aos="fade-up" data-aos-delay="400">
              <ul>
{% for point in domaine.1 %}

                  <p><a id="{{point.slug}}">                  </a>{{ forloop.counter }}. {{point|safe}}</p>
                      <p class="text-right">
      <a href="{% url 'permagora:ajouterVote_plus' point.slug %}?next={%url 'charte'%}#{{domaine.0.slug}}"> {% fontawesome_icon 'thumbs-up' %} {{point.compteur_plus}}</a> &nbsp
      <a href="{% url 'permagora:ajouterVote_moins' point.slug %}?next={%url 'charte'%}#{{domaine.0.slug}}" >{% fontawesome_icon 'thumbs-down' %} {{point.compteur_moins}} </a> &nbsp
      <a href="{{point.get_absolute_url}}" > {% fontawesome_icon 'comments' %} </a>
                      </p>
              {%endfor%}
              </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
              {%endfor%}

    <div class="site-section">
      <div class="container">

        <div class="row" data-aos="fade-up" data-aos-delay="500">
          <div class="col-12 text-center pt-5">
              {%if user.is_authenticated and user.a_signe %}
            <button type="button" class="btn btn-lg btn-success" disabled data-aos="fade-up" data-aos-delay="400">
                je suis solidaire et j'ai déjà approuvé la charte
            </button>
              {%else%}
             <a href="{% url 'permagora:signer' %}" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Je soutiens la démarche,
              {%if not user.is_authenticated %}je m'identifie et{%endif%} je signe !</span></a>
              {%endif%}
         </div>
        </div>
      </div>
    </div>

<hr>
{% endblock %}


  {% block compteur %}
          <!-- Start of CuterCounter Code -->
<a href="https://www.cutercounter.com/" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=gruqpkkd&nd=6&style=11" border="0" alt="free counter"></a> |
<!-- End of CuterCounter Code -->
  {% endblock %}

