{% extends 'permagora/base.html' %}
{% block content %}

 <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-12 text-center ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2>La Foire Aux Questions</h2>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
            <!--<img src="images/hero_1.jpg" alt="Image" class="img-fluid">-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Une question ?</span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <p>Vous pouvez poser vos questions en commentaire ci-dessous, ou nous contacter par mail (permagora66@gmail.com)</p>
          </div>

        </div>
      </div>
    </div>

{% endblock %}


