{% extends 'permagora/base_sanscommentaire.html' %}


 {% block content %}
<div class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-lg-10 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
                <h2 class="text-center">Merci d'avoir signé !  </h2>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="500">
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="500">
              <h4>Vous pouvez collaborer au site en postant vos commentaires... </h4>
        </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="500">
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="500">
              <h4>et faire passer le message ;)  </h4>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="500">
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="500">
               <a href="{% url 'permagora:profil_courant' %}" class="btn btn-primary" type="button" >Retourner à ma page de profil</a></p>
        </div>
      </div>
    </div>
    </div>

{% endblock %}
