{% extends 'permagora/base.html' %}
{% load static %}
{% block content %}

 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-lg-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2 class="text-center">Organisation de Permagora</h2>
            </div>
          </div>
        </div>
        </div>
</div>

<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">Qui sommes nous ?</span></div>
          <div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="250">
              <p>Nous sommes un collectif de citoyens organisés en structure associative loi 1901. Notre association a la possibilité de devenir une SCIC afin de répondre aux enjeux actuels.
              </p>
            <p><a href="https://www.perma.cat/media/documents/2022/04/08/Statuts-Ri-Charte-PermAgora_final_N9gMKkP.pdf">Voir nos statuts</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">Fonctionnement</span></div>
          <div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="250">
              <p>Nous pratiquons la gouvernance partagée en nous basant sur le <a href="https://www.perma.cat/media/documents/2021/08/03/constitution_1_0_finale.pdf" target="_blank">modèle Z</a></p>
              <p>Nous nous rencontrons tous les lundi en <a href="https://framatalk.org/permacat">visioconférence</a> (et/ou en présentiel) de 16h30 à 18h pour le cercle d'ancrage et de 19h à 20h pour les groupes thématiques </p>
         </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
            <p><img src="{% static 'permagora/images/PermAgora-Diagramme3.png' %}" alt="Diagramme" class="img-fluid" style="width:100%;" ></p>
          </div>
        </div>
          {% comment %}
        <div class="row mb-5">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">Pôles thématiques</span></div>

          <div class="col-md-8 col-sm-12" data-aos="fade-up" data-aos-delay="300">
           <img src="{% static 'permagora/images/permagora.png' %}" alt="Poles PermAgora" class="img-fluid">
          </div>
        </div>
          {% endcomment %}
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">Communication</span></div>
          <div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="250">
              <p>Pour notre communication interne, nous utilisons la plateforme <a href="https://www.perma.cat">www.perma.cat</a>. L'inscription est libre et gratuite. Inscrivez vous au <a href="{% url 'presentation_asso' asso='scic' %}">groupe PermAgora</a> pour être tenu.e informé.e des avancées de l'asso.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


