{% extends 'permagora/base.html' %}
{% block content %}

 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-lg-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2 class="text-center">Présentation de Permagora</h2>
            </div>
          </div>
        </div>
        </div>
</div>
<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">

            <!--<img src="images/hero_1.jpg" alt="Image" class="img-fluid">-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Qui sommes nous ?</span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <p>L'association PermAgora Catalane propose un cadre collectif en gouvernance partagée afin de fournir une structure aux projets de transition de notre territoire.</p>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Bref historique</span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <p>Le collectif a demarré en vue de créer une structure porteuse des projets d'un futur possible écovillage, à l'initiative de l'association Permaculture Catalane. Compte tenu de la difficulté à mettre en oeuvre un tel projet, nous avons décidé d'agir sur note territoire pour en mettre en oeuvre toutes les solutions possibles pour s'adapter aux problématiques d'aujourd'hui et de demain, dans l'espoir d'aider à la création de synergies, de coopérations et in fine de faire de notre département un grand écovillage ;) </p>
              <p>Notre première action a été d'organiser l'<a href="https://www.perma.cat/agoratransition/">Agora de la Transition</a> à Valmy le 8 mai 2022 </p>
              <p>Puis nous nous structurons en Cercles de gouvernance partagée afin de mettre en oeuvre nos futures activités, suivant les différents plans d'action que nous établieront sur cette plateforme et perma.cat. Le groupe est très ouvert, n'hésitez pas à nous rejoindre pour cette aventure !</p>
          </div>

        </div>
      </div>
    </div>

  <div class="container">
        <div class="row mb-5">
          <div class="col-lg-12 text-center">
            <a href="{%url 'permagora:organisationPermagora'%}" class="btn-custom" data-aos="fade-up" data-aos-delay="100"><span>Notre organisation </span></a>
          </div>
        </div>
 </div>
{% endblock %}


