
{% extends 'permagora/base_sanscommentaire.html' %}
{% block headerDocument%}
{% load leaflet_tags %}
{% load static %}
{%endblock%}
{%block header %}
{% leaflet_js %}
{% leaflet_css %}
{%endblock%}
{% block title %}Profil de {{ user.username }} {% endblock %}

{% block content %}
<div class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-lg-10 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
{% if user == request.user %}
                <h2 class="text-center">Mon profil </h2>
{% else %}
                <h2 class="text-center">Profil de {{ user.username }}</h2>
{% endif %}
            </div>
          </div>
        </div>
        <div class="row-sm-12" data-aos="fade-up" data-aos-delay="500">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="500">

{% if user == request.user %}
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 mb-5 text-center">
          {%if request.user.a_signe_permagora %}
            <p><a href="{%url 'permagora:signataires'%}"><button type="button" class="btn btn-lg btn-success" disabled>
                j'ai déclaré mon soutien
            </button></a> </p>
      <p>
      <a href="{% url 'permagora:designer' %}" class="btn btn-danger" type="button" >Annuler le soutien</a></p>
          {%else%}
            <a href="{%url 'permagora:signer'%}"><button type="button" class="btn btn-lg btn-warning" >
                 je n'ai pas encore apporté mon soutien
  </button></a>
          {%endif%}
  </div>
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 mb-5 text-center">
          {%if user.a_signe_permagora %}
            <button type="button" class="btn btn-lg btn-success" disabled>
                a signé et approuve les propositions
            </button>
          {%else%}
            <a href="#"><button type="button" class="btn btn-lg btn-warning" >
                n'a pas encore signé les propositions
  </button></a>
          {%endif%}
  </div>
</div>
{% endif %}

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10">
      {%if request.user == user %}
        <a href="{% url 'profil_modifier' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      <table class="table table-condensed tablepanier table-striped">
          <tbody>

        <tr>
            <td style="width:250px">Pseudo :</td>
            <td>{{ user.username }}</td>
        </tr>
        {%if user.accepter_annuaire  or request.user == user %}
              {% if user.get_full_name %}
                <tr>
                    <td style="width:250px">Nom :</td>
                    <td>{{ user.get_full_name }}</td>
                </tr>
              {% endif %}
              {% if user.adresse.telephone %}
                <tr>
                    <td style="width:250px">Telephone *:</td>
                    <td>{{ user.adresse.telephone }}</td>
                </tr>
              {% endif %}
            <tr>
                <td style="width:250px">Email :</td>
                <td>{{ user.email }}</td>
            </tr>

              {% if user.description %}
                    <tr>
                        <td style="width:250px">Description :</td>
                        <td>{{ user.description|safe }}</td>
                    </tr>
              {% endif %}
            </tr>

        {% endif %}
      </tbody>
      </table>

      </div>
</div>
<div class="row justify-content-center">

  <div class="col-sm-12 col-md-10">
      {%if request.user.id == user.id %}
        <a href="{% url 'profil_modifier_adresse' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
    <table class="table table-condensed tablepanier table-striped">
    <tbody>
      {%if user.accepter_annuaire  or request.user == user %}

            {%if user.adresse.commune %}
            <tr>
                <td style="width:250px">Commune :</td>
                <td>{{ user.adresse.commune }}</td>
            </tr>
            {% endif %}
            {%if user.adresse.code_postal %}
            <tr>
                <td style="width:250px">Code postal :</td>
                <td>{{ user.adresse.code_postal }}</td>
            </tr>
            {% endif %}
        {% endif %}
    </tbody>
    </table>
  </div>
  </div>

<div class="row justify-content-center">

  <div class="col-md-6">
              <style>

            .leaflet-container {  /* all maps */
                width:  100%;
                height: 100%;
            }
            </style>
              <script type="text/javascript">
                function map_init_basic (map, options) {

          var greenIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',

            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

                var lat = {{user.adresse.get_latitude}};
                var lon = {{user.adresse.get_longitude}};
                L.marker([lat, lon], {icon: greenIcon}).addTo(map);
                map.panTo(new L.LatLng(lat, lon));
            }
        </script>
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
</div>
</div>
        </div>
        </div>
    </div>
</div>



{% endblock %}

    
