{% extends 'permagora/base.html' %}
{% block content %}

<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2>Signataires</h2>
            </div>
          </div>
        </div>
        <div class="row mb-5 justify-content-center">
            <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="600">
                Au total, {{nb_total_signe}} personnes ont déjà apporté leur soutien</span></div>
      </div>
          {% if not request.user.a_signe_permagora %}
        <div class="row  mb-5 justify-content-center">
            <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="600">
                <a href="{%url 'permagora:signer'%}"><button type="button" class="btn btn-lg btn-warning" >
                 je n'ai pas encore donné mon soutien
  </button></a>
            </div>
      </div>
          {% else%}
        <div class="row  mb-5 justify-content-center">
            <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="600">
                <a href="{%url 'permagora:signataires'%}"><button type="button" class="btn btn-lg btn-warning" >
                 Merci de votre soutien
  </button></a>
            </div>
      </div>
          {% endif%}
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">Soutiens ayant accepté d'apparaître ici : </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            {%for signataire in signataires %}
              <p><a href="{% url 'profil_nom' signataire.auteur %}">{{signataire}}</a></p>
            {% endfor %}

          </div>
        </div>
    </div>
    </div>

{% endblock %}


