{% extends 'permagora/base_sanscommentaire.html' %}
{% block navbar%}
{% endblock %}
{% block content %}

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 text-center" data-aos="fade-up" data-aos-delay="100">
              <h2 class="textcenter">Merci pour votre intérêt. Votre compte a été créé !   </h2>
            </div>
          </div>
        <div class="row mb-5">
          <div class="col-sm-12 text-center" data-aos="fade-up" data-aos-delay="100">
              <p class="textcenter">Vous pouvez maintenant vous connecter et signer les propositions...   </p>
          </div>
        </div>
          <div class="col-sm-12 mt-5 pl-lg-5 text-center" data-aos="fade-up" data-aos-delay="200">

        <a href="{% url 'login' %}">
        <button type="button" class="btn btn-secondary" >
              Connexion
            </button>
          </div>
        </div>

      </div>
    </div>
<p>

</p>
{% endblock %}
