{% extends 'permagora/base_sanscommentaire.html' %}
{% load fontawesome %}
{% load permagora_filters %}
{% block content %}


 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-sm-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2 class="text-center">{{proposition.titre|safe}}</h2>
              <h4 class="text-center">Catégorie : "{{proposition.domaine}}" </h4>
              <p class="text-center">
                  <a href="{% url 'permagora:ajouterVote_plus' proposition.slug %}?next={{request.path}}"> {% fontawesome_icon 'thumbs-up' %} {{proposition.compteur_plus}}</a> &nbsp
      <a href="{% url 'permagora:ajouterVote_moins' proposition.slug %}?next={{request.path}}" >{% fontawesome_icon 'thumbs-down' %} {{proposition.compteur_moins}} </a> &nbsp
              </p>

                {% if request.user.is_authenticated %}
                <p class="text-center"> {% if vote.type_vote == "0" %} Vous n'avez pas encore voté {% elif vote.type_vote == "1" %} Vous avez voté "Pour" la proposition{% elif vote.type_vote == "2" %} Vous avez voté "Contre" la proposition{% endif %} </p>
            {% else %}
                 <p>Vous n'avez pas encore voté (vous devez <a href="{% url 'login' %}?next={{request.path}}">vous connecter</a> pour pouvoir voter)</p>

                {% endif %}
            </div>
          </div>
        </div>
    </div>
</div>
<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 ">
{% if proposition.explication %}
            <p>{{proposition.explication}}</p>
{% else %}
<p> Cette proposition n'est pas encore détaillée, aidez nous en ajoutant des références ou vos idées en commentaire ci-dessous. Merci !</p>
{% endif %}
          </div></div></div></div>

<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 ">

<div class="site-comment commentaires" id="idConversation1">
{% for comment in commentaires %}
    <div class="row {% if comment.auteur.id == request.user.id %} msg-auteur  {%else%} msg-destinataire{%endif%}">

        <div class="col-sm-4 col-md-4 col-lg-3">
           <p class="infos  textepetit">({{ comment.date_creation|date:"d/m/Y G:i" }}){% ifchanged %}, {{comment.auteur}}{% endifchanged %}</p>
        </div>
        <div class=" col-sm-8 col-md-8 col-lg-9 message ">
                <div class="col">{{ comment.message|safe|url}}</div>
        </div>
    </div>
{% endfor %}
</div>
    <script>
    var messageBody = document.querySelector('#idConversation');
    messageBody.scrollTop = idConversation1.scrollHeight - idConversation.clientHeight;
</script>

<hr>

{% if request.user.is_authenticated %}
<div>
    <input type="hidden" name="Nouveau Message" value="{{ message }}">
<div>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="Nouveau Message" value="{{ message_defaut }}">
    {% include 'form_template3.html' %}
</form>
</div>
{% else %}
    <p>(Vous devez vous <a href="{% url 'login'%}">authentifier</a> pour laisser un commentaire, merci !)</p>
{% endif %}
    <script>
    getElementById("id_commentaire_iframe").height = "250px"
</script>
      </div>
        </div>
        </div>
        </div>
      </div>


 <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-12 text-center">
            <a href="{%url 'permagora:charte'%}#{{proposition.domaine.slug}}" class="btn-custom" ><span>revenir à la charte </span></a>
          </div>
        </div>
      </div>
 </div>

{% endblock %}