{% extends 'base_atelier.html' %}
{% load static %}
{% block titreBlog %}
<h1>Ateliers </h1>
{% endblock  %}
{%block banniere %}
	<div class="row row_banniere_ordi" >
		<div class="col col-xs-12 d-flex justify-content-around">
            <img  src="{% static 'img/banniere/ateliers_ordi.png' %}" width="224" height="120" alt="Logo_ateliers"/>
            <img  src="{% static 'img/banniere/ateliers.png' %}" height="120" alt="Logo_ateliers"/>
        </div>
    </div>
	<div class="row row_banniere_smartphone">
		<div class="col col-xs-12 d-flex justify-content-center">
            <img class="img_banniere_smartp" src="{% static 'img/banniere/ateliers_smart.png' %}" height="120" alt="Logo_ateliers"/>
        </div>
    </div>
{% endblock  %}
