{% extends 'base_notifications.html' %}
{% load activity_tags %}
{% block subtitle %}
<h4>Pb profils, adresses ({{pb_profils|length}}, {{pb_adresses|length}})</h4>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
<div class="card-deck notif ">
<div class="card notif3 d-md-flex">
  <ul class="list-group list-group-flush " >

{% for p in pb_profils %}
      <li class="list-group-item "  style=""  >
          <a href="https://www.perma.cat/gestion/bourseLibre/profil/{{p.id}}/change/">{{p}}, {{p.description}}</a>
      </li>
{%endfor%}
{% for b in pb_adresses %}
      <li class="list-group-item "  style=""  >
          <a href="https://www.perma.cat/gestion/bourseLibre/adresse/{{p.id}}/change/">{{b.0}}, {{b.0.get_adresse_str}}</a>
          <p>description : {{b.1}},</p>
          <p>fixed_html  : {{b.2}},</p>

      </li>
{%endfor%}
  </ul>
</div>
</div>
</div>

{% endblock %}