{% extends 'base_notifications.html' %}
{% load activity_tags %}
{% block subtitle %}
<h4>Pb profils, adresses ({{pb_profils|length}}, {{pb_adresses|length}})</h4>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
<div class="card-deck notif ">
<div class="card notif3 d-md-flex">
  <ul class="list-group list-group-flush " >

{% for p in pb_profils %}
      <li class="list-group-item "  style=""  >
          <a href="https://www.perma.cat/gestion/bourseLibre/profil/{{p.0.id}}/change/">{{p.0}}, {{p.0.description}}</a>
                    <p>description : {{p.1}},</p>
          <p>fixed_html  : {{p.2}},</p>
          <p>find : {{p.3}},</p>
      </li>
{%endfor%}
{% for b in pb_adresses %}
      <li class="list-group-item "  style=""  >
          <a href="https://www.perma.cat/gestion/bourseLibre/adresse/{{p.id}}/change/">{{b.0}}, {{b.get_adresse_str}}</a>

      </li>
{%endfor%}
  </ul>
</div>
</div>
</div>

{% endblock %}