{% load static %}
{% load cookielaw_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Agora de la transition</title>
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}"/>
    <link rel="stylesheet" href="{% static 'agora/fontawesome-5.5/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'agora/slick/slick.css' %}"/>
    <link rel="stylesheet" href="{% static 'agora/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'agora/magnific-popup/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'agora/css/tooplate-infinite-loop.css' %}"/>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'agora/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
<!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#infinite" class="navbar-brand">
          <i class="fas fa-arrow-up"></i>
              </a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#presentation">Présentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#poles">Pôles</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#planning">Planning</a>
              </li>
    {% comment %}
             <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#gallery">Gallery</a>
              </li>
    {% endcomment %}
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#inscription">Inscription</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Contact</a>
              </li>
    {% if request.user.is_superuser %}
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="https://www.perma.cat/gestion/agoratransition/">admin</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{% url 'agoratransition:listeInscription' %}">mails</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="https://www.perma.cat/agoratransition/api/inscriptions_at/?format=json">liste</a>
              </li>
    {% endif %}
            </ul>
          </div>        
        </div>
      </nav>

      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title text-white">Agora de la Transition</h2>
            <p class="tm-hero-subtitle">
              Journée de rencontre entre acteurs de la Transition
              <br>en Pays Catalan
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#presentation" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

	{% cookielaw_banner %}
    <section id="presentation" class="tm-section-pad-top">

      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Présentation</h2>
                        <p class="mb-4 tm-intro-text">
                          Organisée bénévolement par les associations PermAgora, La belle Vie et PermaCat, la journée réunira tous les acteurs et actrices de la transition dans le but d'élaborer ensemble un plan d'actions/réflexions pour  la mise  en œuvre de la transition (écologique, démocratique et sociétale) sur notre territoire (66).
                        </p>

                        <p class="mb-4 tm-intro-text">
                            Nous proposons d'utiliser des outils de la <a href=" http://www.laplateforme.org/wp-content/uploads/Guide-Gouvernance-participative-CLAIE-2015.pdf" target="_blank">Gouvernance Participative</a> afin de répondre concrètement aux questions qui se posent dans notre département avec des processus démocratiques.
                        </p>
                    </div>
                </div>

            </div><!-- first row -->

            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-question text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Contexte</h2>
                        <p class="mb-4 tm-intro-text">
                          Pour accompagner l’évolution de notre territoire dans le contexte de crise actuel (écologique, climatique, énergétique, démocratique, ...) afin de devenir plus résilients en assurant l'avenir du territoire : pour ce faire il est essentiel de s'adapter au changement climatique, assurer notre approvisionnement énergétique et alimentaire, mettre en place une démocratie impliquant les citoyen-ne-s, préserver la biodiversité,  prévenir les risques littoraux, préserver la ressource en eau et en terres cultivables,
                      </p>
                    </div>
                </div>
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-lightbulb text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Objectifs de la journée</h2>
                        <p class="mb-4 tm-intro-text">
                        Réunir les personnes prêtes à réfléchir et agir ensemble pour :
                    <ul>
                        <li> Mieux se connaitre entre acteur-trice-s du territoire (associations, collectifs, personnes impliquées, ...)</li>
                        <li> Créer des synergies, coordonner les actions</li>
                        <li> Pratiquer des outils de la Gouvernance Partagée</li>
                        <li> Participer au développement d'une <a href="https://www.les-scic.coop/presentation">SCIC</a> pour la transition</li>
                    </ul>

                    </div>
                </div>

            </div><!-- second row -->

            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Comment, Quand et où ?</h2>
                        <p class="mb-4 tm-intro-text">
                            Utilisation d'outils issus de la <a href="https://instantz.org/article-modele-z/">Gouvernance Partagée</a> (pratique du cercle, "world café", "speed dating"). Une première journée est prévue le dimanche 8 mai à Valmy (Argelès-sur-mer).
                      </p>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Participation</h2>
                        <p class="mb-4 tm-intro-text">
                            Ouvert à tout public, sur inscription (si possible pour la logistique). Afin de subvenir aux frais, il sera demandé une participation libre.
                    </div>
                </div>

            </div><!-- third row -->

        </div>

    </section>


    <section id="poles" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Thème général, pôles et questions</h2>
            <p class="mx-auto tm-section-desc text-center">
                <h3 class="text-white" >Questions centrales : </h3>
              <ul>
              <li>Vers quelle Transition va-t-on ? </li>
              <li>Comment agir individuellement et collectivement ?</li>
              <li>Dans quoi êtes-vous prêt-e-s à vous engager pour y participer ?</li>
          </ul>
                <h3 class="text-white" >Pôles et Questions : </h3>
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/agri_ok.jpg' %}" alt="agri" class="img-fluid mx-auto">
                  <blockquote>
                      <ul><li>Comment agir pour le <a href="https://agriculture.gouv.fr/quest-ce-quun-projet-alimentaire-territorial">PAT</a>?</li>
                     <li> Comment mettre en place des jardins partagés / familiaux / communaux?</li>
                     <li> Quelles solutions coopératives pour s'entraider entre producteurs?</li>
                      </ul>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/educ_ok.jpg' %}" alt="education" class="img-fluid mx-auto">
                  <blockquote>
                    <ul>
                        <li>Quelles solutions pour faire monter en compétence nos territoires pour l'adaptation au changement climatique?</li>
                        <li> Quelles structures éducatives pour demain?</li>
                        <li> quel programme de formation pour le secteur agricole?</li>
                    </ul>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/habitat_ok.jpg' %}" alt="agri" class="img-fluid mx-auto">
                  <blockquote>
                      <ul>
                        <li> Comment développer les écolieux, les habitats partagés (si possible inter-générationnels), et un accueil touristique respectueux des limites de l'environnement?</li>
                        <li> Comment gérer les déchets de façon durable et écologique?</li>
                      </ul>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/gouv_ok.jpg' %}" alt="agri" class="img-fluid mx-auto">
                  <blockquote>
                      <ul>
                        <li> Comment mettre en place une gouvernance démocratique dans nos collectifs / asso / institutions / entreprises?</li>
                        <li> Comment mettre en place des structures coopératives et des projets co-construits?</li>
                      </ul>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/monnaies_ok.jpg' %}" alt="agri" class="img-fluid mx-auto">
                  <blockquote>
                      <ul>
                        <li> Quelles monnaies alternatives dans les PO et comment les utiliser?</li>
                        <li> Comment faire pour développer le Soudaqui dans nos communes?</li>
                      </ul>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/energie_ok.jpg' %}" alt="agri" class="img-fluid mx-auto">
                  <blockquote>
                      <ul>
                        <li> Quels leviers d'action devons nous prioriser pour assurer notre approvisionnement énergétique</li>
                        <li> Comment trouver un équilibre entre développer des énergies renouvelables, préserver nos terres cultivables et nos paysages et devenir plus sobres en énergie?</li>
                      </ul>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/sante_ok.jpg' %}" alt="agri" class="img-fluid mx-auto">
                  <blockquote>
                      <ul>
                        <li> Comment changer notre relation au monde pour accepter et faciliter la transition?</li>
                        <li> Comment gérer les conflits de façon non-violente et démocratique entre les citoyens, élus, et acteur-trice-s économiques?</li>
                      </ul>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="{% static 'agora/img/cult_ok.jpg' %}" alt="agri" class="img-fluid mx-auto">
                  <blockquote>
                      <ul>
                        <li> Comment soutenir les activités culturelles locales ?</li>
                        <li> Comment préserver notre patrimoine (culturel, linguistique, historique) et nos liens avec la Catalogne du Sud dans un contexte de transition?</li>
                      </ul>
                  </blockquote>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 tm-content-box tm-intro-text-container">
            <p class="mx-auto">Chaque question de chaque pôle décrit ci-dessus pourra avoir une table ronde lors de la session de Café del centre del mon (l'après midi), afin de répondre aux problématiques grâce à l'intelligence collective. Mais ce programme n'est pas définitif, il dépendra des acteur-trice-s inscrits, de leurs propositions et de leurs centres d'interêt.
               </p>
              <h3 class="text-white" > si vous voulez participer sur une question en particulier, merci de faire vos suggestions ci-dessous ou de nous contacter directement </h3>

          </div>
        </div>
      <div class="tm-bg-overlay"></div>
    </section>

    <section id="planning" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Planning de la journée</h2>
                        <p class="mb-4 tm-intro-text">  </p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-2">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-10">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Le matin</h2>
                        <p class="mb-4 tm-intro-text">
                          <i class="fa fa-arrow-right"></i> Rassembler tous les acteur-trices de la transition pour mieux se connaitre, échanger autour de nos problématiques et créer des synergies.</p>
                        <ul><li>9h15 - 9h45  : accueil des participants</li>
                            <li>9h45 - 10h00 : présentation des organisateurs (PermAgora)</li>
                            <li>10h00 - 10h15 : Présentation des enjeux et du contexte (support papier)</li>
                            <li>10h15 - 11h45 : présentation des actions des participants (speed dating des engagés) : criée des participants (10mn), speed dating (7 mn/gong)</li>
                            <li>11h45 - 12h15 : debriefing du matin</li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-2">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-10">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">A midi</h2>
                        <p class="mb-4 tm-intro-text">
                          Repas partagé (tiré du sac), sous forme de buffet commun pour un moment convivial et informel
                    </div>
                </div>

            </div>
            <div class="row tm-content-box"><!-- second row -->
                <div class="col-lg-2">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-10">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">L'après-midi</h2>
                        <p class="mb-4 tm-intro-text">
                         <i class="fa fa-arrow-right"></i> Pratiquer un outil de la gouvernance participative
                        <ul> <li> 14h00 - 16h00 : Café del centre del món (tables rondes, inspiré du <a href="https://www.afci.asso.fr/wp-content/uploads/2014/09/guide_world_cafe.pdf">"world café"</a> )
                            </li>
                        <li> 16h00 - 16h30 : restitution des tables rondes </li>
                        <li> 17h00 - 17h30 : Clôture de la journée </li>
                    </ul>
                    </div>
                </div>

            </div><!-- second row -->
        </div>
      
    </section>

    {% comment %}
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>
              <p class="mx-auto tm-section-desc">
                Praesent sed pharetra lorem, blandit convallis mi. Aenean ornare elit ac metus lacinia, sed iaculis nibh semper. Pellentesque est urna, lobortis eu arcu a, aliquet tristique urna.
              </p>
          </div>            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="{% static 'agora/img/gallery-img-01.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-01.jpg' %}" alt="Image 1" class="img-fluid">
                          <figcaption>
                            <h2><i>Physical Health <span>Exercise!</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'agora/img/gallery-img-02.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-02.jpg' %}" alt="Image 2" class="img-fluid">
                          <figcaption>
                            <h2><i>Rain on Glass <span>Second Image</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'agora/img/gallery-img-03.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-03.jpg' %}" alt="Image 3" class="img-fluid">
                          <figcaption>
                            <h2><i><span>Sea View</span> Mega City</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'agora/img/gallery-img-04.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-04.jpg' %}" alt="Image 4" class="img-fluid">
                          <figcaption>
                            <h2><i>Dream Girl <span>Thoughts</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'agora/img/gallery-img-05.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-05.jpg' %}" alt="Image 5" class="img-fluid">
                          <figcaption>
                            <h2><i><span>Workstation</span> Offices</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'agora/img/gallery-img-06.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-06.jpg' %}" alt="Image 6" class="img-fluid">
                          <figcaption>
                            <h2><i>Just Above <span>The City</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'agora/img/gallery-img-01.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-01.jpg' %}" alt="Image 7" class="img-fluid">
                          <figcaption>
                            <h2><i>Another <span>Exercise Time</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'agora/img/gallery-img-02.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'agora/img/gallery-tn-02.jpg' %}" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>Repeated <span>Image Spot</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>
    {% endcomment %}

    <section id="inscription" class="tm-section-pad-top">

      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Inscription</h2>
                        <p class="mb-4 tm-intro-text">  </p>
                    </div>
                </div>

            </div><!-- first row -->

        {% if msg %}
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-sm-12 text-center">
                    <p style="background:black;">{{ msg }}</p>
                </div>
            </div>
        {% endif %}
            <div class="row tm-content-box justify-content-center"><!-- second row -->
                <div class="col-lg-10 ">
                    <div class="tm-intro-text-container">>
                        <h2 class="tm-text-primary mb-4">L'évenement s'est bien déroulé le 8 mai 2022.
                            Merci à tous et à toutes !</h2>
                     <h3>Vous pouvez retrouver <a href="https://www.perma.cat/media/documents/2022/07/25/CR-AgoraTransition_Final.pdf" target=_blank">le compte rendu ici</a></h3>
                        <h3>Vous pouvez continuer la réflection avec nous sur <a href="https://www.perma.cat/permagora" target=_blank">cette plateforme </a></h3>
                    </div>
                </div>
            </div>
          <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-2">
                    <i class="fas fa-3x fa-user-plus text-center tm-icon"></i>
                </div>
                <div class="col-lg-10 ">
                    <div class="tm-intro-text-container">
                 <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#inscriptionform" title="S'inscrire">
                  <h2 class="tm-text-primary mb-4"><i class="fas fa-arrow-right"></i> Inscrivez-vous ici pour être tenu au courant de la suite</h2>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="inscriptionform1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog textaide" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <div class="row justify-content-center">
                           <h5 > Formulaire d'inscription</h5>
                          </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body textleft">
                        <form method="post" id="form_inscription1">
                            {% csrf_token %}
                            {% include 'form_template2.html' with form=form_inscription %}
                          <button type="submit" name="inscriptionbtn" class="btn btn-primary">Valider l'inscription</button>
                        </form>
                       </div>
                    </div>
                  </div>
                </div>
            </div>

                    </div>
            </div>
        {% comment %}
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-2">
                    <i class="fas fa-3x fa-user-plus text-center tm-icon"></i>
                </div>
                <div class="col-lg-10 ">
                    <div class="tm-intro-text-container">
                 <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#inscriptionform" title="S'inscrire">
                  <h2 class="tm-text-primary mb-4"><i class="fas fa-arrow-right"></i> Inscrivez-vous ici pour participer à l'événement</h2>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="inscriptionform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog textaide" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <div class="row justify-content-center">
                           <h5 > Formulaire d'inscription</h5>
                          </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body textleft">
                        <form method="post" id="form_inscription">
                            {% csrf_token %}
                            {% include 'form_template2.html' with form=form_inscription %}
                          <button type="submit" name="inscriptionbtn" class="btn btn-primary">Valider l'inscription</button>
                        </form>
                       </div>
                    </div>
                  </div>
                </div>
            </div>

                    </div>
            </div>
            <div class="row tm-content-box"><!-- 3 row -->
        		<div class="col-lg-2">
                    <i class="fas fa-3x fa-check text-center tm-icon"></i>
                </div>
                <div class="col-lg-10">
                    <div class="tm-intro-text-container">
                <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#propositionform" title="Faire une proposition">
                        <h2 class="tm-text-primary mb-4"><i class="fas fa-arrow-right"></i> Je fais une proposition pour l'organisation des tables rondes</h2>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="propositionform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog textaide" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <div class="row justify-content-center">
                           <h5 > Formulaire de proposition</h5>
                          </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body textleft">
                        <form method="post" id="form_proposition">
                            {% csrf_token %}
                            {% include 'form_template2.html' with form=form_proposition %}
                          <button type="submit" name="proposbtn" class="btn btn-primary">Valider la proposition</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
                    </div>
        </div>

          <div class="row tm-content-box"><!-- 4 row -->
        		<div class="col-lg-2">
                    <i class="fas fa-3x fa-check text-center tm-icon"></i>
                </div>
                <div class="col-lg-10">
                        <div class="tm-intro-text-container">
                            <a href="https://framaforms.org/tables-rondes-de-la-premiere-agora-de-la-transition-du-8-mai-2022-1650658357" target="_blank">
                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal"  title="Questionnaire">
                            <h2 class="tm-text-primary mb-4"><i class="fas fa-arrow-right"></i> Je réponds au questionnaire</h2>
                    </button>
                            </a>
                    </div>
                </div>
        </div>
          <div class="row tm-content-box"><!-- 5 row -->
        		<div class="col-lg-2">
                    <i class="fas fa-3x fa-check text-center tm-icon"></i>
                </div>
                <div class="col-lg-10">
                        <div class="tm-intro-text-container">
                            <a href="https://www.togetzer.com/index.php?view=organiser&slug=0v2qsk" target="_blank">
                    <button type="button" class="btn btn-light btn-sm" data-toggle="modal"  title="Co-voiturage">
                            <h2 class="tm-text-primary mb-4"><i class="fas fa-arrow-right"></i> Je m'inscris pour le covoiturage</h2>
                    </button>
                            </a>
                    </div>
                </div>
        </div>

        {% endcomment %}
        </div>

    </section>
    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
    
      <div class="container tm-container-contact">

        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4 text-white">Nous Contacter</h2>
                <p class="mb-5">
                    Vous pouvez nous rejoindre dans l'organisation de la journée sur le Forum <a href="https://www.Perma.cat">Perma.Cat</a>. Sinon, Merci de remplir le formulaire suivant pour nous contacter.
                </p><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6  text-center">
                <button type="button" class="btn btn-light " data-toggle="modal" data-target="#contactForm" title="Contacter...">
                    <h2 class="tm-text-primary mb-4">Nous contacter</h2>
                </button>

        {% if msg2 %}
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-sm-12 text-center">
                    <p style="background:black;">{{ msg2 }}</p>
                </div>
            </div>
        {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog textaide" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <div class="row justify-content-center">
                           <h5 > Formulaire de contact</h5>
                          </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body textleft">
                        <form method="post" id="form_contact">
                            {% csrf_token %}
                            {% include 'form_template2.html' with form=form_contact %}
                          <button type="submit" name="contactbtn" class="btn btn-primary">Envoyer le message</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-6  ">
                
                <div class="contact-item">
                  <a rel="nofollow" href="mailto:permagora66@gmail.com" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">permagora66@gmail.com</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="tel:0618951670" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">06.18.95.16.70</span>
                  </a>              
                </div>

            </div>
        </div><!-- row ending -->
      </div>
      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 2022 PermAgora
        </footer>

    </section>
    
    <script src="{% static 'agora/js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'agora/slick/slick.min.js' %}"></script>
    <script src="{% static 'agora/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'agora/js/easing.min.js' %}"></script>
    <script src="{% static 'agora/js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'agora/js/bootstrap.min.js' %}"></script>
{% if anchor %}
<script type='text/javascript'>
$(document).ready(function(){
    window.location = '#{{ anchor }}'
});
</script>
{% endif %}
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#poles"), 0.80);
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          speed: 300,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>
