{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load fontawesome %}
{%block header %}
 <script src="{% static 'js/cookielaw.js'%}" type="text/javascript"></script>
{%endblock%}

{% block sidebar %}
    <li><a href="{% url 'organisation' %}">Informations</a></li>
    <li><a href="{% url 'forum' %}">Forum</a></li>
    <li><a href="{% url 'benevoles' %}">Bénévoles</a></li>
    <li><a class="active" href="{% url 'exposants' %}">Exposants</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
{%endblock%}

{% block content %}

<div id="titre" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
            <small></small>
            <h3>Exposants / Intervenants / Stands</h3>
            <hr class="grd1">
            <p class="lead">Vous voulez tenir un stand, proposer un atelier, présenter votre association, faire une conférence...</p>
            </div>
        </div><!-- end title -->
    </div>
</div>

<section class="section smallpad cac text-center paddingbot">
    {% if not user.is_authenticated %}
    <a href="{% url 'senregistrer' %}?next={% url 'inscription_exposant' %}"><h3>Je souhaite participer en tant qu'exposant : je crée mon compte et je m'enregistre ici</h3></a>
    {% else %}
            {% if not user.is_exposant %}
            <a href="{% url 'inscription_exposant' %}"><h3>Je souhaite participer en tant qu'exposant, je m'enregistre ici</h3></a>
        {% else %}
            <h3 class="textblanc">Vous avez déjà une demande de stand.
            <p class="textblanc">Vous pouvez <a href="{%url 'profil_courant' %}">la modifier sur votre profil</a> ou bien <a href="{% url 'inscription_exposant' %}">demander un autre stand</a></p></h3>
        {% endif %}
    {% endif %}
</section>

        <hr class="hr1">

{% endblock %}



