{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load fontawesome %}
{%block header %}
 <script src="{% static 'js/cookielaw.js'%}" type="text/javascript"></script>
{%endblock%}

{% block sidebar %}
    <li><a href="{% url 'organisation' %}">Informations</a></li>
    <li><a href="{% url 'forum' %}">Forum</a></li>
    <li><a class="active" href="{% url 'benevoles' %}">Bénévoles</a></li>
    <li><a href="{% url 'exposants' %}">Exposants</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
{%endblock%}

{% block content %}

<div id="titre" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
            <small></small>
            <h3>Bénévole </h3>
            <hr class="grd1">
                {% if request.user.is_authenticated and request.user.is_benevole %}
                    <p class="lead">Vous pouvez modifier votre inscription en tant que bénévole ici.</p>
                {%else%}
                     <p class="lead">Inscrivez-vous ici pour devenir bénévole du festival (et recevoir notre gratitude éternelle)</p>
                {%endif%}
            </div>
        </div><!-- end title -->
    </div>
</div>

<div class="section wb">
    <div class="container-fluid">
                    {% include 'form_template.html' with nomBouton="je valide" %}
        <hr class="hr1">

    </div><!-- end container -->
</div><!-- end section -->

{% endblock %}
