
body {
    background: #E9E9E9;
    margin: auto;
    width: 99%;
    /*padding: 10px;*/
    padding-top: 75px;
    /*font-family: cursive;*/
    /*font-family: serif;*/
    /*font-family: system-ui;*/
}

@font-face {
  font-family: 'navbarfont';
  src: url('../font/febfeltscript-bold.ttf')  format("truetype"),
  local('navbarfont');
}

.textcenter{
    text-align: center;
}
.textright{
    text-align: right;
}
.textmiddle{
    vertical-align:middle;
}

.textitalique{
font-style: italic;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}
.row{
    margin-right: 2px;
    margin-left: 2px;
    padding: 1px;
}

.rowbienvenue{
line-height: 2;
margin-bottom: 30px;
}
/*
.breadcrumb span, .breadcrumb div {display:inline-block!important; float:right!important}*/

.breadcrumbs{
    text-align:center;
}

.navbarMenu {
    border-radius: 0.2em;
    border: 0px solid #053200;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //background-color:#8cd98c;
    //background:  linear-gradient(to top left, #8cd98c 33%, #ccffff 100%);
     //background:  linear-gradient(to top left, #66ff66 33%, #ccff33 100%);


background: rgba(179,220,237,1);
background: -moz-linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(129,222,122,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(129,222,122,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(129,222,122,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(129,222,122,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(129,222,122,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(129,222,122,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );

    //background-color:#ffffb3;
    font-family: 'navbarfont', 'Satisfy', cursive;
}

p {
    margin: .5em 0;
}

section.p2 {
    padding: 0 0 .5em 0;
}
section.p3 {
    padding: 1em 0 1em 2em;
}
.navbarProduits {
    display: inline-block;
   }

.navbar-collapse { text-align: center; }
.navbar{
padding:0;
    }
.navbar-brand {
    font-family: 'Satisfy', cursive;
}
.navbar-default .navbar-nav > .active > a{
    border-bottom: 2px solid black;
    background-color: #FFF !important;
}
.contenu{
    /*margin-top: 2em;*/
    margin-bottom: 1em;
    border-radius: 0.2em;
    padding: 2px 2px 2px 2px;
}
/*
.glyph  icon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}*/
.paddingbase{
    padding: 3px 3px 3px 3px;
}

.soustitre{
    padding: 1px;
    border-radius: 0.4em;
    /*rder: 1px solid #053200;*/
    /*border:10px red;*/
}

.bodycontenu{
    padding-bottom: 2em;
    border-radius: 0.2em;
    /*border: 0.5px solid #053200;*/
    padding: 5px ;

}
.bodycontenucomplet{
    padding: 1px ;
    border-radius: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 400px;
    min-width:300px;
    //border: 0.5px solid #053200;
    background: white;
    }
/*
#parent {
    text-align:center;
    background-color:blue;
    height:400px;
    width:600px;
}
.block {
    height:100px;
    width:200px;
    text-align:left;
}*/
.center {
    margin:auto;
    text-align:center;
}
.left {
    text-align:left;
    margin:auto auto auto 0;
}
.right {
    text-align:right;
    margin:auto 0 auto auto;
}

//blog
.infos{
    font-size:small;
}
.debutArticle{
    font-color: red
}
.debutArticle a:link, a:visited {
    color: black;
}
.titreBlog{
    text-size: large
}
.titreBlog a:link, a:visited {
    color: black;
}
//fin blog

.col_cat{
    padding: 25px;
    margin:5px;
    border:1px ;
    width:400px;
    border:2px grey solid;
    border-radius: 0.4em;
    flex:1 1 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col_cat a:link, a:visited {
    color: black;
    text-decoration: none;
}

.col_cat:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}
.col_aliment{
   /* border-left: 6px solid #CEECF5;*/
    color: black;/*#6666ff*/
}
.col_vegetaux{
    color: black;/*
    text-color: #A9F5A9*/
}
.col_services{
    color: black;/*
    text-color: #D8D8D8*/
}
.col_objets{
    color: black;
    /*
    text-color: #0055FE*/
}*/
.col-centered{
    float: none;
    margin: 0 auto;
}
.row .col-xs-2, .row .col-xs-10{display:inline-block; float: none}


.tablepanier{
    background-color:#87ceeb;
}
.tableprofils{
    background-color: #ffffcc;
}

.offre_entree{
    padding-bottom:4px;
    border-radius: 0.3em;
    align-items: top;
    margin:5px;  /* and that, will result in a 10px gap */
    /*border:1px red solid;*/
}
.offre_entree:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
}
.offre{
    //padding-top:10px;
    padding-bottom:30px;
    //align-items: top;
    //height: 250px;
    width-min:350px;
    //border-radius: 0.3em;
    //border:1px grey solid;
    //flex:1 1 auto;
    //text-align:center;
    margin:-5px;  /* and that, will result in a 10px gap */
    /*word-wrap: break-word;
    justify-content: space-around;
    margin: auto;*/
}

.offre a:link, a:visited, a:hover{
    color: black;
    text-decoration: none;
}

.offre2{
    //padding-bottom:5px;
    //align-items: top;
    min-height: 350px;
    min-width:250px;
    max-height: 350px;
    max-width:250px;
    //border-radius: 0.3em;
    //border:1px grey solid;
    //flex:1 1 auto;
    //text-align:center;
    /*margin:-10px;  /* and that, will result in a 10px gap */*/
    box-shadow: 0 10px 10px 0px grey;
}

.offre2:hover{
    opacity:0.9;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}
.offreentete{
    height:90px;
    text-align: center;
}

.listOffres{
    flex-flow: row wrap;
    justify-content: center;
    /*display: -webkit-box;*/
	/*display: -webkit-flex;*/
	/*display: -moz-box;*/
	/*display: -ms-flexbox;*/
	display: flex;
	flex:1 1 auto;
    //padding:5px;
}

.detailProduit{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article{
//background-color: grey;
border-color: #333;
box-shadow: 0 10px 10px 0px grey;
 padding:15px;
    min-height: 150px;
    border-radius: 0.3em;
    border:1.5px grey solid;
}
.commentaire{
    border-color: #333;=
    padding:10px;
    min-height: 100px;
    border-radius: 0.3em;
}

.card-footer{
position:absolute;
  bottom:0;
  width:100%;
}
.card-header {
  align-items: center;
}

.card-deck .card{
  padding-bottom:80px;
 }

.row-flex {
  display: flex;
  align-items: center;
}

td.panierTableauStyle{
    border-top: 1.5px solid #000;
}

td.proprieteProduit{
    background-color:LightGray;
}
td.nomProprieteProduit{
    background-color:Gray;
}

.textepetit{
    font-size:0.8em;
}
.breadcrumb{
    padding: 0;
    margin-bottom: 0;
}

.topnav {
  //position: relative;
  //overflow: hidden;
  //background-color: #333;
}

.topnav a {
  //float: left;
  text-align: center;
  //padding: 10px 12px;
  //text-decoration: none;
  //font-size: 17px;
}

.topnav a:hover {
  //background-color: #f0f0f5;
}

.topnav a.active {
  //background-color: #4CAF50;
  //color: #99ddff;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

ul.errorlist{
    color:red;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  table,
  tbody,
  tr,
  td {
    display: block;
    width: auto!important;
    /* parceque tu as mis des style inline grrr */
  }

  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

    .row{
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
    }
.contenu{
    /*margin-top: 2em;*/
    margin-bottom: 0.1em;
    border-radius: 0.02em;
    padding: 0.2px 0.2px 0.2px 0.2px;
}


.paddingbase{
    padding: 0.1px 0.1px 0.1px 0.1px;
}

.soustitre{
    padding: 0.1px;
}

.bodycontenu{
    padding-bottom: 2em;
    border-radius: 0.1em;
    padding: 0px ;

}
.bodycontenucomplet{
    padding: 0.1px ;
    border: 0.3px solid #053200;
    }
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}
}

.msg-destinataire{
    indent:30px;
    background-color:PapayaWhip ;
    }

.msg-auteur {
    background-color:PeachPuff ;
    }
