body {
    background-color: #0000ff !important;
    %%9999ff url("../images/background.png");
    margin: auto;
    width: 90%;
    padding: 10px;
}
.textcenter{
    text-align: center;
}
.textright{
    text-align: right;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    %border-radius: 0.5em;
    %border: 3px solid #bbf4bb;
    %margin-bottom: 2em
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.contenu{
    margin-top: 5em;
    margin-bottom: 2em;
}

.glyph  icon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.soustitre{
    padding-left: 7em;
    padding-right: 7em;
    padding-bottom: 2em;
}
.bodycontenu{
    padding-bottom: 2em;
}

.bodyproduit-aliment{
    background-color: red
}

.glyph  icon-star {
    color: #CCCCCC;
    font-size: 16px;
}