{% extends 'base_asso.html' %}
{% load fontawesome %}
{% load blog_filters %}
{% load activity_tags %}
{%block message%}{%endblock%}
{%block title%}- Salons de discussion{%endblock%}
{% block subtitle %}
<div class="row">
    <div class="col-md-4 ">
         <a href="{{salon.get_absolute_url}}">
            <button type="button" class="btn  btn-success" >
               {% fontawesome_icon 'home' %}
            </button>
         </a>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-12 textcenter ">
        <h3>Inviter quelqu'un dans le salon "{{salon.titre}}"</h3>
    </div>
</div>
<div class="row">
	<div class="col-sm-12">
<form id="myForm"  class="form-horizontal" role="form" action="" method="post"
	enctype="multipart/form-data">
	{% csrf_token %} <input type="hidden" name="Atelier"
		value="{{ salon }}"> {% include 'form_template.html'%}
</form>

</div>
    </div>

{% endblock %}

