{% extends 'base_ateliers.html' %}

{%block banniere %}
	<div class="row row_banniere_ordi" >
		<div class="col col-xs-12 d-flex justify-content-around">
            <img  src="{% static 'img/banniere/ateliers_ordi.png' %}" width="280" height="150" alt="Logo_ateliers"/>
            <img  src="{% static 'img/banniere/ateliers.png' %}" height="150" alt="Logo_ateliers"/>
        </div>
    </div>
	<div class="row row_banniere_smartphone">
		<div class="col col-xs-12 d-flex justify-content-center">
            <img class="img_banniere_smartp" src="{% static 'img/banniere/ateliers_smart.png' %}" height="180" alt="Logo_ateliers"/>
        </div>
    </div>
{% endblock  %}
{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h3> Bienvenue sur le portail des ateliers Permacat</h3>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <div class="btn-group btn-group-justified">
         <a href="{% url 'ateliers:index_ateliers' %}">
        <button type="button" class="btn btn-success" >
               Liste des ateliers
            </button>
         </a>
    </div>
   </div>

{% endblock %}

