{% extends 'base_ateliers.html' %}
{% block title %} - Contact{% endblock %}
{% block subtitle %}
<h3 style="text-align:center">Contacter les participants de l'atelier Permacat {{atelier.titre}}

</h3>
<p>Vous pouvez, grâce à ce formulaire, envoyer un mail à tous les participants qui se sont inscrits :</p>
<p>{% for email in inscrits %}
          {{email}}{%if not forloop.last%}, {%endif%}
     {% endfor %}
</p>
{% endblock %}
{% block content %}


    <form id="myForm" class="form-horizontal" role="form" action="" method="post"
        enctype="multipart/form-data">
            {% include 'form_template.html'%}
    </form>


{% endblock %}

    