{% extends 'base2.html' %}
{% load ateliers_filters %}
{% load fontawesome %}
{% block subtitle %}


{% endblock %}

{% block content %}

 <div class="row rowcentre">
    <div class="col-sm-3 textleft">

        <div class="btn-group btn-group-justified">
        <a  href="{% url 'ateliers:index_ateliers' %}">
        <button class="btn btn-info btn-sm textright" >Sommaire</button>
            </a>
        </div>
    </div>
        <div class="col-sm-6 textcenter">
            {%if request.user.is_authenticated %}
                 {% if user_inscrit %}
                    <p>Vous êtes inscrit à cet atelier
                    <a href="{% url 'ateliers:annulerInscription' slug=atelier.slug %}">
                       <button type="button" class="btn btn-sm btn-warning">
                            se désinscrire
                       </button>
                    </a>
                        </p>


                {% else %}
                    <a href="{% url 'ateliers:inscriptionAtelier' slug=atelier.slug %}">
                       <button type="button" class="btn btn-sm btn-success">
                            S'inscrire
                       </button>
                    </a>
                {% endif %}
            {% else %}
            <p><a href="/auth/login/" >Connectez vous pour vous inscrire à l'atelier</a></p>
            {% endif %}
        </div>
        <div class="col-sm-3 textright">
            {%if request.user.username == atelier.referent or request.user == atelier.auteur  %}
            <div class = "btn-group">
            <a href="{%if request.user.is_authenticated %}{% url 'ateliers:modifierAtelier' slug=atelier.slug %}{% endif %}">
               <button type="button" class="btn btn-sm btn-warning">
                 &nbsp;Modifier
               </button></a>
            <a href="{% url 'ateliers:contacterParticipantsAtelier' slug=atelier.slug %}">
               <button type="button" class="btn btn-sm btn-warning">
                 &nbsp;Contacter les participants
               </button></a>
            </div>
            {% endif %}
        </div>
 </div>



    <div class="row contenu atelier">
    <div class="col justify-content-center">


    <div class="row titre_atelier" style="background-color:{{atelier.atelier.get_couleur}};margin-bottom:15px;">
        <div class="col textcenter" >
              <h2> Atelier : {{ atelier.titre }}</h2>
        </div>
    </div>

    <div class="col-md-12 textcenter">
        <p class="infos  textepetit">rédigé le {{ atelier.date_creation|date:"DATE_FORMAT" }}, dernière modification le {{ atelier.date_modification|date:"DATE_FORMAT" }}
        </p>
    </div>
		<hr>
    <div class="row">
        <div class="col-sm-12 ">
			<h4>Description : </h4>
            <p>{{ atelier.description|safe}}</p>
        </div>
    </div>
		<hr>
    <div class="row">
        <div class="col-sm-12 ">
			<h4>Matériel : </h4>
            <p>{{ atelier.materiel|safe}}</p>
        </div>
    </div>
		<hr>
    <div class="row">
        <div class="col-sm-12 ">
			<h4>Outils : </h4>
            <p>{{ atelier.outils|safe}}</p>
        </div>
    </div>
<div class="col-sm-12 paddingbase">
		<table class="table table-condensed ">
			<tbody>
				<tr>
					<td class="nomProprieteAtelier">
						Catégorie :
					</td>
					<td class="proprieteAtelier">
						{{ atelier.get_categorie_display}}
					</td>
				</tr>
				<tr>
					<td class="nomProprieteAtelier">
						Statut :
					</td>
					<td class="proprieteAtelier">
						{{ atelier.get_statut_display}}
					</td>
				</tr>
				<tr>
					<td class="nomProprieteAtelier">
						Référent :
					</td>
					<td class="proprieteAtelier">
						{{ atelier.referent}}
					</td>
				</tr>
				<tr>
					<td class="nomProprieteAtelier">
						Date prévue :
					</td>
					<td class="proprieteAtelier">
					{% if atelier.date_atelier %}
						{{ atelier.date_atelier}}
					{% if atelier.heure_atelier %}
						à {{ atelier.heure_atelier}}
					{% endif %}
					{% else %}
						-
					{% endif %}
					</td>

				</tr>
					{% if atelier.duree_prevue %}
				<tr>
					<td class="nomProprieteAtelier">
						Durée prévue :
					</td>
					<td class="proprieteAtelier">
						{{ atelier.duree_prevue}}
					</td>
				</tr>
					{% endif %}
					{% if atelier.tarif_par_personne %}
				<tr>
					<td class="nomProprieteAtelier">
						Prix par personne:
					</td>
					<td class="proprieteAtelier">
						{{ atelier.tarif_par_personne}}
					</td>
				</tr>
					{% endif %}

				<tr>
					<td class="nomProprieteAtelier">
						Inscrits :
					</td>
					<td class="proprieteAtelier">
                        {% for i in inscrits %}
                        <a href="{% url 'profil_nom' i %}">{{i}}</a> {%if not forloop.last%}, {% endif %}
					    {% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
        </div>



<hr>

<div class="row textcenter">
    <h4>Discussion</h4>
</div>

{% include 'commentaires.html' %}

{% endblock %}
