{% extends 'base_ateliers.html' %}
{% load ateliers_filters %}
{% load fontawesome %}
{% load hitcount_tags %}

{% block subtitle %}


 <div class="row rowcentre">
        <div class="col-sm-12 textcenter">
            {%if request.user.is_superuser or request.user.username == atelier.referent or request.user == atelier.auteur  %}
            <div class = "btn-group">
            <a href="{%if request.user.is_authenticated %}{% url 'ateliers:modifierAtelier' slug=atelier.slug %}{% endif %}">
               <button type="button" class="btn btn-sm btn-warning">
                 &nbsp;Modifier
               </button></a>
            </div>
            {% endif %}
            {%if request.user.is_superuser or request.user == atelier.auteur  %}
				<a href="{%if request.user.is_authenticated %}{% url 'ateliers:supprimerAtelier' slug=atelier.slug %}{% endif %}">
               <button type="button" class="btn btn-sm btn-danger">
                 &nbsp;Supprimer l'atelier
               </button></a>
            {% endif %}
        </div>
 </div>
{% endblock %}

{% block content %}
    <div class="row contenu atelier">
    <div class="col justify-content-center">

    <div class="row titre_atelier" style="background-color:{{atelier.atelier.get_couleur}};margin-bottom:5px;">
        <div class="col textcenter" >
              <h2> Atelier : {{ atelier.titre }}</h2>
        </div>
    </div>
 	<div class="row">
    <div class="col-md-12 textcenter">
		<p>
            <span class="badge badge-info">
                {{ atelier.asso }}</a>
            </span>
		</p>
        <p class="infos  textepetit">rédigé le {{ atelier.date_creation|date:"DATE_FORMAT" }}, par <a href="{% url 'profil' atelier.auteur.id %}">{{atelier.auteur.username}}</a>, dernière modification le {{ atelier.date_modification|date:"DATE_FORMAT" }}


            <span class="badge badge-Light">
            {% get_hit_count for atelier as nbvues %}
            {{ nbvues }} vue{{nbvues|pluralize:"s"}}
            </span>
		</p>
    </div>
    </div>

{%if request.user.is_authenticated %}
	 {% if user_inscrit or request.user.is_superuser or request.user == atelier.auteur  %}
 	<div class="row">
    <div class="col-md-12 textcenter">
            <a href="{% url 'ateliers:contacterParticipantsAtelier' slug=atelier.slug %}">
               <button type="button" class="btn btn-sm btn-success">
                 &nbsp;<i class='fa fa-envelope' ></i> Contacter les participants
               </button></a>
		<hr>
    </div>
    </div>
	{% endif %}
{% endif %}

{% if atelier.start_time %}
 <div class="row rowcentre inscrit_atelier">
        <div class="col-sm-12 textcenter">
						le {{ atelier.start_time|date:"l d F Y"}}
						{% if atelier.heure_atelier %}
							{% if atelier.duree_prevue %}
								de {{ atelier.heure_atelier}}h à {{ atelier.heure_fin_atelier|date:"G:i"}}h
							{%else%}
							à {{ atelier.heure_atelier}}
							{% endif %}
						{% endif %}
    </div>
    </div>
{% endif %}

 <div class="row rowcentre inscrit_atelier">
        <div class="col-sm-12 textcenter">
            {%if request.user.is_authenticated %}
                 {% if user_inscrit %}
                    <p>Tu es inscrit.e à cet atelier
                    <a href="{% url 'ateliers:annulerInscription' slug=atelier.slug %}">
                       <button type="button" class="btn btn-warning btn-sm">
                            Se désinscrire
                       </button>
                    </a>
                        </p>


                {% else %}
                    <a href="{% url 'ateliers:inscriptionAtelier' slug=atelier.slug %}">
                       <button type="button" class="btn  btn-success btn-lg">
                            <i class="fa fa-arrow-right"></i> S'inscrire à l'atelier
                       </button>
                    </a>
                {% endif %}
            {% else %}
            <p><a href="/auth/login/" >Connectez vous pour vous inscrire à l'atelier</a></p>
            {% endif %}
        </div>
 </div>
<hr>
    <div class="row">
        <div class="col-sm-12 ">
			<h4>Description : </h4>
            <p>{{ atelier.description|safe}}</p>
        </div>
    </div>
		{% if atelier.materiel %}
		<hr>
    <div class="row">
        <div class="col-sm-12 ">
			<h4>Matériel : </h4>
            <p>{{ atelier.materiel|safe}}</p>
        </div>
    </div>
		<hr>
		{% endif%}
<div class="col-sm-12 paddingbase">
		<table class="table table-condensed ">
			<tbody>
			{% if atelier.article %}
				<tr>
					<td class="nomProprieteAtelier">
						Article associé :
					</td>
					<td class="proprieteAtelier">
						<a href="{{ atelier.article.get_absolute_url}}">{{ atelier.article.titre}}</a>
					</td>
				</tr>
			{% endif %}
				<tr>
					<td class="nomProprieteAtelier">
						Catégorie :
					</td>
					<td class="proprieteAtelier">
						{{ atelier.get_categorie_display}}
					</td>
				</tr>
				<tr>
					<td class="nomProprieteAtelier">
						Statut :
					</td>
					<td class="proprieteAtelier">
						{{ atelier.get_statut_display}}
					</td>
				</tr>

					{% if atelier.referent and atelier.referent != "0" %}
				<tr>
					<td class="nomProprieteAtelier">
						Référent :
					</td>
					<td class="proprieteAtelier">
						<a href="{% url 'profil_nom' atelier.referent %}" >{{ atelier.referent}}</a>
					</td>
				</tr>
					{% endif %}
				<tr>
					<td class="nomProprieteAtelier">
						Date prévue :
					</td>
					<td class="proprieteAtelier">
					{% if atelier.start_time %}
						le {{ atelier.start_time|date:"l d F Y"}}
						{% if atelier.heure_atelier %}
							{% if atelier.duree_prevue %}
								de {{ atelier.heure_atelier}}h à {{ atelier.heure_fin_atelier|date:"G:i"}}h
							{%else%}
							à {{ atelier.heure_atelier}}
							{% endif %}
						{% endif %}
					{% else %}
						-
					{% endif %}
					</td>

				</tr>

					{% if atelier.tarif_par_personne %}
				<tr>
					<td class="nomProprieteAtelier">
						Tarif par personne:
					</td>
					<td class="proprieteAtelier">
						{{ atelier.tarif_par_personne}}
					</td>
				</tr>
					{% endif %}

				<tr>
					<td class="nomProprieteAtelier">
						Inscrits :
					</td>
					<td class="proprieteAtelier">
                        {% for i in inscrits %}
                        <a href="{% url 'profil_nom' i %}">{{i}}</a>{%if not forloop.last%}, {% endif %}
					    {% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
<hr>

{% include 'commentaires.html' %}

{% endblock %}
