<div class="infinite-container ">
    {% for atelier in atelier_list %}
{% ifchanged atelier.atelier.categorie %}
{% if not forloop.first  %}<hr> {% endif %}{% endifchanged %}
<div class="infinite-item ">
   <div class="row justify-content-center ">
    <div class="col-sm-12 col-ms-10 col-lg-8 textcenter " >
        <a  href="{% url 'ateliers:lireAtelier' slug=atelier.slug %}" class="boutonAtelier" >
            <div style="background-color:{{atelier.atelier.get_couleur}};
    font-variant: small-caps;" >
            {% if atelier.categorie == "7" %}(Activité Pro) {% endif %}
                {{ atelier.titre }}  </div>
            {% if atelier.start_time %}
        <p class="textepetit">le {{ atelier.start_time|date:"DATE_FORMAT" }}</p>
        {% endif %}</a>

    </div>
   </div>
</div>
    {% endfor %}
{%include 'pagination.html' %}
</div>