{% extends 'blog/baseBlog.html' %}
{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h3> Bienvenue sur le forum</h3>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-4 textcenter">
        <a href="{% url 'agora' %}">
         <button type="button" class="btn btn-success">
                 Agora
            </button></a>
    </div>
    <div class="col-md-4 textcenter">
         <a href="{% url 'blog:index' %}">
        <button type="button" class="btn btn-success" >
               Annonces
            </button>
            </a>
    </div>
    <div class="col-md-4 textcenter">
         <a href="{% url 'blog:index_projets' %}">
            <button type="button" class="btn btn-success" >
               Projets
            </button>
            </a>
    </div>
    <div class="col-md-4">
    </div>
   </div>

{% endblock %}

