    <div class="card article ">
      <a href="{% url 'blog:lireArticle' slug=article.slug %}">
    <div class="card-block">
            <span class="badge {% if article.estPublic%}badge-warning{%else%} badge-success {%endif%}">
                Article {%if article.estPublic%} public{%else%}  permacat  {%endif%}
            </span>
        <h4 class="card-title">
            {{ article.titre }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Catégorie: {{ article.categorie }}, rédigé par {{ article.auteur }}, le {{ article.date|date:"DATE_FORMAT" }}</h6>
        <p class="card-text">{{ article.contenu|truncatechars:180 }}</p>
  </div>   </a>
    {% if not forloop.last %}
    <hr>
    {%endif%}
</div>