{% extends 'blog/baseBlog.html' %}
{% load blog_filters %}
{% load fontawesome %}
{% load activity_tags %}
{% load widget_tweaks %}
{% load static %}

{% block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock  %}

{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h3> Recherche avancée sur le forum</h3>
    </div>
</div>

 <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filtrer les articles du forum :</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
            <label >Mots dans le titre :</label>
          {% render_field filter.form.titre class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
            <label>Mots dans le texte de description :</label>
          {% render_field filter.form.contenu class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.auteur.label_tag }}
          {% render_field filter.form.auteur class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.categorie.label_tag }}
          {% render_field filter.form.categorie class="form-control" %}
        </div>

        <div class="form-group col-sm-12 col-md-12">
          {{ filter.form.asso.label_tag }}
          <div>
            {% for choice in filter.form.asso %}
              <label class="checkbox-inline">
                {{ choice.tag }} {{ choice.choice_label }}
              </label> &nbsp;
            {% endfor %}
          </div>
        </div>
      </div>
    <div class="row">
    <div class="col-md-12 textcenter">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Filtrer
      </button>
    </div>
    </div>
</div>
  </form>
{% endblock %}
<script>
$(function() {
  $('input[name="dates"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    $('#id_start_time_0').val(start)
    $('#id_start_time_1').val(end)
  });
  $('#datePicker').removeAttr('name');
});
</script>
{% block content %}


    {% comment %}
<form method="get">
        {{ filter.form.as_p }}
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Filtrer
      </button>
    </form>
    {% endcomment %}
<hr>
 <p>Articles trouvés dans le forum ({{filter.qs|length}})</p>

<div class="infinite-container">
    <div class="grid-container justify-content-center">
        {% for article in filter.qs %}
        <div class="infinite-item my-auto">
        {% include "blog/article_template.html" with article=article %}
        </div>
        {% endfor %}
    </div>
</div>
{%include 'pagination.html' %}

{% endblock %}
