{% load activity_tags %}
{% load fontawesome %}
{% load static %}

{%block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_forum.css' %}"/>
{% endblock  %}
<div class="table-responsive-vertical shadow-z-1 infinite-item ">
  <!-- Table starts here -->
  <table id="table" class="table_forum table-hover table-bordered table-mc-amber ">
    {% comment %}
      <thead>
        <tr>
          <th>Groupe</th>
          <th>Titre</th>
          <th>Dossier</th>
          <th class="row_banniere_ordi">Date</th>
        </tr>
      </thead>
    {% endcomment %}
      <tbody style="display:block;">
        {% for article in article_list %}
        <tr >
          <td data-title="Groupe" class="center" style="vertical-align: middle;">
              <a href="{% url 'blog:index_asso' asso=article.asso.abreviation %}#ref-titre" >{{ article.get_logo_nomgroupe_html|safe }}</a>
              {% if article.partagesAsso %} <span>{% for p in article.get_logo_nomgroupespartages_html %}{{ p|safe }}{% endfor %}</span> {% endif %}
          </td>
            <td data-title="Dossier" class="center"><span class="badge badge-primary" style="background-color:{{article.get_couleur}}; color : #666666;">{% if article.get_logo_categorie %}  <img  src="{% static article.get_logo_categorie %}" height="16px"/>  {% endif %}{{ article.get_categorie_display }} </span>&nbsp;</td>

          <td style="width: 100%;" data-title="Titre">
            <a href="{% url 'blog:lireArticle' slug=article.slug %}#ref-titre">
                <div class="titre_forum">{{article.titre}}</div>

            {%if article.estArchive %}
              <span class="badge badge-light">
                   archivé
             </span>
                {% endif %}

          {% if article.start_time %}
              <p>
              <span class="badge badge-success">
              {% if article.end_time %}
              du {{ article.start_time|date:"DATE_FORMAT" }} au {{ article.end_time|date:"DATE_FORMAT" }}
              {%else%}
              le {{ article.start_time|date:"DATE_FORMAT" }}
              {% endif %}
              </span>
              </p>
            {% endif %}
                </a>
          </td>
<td  data-title=""><span class="badge badge-light">
                {% if request.user|is_following:article %}
                    {% fontawesome_icon 'bell' %}
                    {% else %}
                    {% fontawesome_icon 'bell-slash' %}
                {% endif %}&nbsp;
                {%if article.date_modification %}
            {%ifnotequal  article.date_creation|date:"DATE_FORMAT" article.date_modification|date:"DATE_FORMAT" %} &nbsp;
                 Dernière modif le {{ article.date_modification|date:"DATE_FORMAT" }}
            {%else%}&nbsp;
                Posté par {{ article.auteur }} le {{ article.date_creation|date:"d/m/Y" }}
            {%endifnotequal%}
            {%else%}&nbsp;
                Posté par {{ article.auteur }} le  {{ article.date_creation|date:"d/m/Y" }}
            {% endif %}
              </span>
</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>