
{% load activity_tags %}
{% load app_filters %}
{% load fontawesome %}
<a href="{% url 'blog:lireArticle' slug=article.slug %}">
<div class="content-card">
<div class="card-big-shadow">
<div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
    <div class="content">
        <div class="category">
             <div>
                <span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Article {%if article.estPublic%}visible par tous les inscrits{%else%}visible par les membres de {{ article.asso }} seulement{%endif%}">
                {{ article.asso }} </span>&nbsp;
              <span class="badge badge-primary" >{{ article.get_categorie_display }}</span>&nbsp;
            </div>
        </div>
            <div class="category">
                {% if article.album %}
                {% with photo=article.album.get_photo_sample %}
                    {%if photo %}
                    <img src="{{ photo.0.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.0.title }}">
                    {% endif %}
                {% endwith %}
                {% endif %}
            </div>
        <h4 class="title">
            {{ article.titre }}
        </h4>
    <p class="description">

        {% if article.start_time %}
        <span class="btn btn-Light"
          {% if article.end_time %}
          du {{ article.start_time|date:"DATE_FORMAT" }} au {{ article.end_time|date:"DATE_FORMAT" }}
          {%else%}
          le {{ article.start_time|date:"DATE_FORMAT" }}
          {% endif %}
        </div>
        {% endif %}

        {% if article.dernierMessage  %}
            <p class="textsmall">{{ article.dernierMessage|couperTexte:60}}</p>
        {% endif %}
        <div>
             <span class="btn btn-Light" >

                {% if request.user|is_following:article %}
                    {% fontawesome_icon 'bell' %}

                    {% else %}
                    {% fontawesome_icon 'bell-slash' %}
                {% endif %}
                 &nbsp;&nbsp;
                {%if article.estArchive %}
                   archivé
                {% endif %}
                {%ifnotequal  article.date_creation|date:"DATE_FORMAT" article.date_modification|date:"DATE_FORMAT" %} &nbsp; Dernière modif le {{ article.date_modification|date:"DATE_FORMAT" }}{%else%}&nbsp; Posté le {{ article.date_creation|date:"DATE_FORMAT" }} {%endifnotequal%}

             </span>
        </div>
        </p>
    </div>
</div> <!-- end card -->

</div>
</div>

</a>