
{% load activity_tags %}
{% load fontawesome %}
{%ifchanged %}
<div class="card article_recherche " style="background-color:{{article.get_couleur}}">
  <a href="{% url 'blog:lireArticle' slug=article.slug %}">
    <div class="card-block textcenter" >
        <div class="card-header">
            <h4>{{ article.titre|truncatechars:50  }}</h4>
            {% if article.asso %}
        <span class="badge {% if article.estPublic%}badge-warning{%else%} badge-success {%endif%}" data-toggle="tooltip" data-placement="bottom" title="Article {{article.asso.nom}}">
             {{ article.asso }}
        </span>
            {% endif %}
        </div>
        <h6 class="card-subtitle mb-2 ">
               <p class="text-muted"> Catégorie: <em>{{ article.get_categorie_display }}</em>, rédigé par {{ article.auteur }}</p>
            </h6>
    </div>
  </a>
</div>
{%endifchanged %}