{% extends 'blog/base_blog.html' %}
{% block title %} - Modifier l'article{% endblock %}
{% block subtitle %}
<h3>Ajouter un album à l'article "{{article.titre}}"</h3>
{% endblock %}
{% block content %}

<div class="row-sm-12 row-lg-6 mx-auto">
    <form id="myForm" class="form-horizontal" role="form" action="" method="post"
        enctype="multipart/form-data">
            {% include 'form_template.html'%}
    </form>
</div>

<hr>
<p class="textcenter">Sinon, créez l'album puis associez cet album à l'article : </p>
<div class="row align-items-center">
<div class="col-sm-12 textcenter">
    <div class="btn-group">
        <a href="{% url 'photologue:ajouterAlbum' %}">
        <button type="button" class="btn btn-success" >
                <i class="fa fa-plus"></i> Créer un album
            </button>
            </a>&ensp;
</div>
</div>
</div>

{% endblock %}

{% block comment %}{% endblock %}