{% extends 'blog/base_blog.html' %}
{% load carto_filters %}
{% block headerDocument%}
{% load leaflet_tags %}
{%endblock%}
{% block header %}
{% load static %}
{% load staticfiles %}
{% leaflet_js %}
{% leaflet_css %}
{%endblock%}
{% block title %} - Carte - {{asso}}
{% endblock %}
{% block subtitle %}
<div class="row textcenter">
  <div class="col-sm-12 textcenter">
    <h4> {{titre}}</h4>
    <input type="button"  onclick="window.history.back();"  value="Retour" />
  </div>
</div>



{% endblock %}
{% block content %}

<div class="row" style="min-height:600px;">
  <div class="col-md-12" >
      <style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 100%;
    }
    </style>
      <script type="text/javascript">

        function map_init_basic (map, options) {
          var leafIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',

            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

          var greyIcon = L.icon({
              iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
        });
          var greenIcon = L.icon({
              iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
        });

        {% for lieu in lieux %}
            try{
                var lat = {{lieu.adresse.latitude|to_numeric}};
                var lon = {{lieu.adresse.longitude|to_numeric}};
                {% block markers %}
                  var marker = L.marker([lat, lon], {icon: greenIcon}).bindPopup(' <b>{{lieu.get_titre}} {{lieu.adresse.get_adresse_str}} </b>');
                  marker.addTo(map);
                {% endblock %}
            }
            catch(err){ ;
            }
        {%endfor%}
        {% if lieux|length >= 1 %}
        map.panTo(new L.LatLng(lat, lon));
        {%else%}
        map.panTo(new L.LatLng(42.62914, 2.49939));
        {%endif%}
    }
</script>
{% leaflet_map "yourmap" callback="window.map_init_basic" %}
</div>
</div>

{% endblock %}

    
