{% extends 'blog/baseBlog.html' %}
    {% load static %}

{%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{%endblock%}
{%block subtitle%}

<div class="row align-items-center">
<div class="col-md-9 textcenter">
    <div class="btn-group">
            <button class="btn {% if typeFiltre == 'aucun' %}btn-primary {%endif%}">Tout </button>
        <a href="?archives=True">
            <button class="btn {% if typeFiltre == 'archives' %}btn-primary{%else%}btn-light {%endif%}">Archives </button>
        </a>
        <div class="btn-group">
            <a {% if request.GET.auteur %} href="{%url 'profil_nom' request.GET.auteur %}"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn {% if request.GET.auteur %}btn-primary{%endif%}">
                {% if request.GET.auteur %} Auteur: {{request.GET.auteur}} {%else%}Auteur{%endif%}
                </button>
            </a>
             <button type="button" class="btn {% if request.GET.auteur %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idAuteur">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuAuteur"  id=idAuteur">
                {% for auteur in auteur_list %}
                  <a class="dropdown-item" href="?auteur={{auteur}}">{{auteur}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="btn-group">
            <a {% if request.GET.categorie %}  href="?categorie={{categorie}}"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn {% if request.GET.categorie %}btn-primary{%endif%}">
                {% if request.GET.categorie %} Catégorie: {{request.GET.categorie}} {%else%}Catégorie{%endif%}
                </button>
            </a>
             <button type="button" class="btn {% if request.GET.categorie %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idAuteur">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuCategorie"  id=idCategorie">
                {% for cat_id, cat_nom in categorie_list %}
                  <a class="dropdown-item" href="?categorie={{cat_id}}">{{cat_nom}}</a>
                {% endfor %}
            </div>
        </div>

        {% if request.user.is_permacat %}
        <div class="btn-group">
            <a {% if request.GET.permacat %}  href="?permacat=True"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn {% if request.GET.permacat %}btn-primary{%endif%}">
                {% if request.GET.permacat %}{% if request.GET.permacat == "True" %}Permacat {%else%}Public{%endif%}{%else%}Type{%endif%}
                </button>
            </a>
             <button type="button" class="btn {% if request.GET.permacat %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idPermacat">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuStatut"  id=idPermacat">
                  <a class="dropdown-item" href="?permacat=True">Permacat</a>
                  <a class="dropdown-item" href="?permacat=False">Public</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
    <div class="col-md-3 textcenter">
        <a href="{% url 'blog:ajouterNouveauProjet' %}">
        <button type="button" class="btn btn-success" >
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Ajouter un projet
            </button>
            </a>
    </div>
</div>
    {%if not request.user.is_permacat %}
    <p>Comme vous n'êtes pas membre de l'association, vous n'avez pas accès aux projets "Permacat", désolé... Rejoignez-nous !</p>
    {%endif%}
{%endblock%}
{% block content %}

<div class="infinite-container">
{% for projet in projet_list %}
        {% include "blog/projet_template.html" with projet=projet %}
{% empty %}
<p>Aucun projet pour l'instant.</p>
{% endfor %}
</div>

{%include 'pagination.html' %}
{% endblock %}
