{% extends 'blog/baseBlog.html' %}
    {% load static %}

    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}
{%block subtitle%}

<div class="row align-items-center">
<div class="col-md-8 textcenter">
    <div class="btn-group">
        <a href="?">
            <button class="btn {% if typeFiltre == "aucun" %}btn-primary {%endif%}">Tout </button>
        </a>
        <a href="?archives=True">
            <button class="btn {% if typeFiltre == 'archives' %}btn-primary{%else%}btn-light {%endif%}">Archives </button>
        </a>
        <div class="btn-group">
            <a {% if request.GET.auteur %} href="{%url 'profil_nom' request.GET.auteur %}"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn {% if request.GET.auteur %}btn-primary{%endif%}">
                {% if request.GET.auteur %} Auteur: {{request.GET.auteur}} {%else%}Auteur{%endif%}
                </button>
            </a>
             <button type="button" class="btn {% if request.GET.auteur %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idAuteur">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuAuteur"  id=idAuteur">
                {% for auteur in auteur_list %}
                  <a class="dropdown-item" href="?auteur={{auteur}}">{{auteur}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="btn-group">
            <a {% if request.GET.categorie %}  href="?categorie={{categorie}}"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn {% if request.GET.categorie %}btn-primary{%endif%}">
                {% if request.GET.categorie %} Catégorie: {{request.GET.categorie}} {%else%}Catégorie{%endif%}
                </button>
            </a>
             <button type="button" class="btn {% if request.GET.categorie %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idAuteur">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuCategorie"  id=idCategorie">
                {% for categorie_id, cat_nom in categorie_list %}
                  <a class="dropdown-item" href="?categorie={{categorie_id}}">{{cat_nom}}</a>
                {% endfor %}
            </div>
        </div>

        {% if request.user.is_permacat %}
        <div class="btn-group">
                <button type="button" class="btn {% if request.GET.permacat %}btn-primary{%endif%}">
                {% if request.GET.permacat %}{% if request.GET.permacat == "True" %}Permacat {%else%}Public{%endif%}{%else%}Statut{%endif%}
                </button>
             <button type="button" class="btn {% if request.GET.permacat %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idPermacat">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuStatut"  id=idPermacat">
                  <a class="dropdown-item" href="?permacat=True">Permacat</a>
                  <a class="dropdown-item" href="?permacat=False">Public</a>
            </div>
        </div>
        {%endif%}

        {%comment%}
        <div class="btn-group">
                <button class="btn dropdown-toggle btn-block btn-light" type="button" id="menuOrdreTri" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Trier par...
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for ordre in ordreTriPossibles %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&ordre={{ordre}}">{{ordre}}</a>
                    {% endfor %}
                </div>
        </div>{%endcomment%}
    </div>
</div>
    <div class="col-md-4 textcenter">

        <div class="btn-group btn-group-justified">
        <a href="{% url 'blog:ajouterNouvelArticle' %}">
        <button type="button" class="btn btn-success" >
                <span class="glyphicon glyphicon-plus"></span>Ajouter un article
            </button>
            </a>&ensp;

        <a href="{% url 'agora' %}">
         <button type="button" class="btn btn-primary">
                 Salon
            </button></a>
         <a href="{% url 'conversations' %}">
            <button type="button" class="btn btn-primary" >
               Conversations
            </button>
         </a>
    </div>

    </div>
</div>
{%endblock%}
{% block content %}

<div class="infinite-container">
{% for article in article_list %}
        {% include "blog/article_template.html" with article=article %}
{% empty %}
<p>Aucun article.</p>
{% endfor %}
</div>

{%include 'pagination.html' %}

{% endblock %}
