{% extends 'blog/baseBlog.html' %}
    {% load static %}
{% load fontawesome %}

{% load activity_tags %}
    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}
{%block subtitle%}

<div class="row align-items-center">
<div class="col-sm-12 textcenter">
    <div class="btn-group">
        <a href="{% url 'blog:index' %}">
            <button class="btn {% if typeFiltre == "aucun" %}btn-primary {%endif%}">Tout </button>
        </a>
        <a href="?archives=True">
            <button class="btn {% if typeFiltre == 'archives' %}btn-primary{%else%}btn-light {%endif%}">Archives </button>
        </a>
        <div class="btn-group">
            <a {% if request.GET.auteur %} href="{%url 'profil_nom' request.GET.auteur %}"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn {% if request.GET.auteur %}btn-primary{%endif%}">
                {% if request.GET.auteur %} Auteur: {{request.GET.auteur}} {%else%}Auteur{%endif%}
                </button>
            </a>
             <button type="button" class="btn {% if request.GET.auteur %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idAuteur">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuAuteur"  id=idAuteur">
                {% for auteur in auteur_list %}
                  <a class="dropdown-item" href="?auteur={{auteur}}">{{auteur}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="btn-group">
            <a {% if request.GET.categorie %}  href="?categorie={{categorie}}"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn {% if request.GET.categorie %}btn-primary{%endif%}">
                {% if request.GET.categorie %} Catégorie: {{request.GET.categorie}} {%else%}Catégorie{%endif%}
                </button>
            </a>
             <button type="button" class="btn {% if request.GET.categorie %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idAuteur">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuCategorie"  id=idCategorie">
                {% for categorie_id, cat_nom in categorie_list %}
                  <a class="dropdown-item" href="?categorie={{categorie_id}}">{{cat_nom}}</a>
                {% endfor %}
            </div>
        </div>

        {% if request.user.is_permacat %}
        <div class="btn-group">
                <button type="button" class="btn {% if request.GET.permacat %}btn-primary{%endif%}">
                {% if request.GET.permacat %}{% if request.GET.permacat == "True" %}Permacat {%else%}Public{%endif%}{%else%}Type{%endif%}
                </button>
             <button type="button" class="btn {% if request.GET.permacat %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idPermacat">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuStatut"  id=idPermacat">
                  <a class="dropdown-item" href="?permacat=True">Permacat</a>
                  <a class="dropdown-item" href="?permacat=False">Public</a>
            </div>
        </div>
        {%endif%}

        {%comment%}
        <div class="btn-group">
        <a href="{% url 'blog:suivre_article' article.slug %}">
            {% if request.user|is_following:article %}
            <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title=" Cliquez pour arreter de recevoir des notifications concernant cet article par mail">
                 {% fontawesome_icon 'bell' %} Suivi
            </button>
            {% else %}
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title=" Cliquez pour recevoir les notifications concernant cet article par mail">
                 {% fontawesome_icon 'bell-slash' %} Non suivi
            </button>
            {% endif %}
        </a>
        </div>
        {%endcomment%}
        {%comment%}
        <div class="btn-group">
                <button class="btn dropdown-toggle btn-block btn-light" type="button" id="menuOrdreTri" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Trier par...
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for ordre in ordreTriPossibles %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&ordre={{ordre}}">{{ordre}}</a>
                    {% endfor %}
                </div>
        </div>{%endcomment%}
    </div>
</div>

</div>
<div class="row align-items-center">
<div class="col-sm-12 textcenter">

        <div class="btn-group btn-group-justified">
        <a href="{% url 'blog:ajouterNouvelArticle' %}">
        <button type="button" class="btn btn-success" >
                <span class="glyphicon glyphicon-plus"></span>Ajouter un article
            </button>
            </a>&ensp;
    </div>

</div>

</div>
    {%if not request.user.is_permacat %}
<p><small>(vous n'avez pas encore accès aux articles "Permacat"... Rejoignez-nous !)</small></p>
    {%endif%}
{%endblock%}
{% block content %}

<div class="infinite-container">
{% for article in article_list %}
<div class="infinite-item">
        {% include "blog/article_template.html" with article=article %}
</div>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}
</div>

{% endblock %}
