{% extends 'base_projets.html' %}
    {% load static %}
{% load blog_filters %}
{% load activity_tags %}
{% load fontawesome %}

{% block title %} - Projets {% endblock  %}
{%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{%endblock%}


{%block subtitle%}
<div class="container-fluid">

<div class="row align-items-center">
<div class="col-sm-12 textcenter">
        <a href="{% url 'blog:ajouterNouveauProjet' %}">
        <button type="button" class="btn btn-success" >
                <i class="fa fa-plus"></i> Proposer un projet
            </button>
            </a>
&nbsp;
            <a href="{% url 'blog:suivre_projets' %}">

            {% if request.user|is_following:suivis %}
            <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vous êtes abonné :Cliquez pour arreter de recevoir un mail à chaque nouvel article">
                 {% fontawesome_icon 'bell' %}
            </button>
            {% else %}
            <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vous n'êtes pas abonné :Cliquez pour recevoir un mail à chaque nouvel article">
                 {% fontawesome_icon 'bell-slash' %}
            </button>
            {% endif %}
                </a>
</div>
</div>
<hr>
<div class="row align-items-center">
<div class="col-sm-12 textcenter">
    <nav class="navbar navbar-expand-lg justify-content-center  navbar-light bg-light">
        <div class="navbar-header">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProduit" aria-controls="navbarProduit" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse  justify-content-center " id="navbarProduit">
            <ul class="nav navbar-nav justify-content-center">
                <li class="nav-item dropdown">
        <a href="{% url 'blog:index_projets' %}">
            <button class="btn btn-block {% if typeFiltre == 'aucun' %}btn-primary {%endif%}">Tout </button>
        </a>
   </li>
            <li class="nav-item dropdown">
                 <button type="button" class="btn btn-block {% if request.GET.auteur %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   data-target = "#idAuteur">
                    {% if request.GET.auteur %} Auteur: {{request.GET.auteur}} {%else%}Auteur{%endif%}
                 </button>
                <div class="dropdown-menu"  aria-labelledby="menuAuteur"  id=idAuteur">
                    {% for auteur in auteur_list %}
                      <a class="dropdown-item" href="?auteur={{auteur}}">{{auteur}}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
             <button type="button" class="btn  btn-block {% if request.GET.categorie %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idCategorie">
                {% if request.GET.categorie %} {{categorie_courante}} {%else%}Catégorie{%endif%}
                 </button>
                <div class="dropdown-menu"  aria-labelledby="menuAuteur"  id=idCategorie">
                {% for categorie_id, cat_nom in categorie_list %}
                  <a class="dropdown-item" href="?categorie={{categorie_id}}">{{cat_nom}}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
             <button type="button" class="btn  btn-block {% if request.GET.statut %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idStatut">
                {% if request.GET.statut %} {{statut_courant}} {%else%}Statut{%endif%}
                 </button>
                <div class="dropdown-menu"  aria-labelledby="menuAuteur"  id=idStatut">
                {% for statut_id, cat_nom in statut_list %}
                  <a class="dropdown-item" href="?statut={{statut_id}}">{{cat_nom}}</a>
                    {% endfor %}
                </div>
            </li>
        {% if request.user.adherent_pc %}
                <li class="nav-item dropdown">
             <button type="button" class="btn  btn-block {% if request.GET.asso %}btn-primary{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idPermacat">
                 {% if request.GET.asso %}{{asso_courante}}{%else%}Groupe{%endif%}
                </button>
            <div class="dropdown-menu"  aria-labelledby="menuStatut"  id=idPermacat">
                {% for asso in asso_list %}
                  <a class="dropdown-item" href="?asso={{asso.abreviation}}">{{asso.nom}}</a>
                {% endfor %}
            </div>
        </li>
        {% endif %}
    <li class="nav-item dropdown">
                <button class="btn dropdown-toggle btn-light  btn-block " type="button" id="menuOrdreTri" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    trier par...
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for titre, ordre in ordreTriPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode|sansOrdreTri}}&ordreTri={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
   </li>
            </ul>
        </div>
    </nav>
</div>
</div>
</div>
{%endblock%}
{% block content %}

<div class="infinite-container">
    <div class="grid-container justify-content-center">
    {% for projet in projet_list %}
    <div class="infinite-item my-auto mx-auto">
            {% include "blog/projet_template.html" with projet=projet %}
    </div>
    {% endfor %}
</div>
{%include 'pagination.html' %}

{% if list_archive %}
    <div class="textcenter">
        <button id="btn-archives"  type="button" class="btn btn-lg" onclick="toggle_visibility('archives');" data-toggle="tooltip" data-placement="bottom" title="Cliquez pour afficher les archives">
            Afficher les archives
        </button>
    </div>
    <div id="archives" style='display:none;'>
        <hr>
            {% for projet in list_archive %}
            <div class="infinite-item">
                {% include "blog/projet_template.html" with projet=projet %}
            <hr>
            </div>
    {% endfor %}
    </div>
{% endif %}

<script>
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       var btn = document.getElementById("btn-archives");
       if(e.style.display == 'block'){
          e.style.display = 'none';
          btn.textContent = "Afficher les archives";
      }
       else{
          e.style.display = 'block';
          btn.textContent = "Cacher les archives";
      }
   }
</script>
{% endblock %}
