{% extends 'blog/baseBlog.html' %}
{% block subtitle %}
<div class="row">
    <div class="col-md-10">
        <p class="infos  textepetit">Dans: <a href="{% url 'blog:accueil'  %}?categorie={{article.categorie}}">{{ article.get_categorie_display }}</a>, rédigé par <a href="{% url 'profil' article.auteur.id %}"> {{ article.auteur.username }}</a>, le {{ article.date|date:"DATE_FORMAT" }}</p>
    </div>
    <div class="col-md-2">
        <a  href="{% url 'blog:accueil'  %}">
        <button class="btn btn-info btn-sm textright" >Retour au sommaire</button>
            </a>
    </div>
</div>

{% endblock %}
{% block content %}
<div class="contenu article">
<div class="row" >
      <h3 style="text-indent: 20px;">  {{ article.titre }}</h3>
</div>
<div class="row">
    {{ article.contenu }}
</div>
</div>

{% if commentaires %}
<hr>
<div>
<h3>Commentaires</h3>
<ol>
{% for comment in commentaires %}
    <div class="row">
        <div class="col-sm-4">
        <li>
            <h5 style="text-indent: 20px;">{{ comment.titre }}</h5>
        </li>
           <p> <small>Posté par: {{ comment.auteur_comm.username }}, {{ comment.date_creation |date:"DATE_FORMAT"}} </small></p>
        </div>
        <div class=" col-sm-8 commentaire">
                <p>{{ comment.commentaire }}</p>
        </div>
    </div>
{% endfor %}
</ol>
</div>
{% endif %}


{% if form %}
<hr>
<div>
<h4 class="form-group">Laisser un commentaire :</h4>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    <input type="hidden" name="Commentaire" value="{{ commentaire }}">
    {% include 'form_template.html'%}
</form>
</div>
{% endif %}

{% endblock %}