{% extends 'blog/baseBlog.html' %}
{% load static %}
{% load blog_filters %}
{% load fontawesome %}
{% load activity_tags %}
{% block subtitle %}
<div class="row">
    <div class="col-md-2">
        <p>
        {%if projet.auteur == request.user%}
		<div class="btn-group">

            <a href="{% url 'blog:modifierProjet' slug=projet.slug %}">
               <button type="button" class="btn btn-sm btn-warning">
               &nbsp;Modifier
               </button></a>
            <a href="{% url 'blog:supprimerProjet' slug=projet.slug %}">
               <button type="button" class="btn btn-sm btn-danger">
               &nbsp;Supprimer
               </button></a>
		</div>
        {%endif%}

</p>
    </div>
    <div class="col-md-8">
        <p class="infos  textepetit">Dans: <a href="{% url 'blog:index_projets'  %}?categorie={{projet.categorie}}"  style="background-color:{{projet.get_couleur}}">{{ projet.get_categorie_display }}</a>, rédigé par <a href="{% url 'profil' projet.auteur.id %}"> {{ projet.auteur.username }}</a>, le {{ projet.date_creation|date:"DATE_FORMAT" }}


        <a href="{% url 'blog:suivre_projet' projet.slug %}">
            {% if request.user|is_following:projet %}
            <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title=" Cliquez pour arreter de recevoir des notifications concernant ce projet par mail">
                 {% fontawesome_icon 'bell' %} Suivi
            </button>
            {% else %}
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title=" Cliquez pour recevoir les notifications concernant ce projet par mail">
                 {% fontawesome_icon 'bell-slash' %} Non suivi
            </button>
            {% endif %}
        </a>
        <a href="{% url 'blog:suiveursProjet' projet.slug %}">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title=" Cliquez pour recevoir les notifications concernant cet article par mail">
                 {% fontawesome_icon 'eye' %}
            </button>
        </a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
        <a  href="{% url 'blog:index_projets'  %}">
        <button class="btn btn-info btn-sm textright" >Retour au sommaire</button>
            </a>
        </p>
    </div>
</div>

{% endblock %}
{% block content %}
<div class="contenu article">
<div class="row " >
	<div class="col-sm-6">
            <span class="badge {% if projet.estPublic%}badge-warning{%else%} badge-success {%endif%}">
                Projet {%if projet.estPublic%}  public {%else%}  permacat  {%endif%}
            </span>

            {% if article.estArchive%}
            <span class="badge badge-secondary">
                archivé
            </span>
            {%endif%}
	</div>
	<div class="col-sm-6 textright">
               <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Statut : {{ projet.get_statut_display }}
               </button>
	</div>
</div>
<div class="row">
      <h3 style="text-indent: 30px;">{{ projet.titre }}</h3>
</div>
<div class="row">
<div class="col">
    {{ projet.contenu|safe}}
</div>
</div>
<hr>
    <div class="col-sm-12 paddingbase">
		<table class="table table-condensed ">
			<tbody>
				<tr>
					<td class="nomProprieteProduit">
						Référent :
					</td>
					<td class="proprieteProduit">
						{{ projet.coresponsable}}
					</td>
				</tr>
				<tr>
					<td class="nomProprieteProduit">
						Type de projet :
					</td>
					<td class="proprieteProduit">
						{{ projet.get_categorie_display }}
					</td>
				</tr>

                <tr>
					<td class="nomProprieteProduit">
						Dernière modification :
					</td>
					<td class="proprieteProduit">
						{{ projet.date_modification |date:"DATE_FORMAT"}}
					</td>
				</tr>
                    {% if projet.lien_document%}
                <tr>
					<td class="nomProprieteProduit">
						Document en ligne :
					</td>
					<td class="proprieteProduit">
						{{ projet.lien_document}}
					</td>
				</tr>
                    {% endif %}

                    {% if projet.fichier_projet%}
                <tr>
					<td class="nomProprieteProduit">
						Fichiers : {{ projet.fichier_projet}}
					</td>
					<td class="proprieteProduit">
                        <a  href="{{ projet.fichier_projet.url}}" download>
                            <button class="btn btn-info btn-sm textcenter">	{{ projet.fichier_projet.name}}</button>
                            </a>

					</td>
				</tr>
                <tr>
					<td class="nomProprieteProduit">
						Date de téléversement :
					</td>
					<td class="proprieteProduit">
						{{ projet.date_fichier}}
					</td>
				</tr>
                    {% endif %}
                    {%if request.user.is_permacat%}
                    {% if projet.lien_vote%}
                <tr>
					<td class="nomProprieteProduit">
						Lien pour voter :
					</td>
					<td class="proprieteProduit">
						{{ projet.lien_vote}}
					</td>
				</tr>
                    {% endif %}
                    {% endif %}
			</tbody>
		</table>
	</div>
</div>


<hr>

<div class="row textcenter">
    <h4>Discussion autour du projet :</h4>
</div>

<div class="contenu commentaires" id="idConversation">
{% for comment in commentaires %}
    <div class="row {% if comment.auteur.id == request.user.id %} msg-auteur  {%else%} msg-destinataire{%endif%}">

        <div class="col-sm-3 col-md-3 col-lg-2">
            <p class="infos  textepetit">{{ comment.date_creation|date:"d/m/Y, G:i" }}{% ifchanged %}, {{comment.auteur_comm}}{% endifchanged %} </p>
        </div>
        <div class=" col-sm-9 col-md-9 col-lg-10 message ">
                <p>{{ comment.commentaire|safe|url }}</p>
        </div>
    </div>
{% endfor %}
</div>
    <script>
    var messageBody = document.querySelector('#idConversation');
    messageBody.scrollTop = idConversation.scrollHeight - idConversation.clientHeight;
</script>

<hr>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="Nouveau Message" value="{{ message_defaut }}">
    {% include 'form_template3.html' %}
</form>
</div>

{% endblock %}
