{% extends 'blog/baseBlog.html' %}
{% load activity_tags %}
{% load blog_filters %}
{% load fontawesome %}
{% load hitcount_tags %}

{% block subtitle %}

<div class="container-fluid">
<div class="row">
    <div class="col-md-2 " id="sec02">
    </div>
    <div class="col-md-8">
        <p class="infos  textepetit">

            <span class="badge badge-success" style="background-color:{{article.get_couleur}}" ><a href="{% url 'blog:index'  %}?categorie={{article.categorie}}" >{{ article.get_categorie_display }}</a></span>

            <span class="badge badge-success">
                {{ article.asso }}
            </span>
            {% if article.estArchive%}
            <span class="badge badge-Light">
                archivé
            </span>
            {%endif%}
            {% if article.estModifiable%}
            <span class="badge badge-info">
                modifiable
            </span>
            {%endif%}
            <a href="{% url 'profil' article.auteur.id %}">
                <span class="badge badge-Light">
               rédigé par  {{ article.auteur.username }}
                </span>
            </a>

            <span class="badge badge-Light">
                le {{ article.date_creation|date:"DATE_FORMAT" }}
            </span>
            <span class="badge badge-Light">
            {% get_hit_count for article as nbvues %}
            {{ nbvues }} vue{{nbvues|pluralize:"s"}}
            </span>

        <a href="{% url 'blog:suivre_article' article.slug %}">
            {% if request.user|is_following:article %}
            <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vous êtes abonné :  Cliquez pour arreter de recevoir des notifications concernant cet article par mail">
                 {% fontawesome_icon 'bell' %} 
            </button>
            {% else %}
            <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vous n'êtes pas abonné :  Cliquez pour recevoir les notifications concernant cet article par mail">
                 {% fontawesome_icon 'bell-slash' %} 
            </button>
            {% endif %}
        </a>
             {% if request.user.is_superuser %}
        <a href="{% url 'blog:suiveursArticle' article.slug %}">
            <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Voir abonnés">
                 {% fontawesome_icon 'list' %}
            </button>
        </a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-2">
        <p>
        {%if article.auteur == request.user or request.user.is_superuser %}
		<div class="btn-group">
            <a href="{% url 'blog:modifierArticle' slug=article.slug %}">
               <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
               </button></a>
            <a href="{% url 'blog:supprimerArticle' slug=article.slug %}">
               <button type="button" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Supprimer
               </button></a>
        </div>
        {%elif article.estModifiable%}
            <a href="{% url 'blog:modifierArticle' slug=article.slug %}">
               <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
               </button></a>
        {%endif%}

    </p>
    </div>
</div>

</div>

{% endblock %}
{% block content %}
<div class="contenu article ">
<div class="row">
<div class="col-sm-12 offset-md-2 col-md-8 textcenter">
      <h3> {{ article.titre }}</h3>
        {%if article.start_time%}
    <p>
          <a href="{% url 'cal:agenda' %} ">
            {%if article.end_time and article.start_time != article.end_time %}
                Du {{ article.start_time|date:"d/m/Y"  }} au {{ article.end_time|date:"d/m/Y"  }}
                {%else%}
                le {{ article.start_time|date:"d/m/Y"  }}

            {% endif %}
          </a>
    </p>
        {% endif %}
 </div>
<div class="col-sm-12 col-md-2 " >
    <div class="dropdown">
       <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="menuarticle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          plus...
       </button>

      <ul class="dropdown-menu" aria-labelledby="menuarticle">

        <li>
            <button type="button" class="btn textleft" data-toggle="modal" data-target="#dates">
                 {% fontawesome_icon 'calendar' %} Dates {%if article.start_time %}supplémentaires{%endif%}
                </button>
        </li>
         {% if actions %}
          <li>
                <button type="button" class="btn textleft" data-toggle="modal" data-target="#historique">
                  {% fontawesome_icon 'bell' %} Historique
                </button>

    </li>
            {% endif %}
        {% if article.tags.names %}
          <li>
                <button type="button" class="btn textleft" data-toggle="modal" data-target="#tags">
                  # Mots-clés
                </button>
    </li>
            {% endif %}

        <li><hr class="dropdown-divider"></li>
        <li>
        {%if not article.album %}
            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}

                    <small><a class="btn btn-sm btn-success btn-block textleft" href="{% url 'blog:ajouterAlbumArticle' slug=article.slug %}" ><i class="fa fa-plus"></i> Ajouter un album photo</a></small>

            {% endif%}
        {%else%}
            <li>
             <small><a class="btn btn-sm btn-block btn-success textleft" href="{{ article.album.get_absolute_url }}"><i class="fa fa-arrow-right"></i> Voir l'album photo</a></small>
            </li>
            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}

            <li>
               <small> <a class="btn btn-block btn-sm btn-danger textleft" href="{% url 'blog:supprimerAlbumArticle' slug=article.slug%}"><i class="fa fa-times"></i> Enlever l'album photo</a></small>
            </li>
            {% endif %}
        {%endif%}
        </li>

        <li><hr class="dropdown-divider"></li>
        <li>
            <small><a class="btn btn-sm  btn-success textleft" href="{% url 'ateliers:ajouterAtelier_article' article_slug=article.slug %}" ><i class="fa fa-plus"></i>  Ajouter un atelier</a></small>
        </li>

      </ul>
    </div>
</div>
</div>
         <!-- Modal -->
            <div class="modal fade" id="historique" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog textcenter" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <div class="row justify-content-center">
                          <div class="col col-sm-12">
                      <h5 >Historique</h5>
                          </div>
                      </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="contenu historique" id="idHistorique">
                      {%for action in actions %}
                            {% include "notifications/notifications_template3.html" with action=action%}
                      {%endfor%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="tags" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog textcenter" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <div class="row justify-content-center">
                          <div class="col col-sm-12">
                      <h5 >Tags</h5>
                          </div>
                      </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                                 {% for tag in article.tags.names %}
            {{tag}}{%if not forloop.last%}, {%endif%}
           {% endfor %}
                  </div>
                </div>
              </div>
            </div>
 <!-- Modal -->
            <div class="modal fade" id="dates" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog textcenter" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <div class="row justify-content-center">
                       <h5 > Dates</h5>
                      </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      {%for date in dates %}
                     <p>{{date.start_time |date:"l d F Y"}} : {{date.titre}}</p>
                      {%empty%}
                      -
                      {%endfor%}
                    {%if article.auteur == request.user or article.estModifiable %}
                      <p><a class="btn btn-success" href="{% url 'blog:ajouterEvenementArticle' id=article.id %}" ><i class="fa fa-plus"></i> Ajouter une date</a></p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>


 <div class="row">
 <div class="col-sm-12 offset-md-1 col-md-10 textcenter">
                {% for photo in article.album.sample %}
                    <a href="{{ photo.get_absolute_url }}">
                         <img src="{{ photo.get_articles_url }}" class="thumbnail" alt="{{ photo.title }}">
                    </a>&nbsp;
                {% endfor %}
                    {% if article.album.photo_count > 5 %}
                    +...
                    {% endif %}
            </div>
</div>
    <hr>
<div class="row">
<div class="col-sm-12 contenuarticle">
   {{ article.contenu |safe}}
</div>
</div>
    <hr>
{% for atelier in ateliers %}
<div class="row align-items-center">
    <div class="col-sm-12 textcenter">
        Atelier du {{atelier.date_atelier |date:"l d F Y"}} : <a href="{{atelier.get_absolute_url}}"> {{atelier.titre}}</a>
    </div>
</div>
{% endfor%}
</div>


{% include 'commentaires.html' %}

{% endblock %}
