{% load static %}
{% load blog_filters %}
{% load fontawesome %}
{% load activity_tags %}
{% if asso_courante or categorie_courante %}
<div class="row justify-content-center" >
<div class="btn bouton_dossiers_forum">{% if asso_courante %} {{asso_courante}} - {% endif %} {% if categorie_courante %}{{categorie_courante}} {% else %} tous les articles {% endif %}</div>
</div>
{% endif %}
<div class="row justify-content-center">


    <nav class="navbar navbar-expand-md navbar-light bg-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav ">

    {% if article_list or article_list_archives%}
        <li class="nav-item dropdown">
            <a class="nav-item btn-block" href="#" id="menuOrdreTri" data-toggle="dropdown">

                <button class="btn btn-light dropdown-toggle">
                   Trier par...
           </button>
                      </a>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for titre, ordre in ordreTriPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode|sansOrdreTri}}&ordreTri={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
            </li>

    {% else %}
        <p>Il n'y a pas d'articles dans ce dossier</p>
    {% endif %}
</ul></div></nav>


</div>