{% load static %}
{% load blog_filters %}
{% load fontawesome %}
{% load activity_tags %}
<div class="row justify-content-center" >
<div class="btn bouton_dossiers_forum">{% if asso_courante %} Groupe : {{asso_courante}} {% else %} Tous les groupes {% endif %} - {% if categorie_courante %}Dossier : {{categorie_courante}} {% else %} tous les dossiers {% endif %}</div>
</div>
<div class="row justify-content-center">


    <nav class="navbar navbar-expand-md navbar-light bg-light">
					<ul class="navbar-nav ">

    {% if article_list or article_list_archives%}
        <li class="nav-item dropdown">
            <a class="nav-item btn-block" href="#" id="menuOrdreTri" data-toggle="dropdown">
                <button class="btn btn-light dropdown-toggle">
                   Triés par : {{ordre_triage}}
                </button>
            </a>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                    {% for titre, ordre in ordreTriPossibles.items %}
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode|sansOrdreTri}}&ordreTri={{ordre}}">{{titre}}</a>
                    {% endfor %}
                </div>
            </li>

    {% else %}
        <p>Il n'y a pas d'articles dans ce dossier</p>
    {% endif %}
</ul>
    </nav>


</div>