
{% load activity_tags %}
{% load fontawesome %}
<div class="card article_recherche " style="background-color:{{projet.get_couleur}}">
  <a href="{% url 'blog:lireProjet' slug=projet.slug %}">
    <div class="card-block textcenter">
        <div class="card-header">
        <h4 >
            {{ projet.titre }}</h4>
        <span class="badge {% if projet.estPublic%}badge-success{%else%} badge-warning {%endif%}" data-toggle="tooltip" data-placement="bottom" title="Projet {%if projet.estPublic%}visible par tous les inscrits{%else%}visible par les membres de Permacat seulement{%endif%}">
                Projet {{ projet.asso }}
            </span>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">
            <p class="text-muted">Catégorie: <em>{{ projet.get_categorie_display }}</em>, le {{ projet.date_creation|date:"DATE_FORMAT" }} {%ifnotequal  article.date_creation article.date_modification %} (modifié le  {{ projet.date_modification|date:"DATE_FORMAT" }} {%endifnotequal%}</p>
        </h6>
    </div>
  </a>
</div>