<div class="card article ">
      <a href="{% url 'blog:lireProjet' slug=projet.slug %}">
    <div class="card-block">
        <span class="badge {% if projet.estPublic%}badge-warning{%else%} badge-success {%endif%}" style="vertical-align: top">
                Projet {%if projet.estPublic%} public{%else%}  Permacat  {%endif%}
            </span>
        <h4 class="card-title">
            {{ projet.titre }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Catégorie: {{ projet.get_categorie_display }}, rédigé par {{ projet.auteur }}, le {{ projet.date|date:"DATE_FORMAT" }}</h6>
          <p class="text-muted">Dernier message : {{ article.date_dernierMessage||date:"l d F Y, G:i"}} : {{article.dernierMessage}}</p>

        <p class="card-text">{{ projet.contenu|truncatechars:180 }}</p>

  </div>   </a>
    {% if not forloop.last %}
    <hr>
    {%endif%}
</div>