<div class="card article ">
      <a href="{% url 'blog:lireProjet' slug=projet.slug %}">
    <div class="card-block">
        <span class="badge {% if projet.estPublic%}badge-warning{%else%} badge-success {%endif%}" style="vertical-align: top">
                Projet {%if projet.estPublic%} public{%else%}  Permacat  {%endif%}
            </span>
        <h4 class="card-title">
            {{ projet.titre }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">
            <p>Catégorie: {{ projet.get_categorie_display }}, rédigé par {{ projet.auteur }}, le {{ projet.date|date:"DATE_FORMAT" }}</p>
          <p>Dernier message : {{ projet.date_dernierMessage|date:"l d F Y, G:i"}} : {{projet.dernierMessage}}</p>
        </h6>

        <p class="card-text">{{ projet.contenu|truncatechars:180 }}</p>

  </div>   </a>
    {% if not forloop.last %}
    <hr>
    {%endif%}
</div>