
<div class="infinite-item">
    <div class="card article ">
      <a href="{% url 'blog:lireProjet' slug=projet.slug %}">
    <div class="card-block">
        <span class="badge {% if projet.estPublic%}badge-warning{%else%} badge-success {%endif%}" style="vertical-align: top">
                Projet {%if projet.estPublic%} public{%else%}  Permacat  {%endif%}
            </span>
        <h4 class="card-title">
            {{ projet.titre }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">
            <p class="text-muted">Catégorie: <em>{{ projet.get_categorie_display }}</em>, rédigé par {{ projet.auteur }}, le {{ projet.date|date:"DATE_FORMAT" }}</p>
         {%if not projet.dernierMessage == None %} <p class="text-muted2">Dernier message : {{ projet.date_dernierMessage|date:"l d F Y, G:i"}} : {{projet.dernierMessage}}</p>
            {%endif%}
        </h6>

        <p class="card-text">{{ projet.contenu|safe|striptags|truncatechars:200 }}</p>

  </div>   </a>
</div>
</div>
    {% if not forloop.last %}
    <hr>
    {%endif%}