
<div class="table-responsive-vertical shadow-z-1 infinite-item ">
  <!-- Table starts here -->
  <table id="table" class="table_forum table-hover table-striped table-mc-green">
      <thead>
        <tr>
          <th>Dossier</th>
          <th>Groupe</th>
          <th>Titre</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for article in article_list %}
        <tr>

          <td data-title="Dossier"><span class="badge badge-primary" >{{ article.get_categorie_display }}</span>&nbsp;</td>
          <td data-title="Groupe"><span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="Article {%if article.estPublic%}visible par tous les inscrits{%else%}visible par les membres de {{ article.asso }} seulement{%endif%}">
                {{ article.asso }} </span>&nbsp;</td>
          <td data-title="Titre"><a href="{% url 'blog:lireArticle' slug=article.slug %}">{{article.titre}}  </a></td>
          <td data-title="Date">
          {% if article.start_time %}
              <span class="badge badge-success">
              {% if article.end_time %}
              du {{ article.start_time|date:"DATE_FORMAT" }} au {{ article.end_time|date:"DATE_FORMAT" }}
              {%else%}
              le {{ article.start_time|date:"DATE_FORMAT" }}
              {% endif %}
              </span>
            {% endif %}
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>