{% extends 'base_sanscommentaire.html' %} 

{% block content %}
<div id="titre" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
            <h3>S'identifier</h3>
            <hr class="grd1">
            </div>

        </div><!-- end title -->
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                {% include 'form_template.html'%}
                <hr>
                <p>Pas encore inscrit ? <a class="underlineHover" href="{% url 'senregistrer' %}">Créer un compte</a></p>
               <p>Mot de passe oublié ? <a class="underlineHover" href="{% url 'password_reset' %}">Réinitialiser mot de passe</a></p>
            </div>
    </div>
</div>

</div>
</div>
</div>
</div>
        <hr class="hr1">
{% endblock %}
