<div>
<p>Bonjour,</p>
</div>
<div>Merci pour votre inscription &agrave; la <a href="https://www.perma.cat/agoratransition/">Journ&eacute;e de la Transition !</a></div>
<div>&nbsp;</div>
<div>Nous souhaitons laisser la possibilit&eacute; d'une coop&eacute;ration pour l'organisation de cette journ&eacute;e.</div>
<ul>
<li>Pour le "speed dating des engag&eacute;s" que l'on fera le matin, nous proposons aux structures de pr&eacute;parer une pr&eacute;sentation de quelques minutes (pas plus de 5 mn) pour faciliter les &eacute;changes le jour m&ecirc;me. Nous mettrons &agrave; disposition des tables pour disposer vos informations (flyers, affiches, etc).</li>
<li>Pour les tables rondes de l'apr&egrave;s midi, vous pouvez nous envoyer vos suggestions pour les questions que nous aborderons, jusqu'au 24 avril. Un sondage regroupant toutes les propositions suivra afin de d&eacute;terminer les th&egrave;mes d&eacute;finitifs des tables rondes.</li>
</ul>
<div>&nbsp;</div>
<div>Pour toute information compl&eacute;mentaire, nous nous tenons &agrave; votre disposition.</div>
<div>&nbsp;</div>
<div>Fins aviat !</div>
<div>&nbsp;</div>
<div>Cathy : 06.62.64.31.59</div>
<div>Mail : permagora66@gmail.com</div>