{% extends 'base_asso.html' %}
{% load static %}
{% block title %} - Accueil{% endblock %}
{% block subtitle %}

{% include "asso/presentation_asso_template.html" with adherent=request.user.adherent_citealt assos='citealt' %}

{% endblock %}
{% block content %}
{% if request.user.adherent_citealt %}
<p class="textcenter textepetit">Cliquer sur un cercle pour accéder aux articles du forum concerné</p>
<div class="row  justify-content-center">
	<div class="col organisation_citealt textcenter">
				<object data="{% static 'img/citealt/organigramme_ca2.svg' %}" width="100%"
    type="image/svg+xml">

<img src="{% static 'img/citealt/organigramme_ca2.png' %}" width="100%"
    alt="Cite Altruiste" />
</object>
	</div>
	</div>
		<hr>
		{% endif %}

	</div>
</div>
{% endblock %}
