{% extends 'base_asso.html' %}
{% load static %}
{% block title %} - Accueil{% endblock %}
{% block subtitle %}

<h2 class = "textcenter rowbienvenue">Cité Altruiste</h2>

{% include "asso/presentation_asso_template.html" with adherent=request.user.adherent_citealt assos='citealt' %}

<h4 class = "textcenter rowbienvenue">Qui sommes nous ?</h4>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col">
		<p>La « CITE ALTRUISTE » aura pour Valeurs Fondatrices :
			<ul>
				<li>D’être au service de l’humain en toute circonstance ;
				<li>Proposer une « cité » harmonieuse où personne n’est laissé-pour-compte, où chacun puisse préserver sa souveraineté individuelle grâce à la bienveillance collective.</li>
				<li>De prendre en compte l’humain dans son environnement tant social, psychologique, qu’économique, selon une approche globale et entière de la personne, au-delà des approches présentes de la sphère marchande ;</li>
				<li>D’aider, assister, et accompagner, sans discrimination, toute personne en situation de précarité, sociale, psychologique, et/ou financière, du fait des circonstances diverses de la vie, qu’elles soient professionnelles, familiales, ou qu’elles soient liées à la santé, à l’environnement et à l’isolement social ;</li>
				<li>De remettre le champ économique au service de l’humain, de ses besoins et de ses aspirations, en privilégiant des solutions alternatives économiques collaboratives et/ou solidaires, contraire au modèle de l’économie dominante principalement fondé sur la mise en concurrence des intérêts privés et personnels ;</li>
				<li>De privilégier, de façon responsable et dans la mesure de ses moyens, la gestion et la mise en œuvre d’activités et de projets dont la motivation n’est ni lucrative ni commerciale, tout en répondant à un objectif d’équilibre financier et de développement pérenne et durable.</li>
			</ul>
		</p>
		<p>
L'association CITE ALTRUISTE pourrait mettre en œuvre le développement et l’animation d’activités et de projets à caractère solidaire et humaniste. Ces moyens s’articuleraient autour de quatre axes principaux :
<ol>
	<li>Des actions participatives et solidaires ;
	<li>Des initiatives économiques dans le registre de l’économie sociale et solidaire ou de l’économie collaborative ;
	<li>Un (ou des) lieu(x) de vie associative ouvert pour favoriser l’échange, la mise en lien, le soutien à toute activité grâce aux aptitudes et connaissances partagées dans tous les domaines de la vie (Social, Culturel, Artistique, Hygiène de vie, Santé, Petite enfance, Droits Juridiques, développement personnel, etc…) ;</li>
	<li>L’insertion dans l’activité économique, par le biais du développement d’un réseau d’hommes et de femmes, d’associations et d’entreprises partenaires à notre projet, qui permettrait une mise en lien entre divers besoins et différentes compétences recensées.</li>
</ol>
« Ne pas vaincre avec force, colère et dualité, mais réussir avec intelligence, persévérance et bienveillance »
« Nous devons apprendre à vivre ensemble comme des frères, sinon nous allons mourir tous ensemble comme des idiots » MLK
		</p>

		<p> Pour nous contacter, envoyez un mail à <a href="citealtruiste@ecomail.fr">citealtruiste@ecomail.fr</a>
		</p>

		<p> Notre page facebook <a href="https://www.facebook.com/101265958971267/posts/101409928956870/">https://www.facebook.com/101265958971267/posts/101409928956870/</a>
		</p>
<hr>
					{% if request.user.adherent_citealt %}
		<div class="row  justify-content-center">
	<div class="col textcenter organisation_citealt">
				<object data="{% static 'img/citealt/organigramme_ca2.svg' %}" width="100%"
    type="image/svg+xml">

<img src="{% static 'img/citealt/organigramme_ca2.png' %}" width="100%"
    alt="Cite Altruiste" />
</object>
	</div>
	</div>
		{% endif %}

		{% if request.user.is_anonymous %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'login'%}" disabled> Il faut être connecté pour pouvoir s'inscrire dans ce groupe</a>
			</p>
		{% else %}

			{% if request.user.adherent_citealt %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'inscription_citealt' %}"> Je suis inscrit -> Je me désinscris du groupe en cliquant ici</a>
			</p>
			<p class="textcenter">
				 <a class="btn btn-warning" href="https://bit.ly/altruiste" target="_blank"> <i class="fa fa-arrow-right"></i> Remplir le formulaire pour la Ressourcerie 66</a>
			</p>
			{% else %}
			<p class="textcenter">
				 <a class="btn btn-primary" href="{% url 'inscription_citealt' %}">Vous ne faites pas partie du groupe -> Inscrivez-vous en cliquant ici</a>
			</p>
			{% endif %}
		{% endif %}

	</div>
</div>
{% endblock %}
