{% load fontawesome %}
{% load fiches_filters %}

<div class="row">
    <div class="col justify-content-center">
    <div class="row">
        <div class="col-sm-12 textcenter">
            <h4>{{ atelier.titre }}</h4>
        </div>
    </div>
<div class="row ">
    <div class="col-sm-12 textcenter">
            <a href="{% url 'fiches:modifierAtelier' slug=atelier.slug %}">
               <button type="button" class="btn btn-sm btn-warning">
                    &nbsp;Modifier
               </button></a>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12 textcenter">
           <p>{{ atelier.get_difficulte_display }} {{ atelier.get_age_display }}
               {%for i in atelier.get_budget %}
               {% fontawesome_icon 'euro-sign' %}
               {%endfor%}
               {%for i in atelier.get_temps %}
               {% fontawesome_icon 'clock' %}
               {%endfor%}

               </p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <p>{{ atelier.contenu|safe}}</p>
        </div>
    </div>
</div>
</div>