
{% load fontawesome %}
{% load fiches_filters %}

{% comment %}
   <div class="row justify-content-center ">
        <div class="col-sm-12 col-ms-10 col-lg-8 textcenter titre_fiche_index" style="background-color:{{fiche.get_couleur}};">
  <a href="{% url 'fiches:lireFiche' slug=fiche.slug %}">
            <h5>{{ fiche.numero }}. {{ fiche.titre }}</h5>
  </a>
        </div>
</div>

{% endcomment %}

   <div class="row justify-content-center ">
<div class="col-sm-12 col-ms-10 col-lg-8 textcenter " >
    <a  href="{% url 'fiches:lireFiche' slug=fiche.slug %}" class="bouton_fiche_index" style="background-color:{{fiche.get_couleur}};">{{ fiche.numero }}. {{ fiche.titre }}</a>
   </div></div>
{% comment %}
<div class="card fiche_index " style="background-color:{{fiche.get_couleur}}">
  <a href="{% url 'fiches:lireFiche' slug=fiche.slug %}">
    <div class="card-block textcenter" >
        <div class="card-header textcenter">
            <h4>{{ fiche.titre }}</h4>

        </div>
        <h6 class="card-subtitle mb-2 ">
               <p class="text-muted"> Catégorie: <em>{{ fiche.get_categorie_display }}</em>, le {{ fiche.date_creation|date:"DATE_FORMAT" }} {%ifnotequal  fiche.date_creation fiche.date_modification %}(modifié le {{ fiche.date_modification|date:"DATE_FORMAT" }}){%endifnotequal%}</p>
                    {%if not fiche.dernierMessage == None %} <p class="text-muted2"> Dernier message : {{ fiche.date_dernierMessage|date:"l d F Y, G:i"}} {{fiche.dernierMessage}}</p>{%endif%}
            </h6>
    </div>
  </a>
</div>
{% endcomment %}