{% extends 'base.html' %}
{% load static %}
{% load blog_filters %}
{% load fiches_filters %}
{% load fontawesome %}

{% load activity_tags %}
    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}
{%block subtitle%}


<div class="row align-items-center fiche_titre_page_index">
<div class="col-sm-12 textcenter">
    <h3>Les ateliers</h3>
</div>
</div>
<div class="row align-items-center">
<div class="col-sm-12 textcenter">
    <div class="btn-group">
        <a {% if request.GET.categorie %}  href="?categorie={{categorie}}"
            {%else%}href="#" {%endif%}>
            <button type="button" class="btn btn-primary">
            {% if request.GET.categorie %} {{categorie_courante}} {%else%}{% if request.GET.mc %} {{request.GET.mc}} {%else%}Sommaire{%endif%}{%endif%}
            </button>
        </a>
         <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           data-target = "#idAuteur">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        <div class="dropdown-menu"  aria-labelledby="menuCategorie"  id=idCategorie">
              <a class="dropdown-item" href="{% url 'fiches:index_ateliers' %}" style="background-color:#c0ccd6;">Sommaire</a>
              <a class="dropdown-item" href="{% url 'fiches:index_ateliers' %}?mc=essentiels" style="background-color:#c0ccd6;">Les essentiels</a>
              <a class="dropdown-item" href="{% url 'fiches:index' %}" style="background-color:#c0ccd6;">Liste des fiches</a>
              <li>  <span class="nav-link divider" role="separator"></span></li>
            {% for categorie_id, cat_nom in categorie_list %}
              <a class="dropdown-item" href="?categorie={{categorie_id}}" style="background-color:{{categorie_id|couleur_cat}};">{{cat_nom}}</a>
            {% endfor %}

        </div>
    </div>
</div>
</div>

{%endblock%}
{% block content %}

<div class="infinite-container">
    {% for atelier in atelier_list %}
<div class="infinite-item ">
   <div class="row justify-content-center ">
    <div class="col-sm-12 col-ms-10 col-lg-8 textcenter " >
       <a  href="{% url 'fiches:lireFiche' slug=atelier.fiche.slug %}#atelier{{atelier.slug}}" class="bouton_fiche_index" style="background-color:{{atelier.fiche.get_couleur}};"> {{ atelier.titre }}<p class="bouton_fiche_index_entete">({{ atelier.fiche.titre }}) </p></a>
    </div>
   </div>
</div>

    {% endfor %}
</div>
{%include 'pagination.html' %}

{% endblock %}
