{% extends 'base.html' %}
{% load static %}
{% load blog_filters %}
{% load fiches_filters %}
{% load fontawesome %}

{% load activity_tags %}
    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}
{%block subtitle%}

<div class="row align-items-center fiche_titre_page_index">
<div class="col-sm-12 textcenter">
    <h3>Les fiches pratiques</h3>
</div>
</div>

<div class="row">
<div class="col-sm-12 textcenter">
    <nav class="navbar navbar-expand-sm navbar-light justify-content-center ">
        <div class="navbar-header">
             <button class="navbar-toggler btn btn-block" type="button" data-toggle="collapse" data-target="#navbarProduit" aria-controls="navbarProduitContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse  justify-content-center " id="navbarProduit">
            <ul class="nav navbar-nav justify-content-center">
                <li class="nav-item dropdown">
                 <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   data-target = "#idCategorie">
                    {% if request.GET.categorie %} {{categorie_courante}} {%else%}{% if request.GET.mc %} {{request.GET.mc}} {%else%}Sommaire{%endif%}{%endif%}
                    </button>
                <div class="dropdown-menu"  aria-labelledby="menuCategorie"  id=idCategorie">
                      <a class="dropdown-item" href="{% url 'fiches:index' %}" style="background-color:#c0ccd6;">Sommaire</a>
                      <a class="dropdown-item" href="{% url 'fiches:index' %}?mc=essentiels" style="background-color:#c0ccd6;">Les essentiels</a>
                      <a class="dropdown-item" href="{% url 'fiches:index_ateliers' %}" style="background-color:#c0ccd6;">Liste des ateliers</a>
                      <span class="nav-link divider" role="separator"></span>
                    {% for categorie_id, cat_nom in categorie_list %}
                      <a class="dropdown-item" href="?categorie={{categorie_id}}" style="background-color:{{categorie_id|couleur_cat}};">{{cat_nom}}</a>
                    {% endfor %}
                </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</div>

<div class="row align-items-center">
<div class="col-sm-12 textcenter">
    <div class="btn-group">
        <a href="{% url 'fiches:ajouterFiche' %}">
        <button type="button" class="btn btn-success" >
                <i class="fa fa-plus"></i> Ajouter une fiche
            </button>
            </a>&ensp;
</div>
</div>
</div>

{%endblock%}
{% block content %}

<div class="infinite-container">
    {% for fiche in fiche_list %}
{% ifchanged fiche.categorie %}
{% if not forloop.first  %}<hr> {% endif %}
    {% endifchanged %}
    <div class="infinite-item ">
            {% include "fiches/fiche_template.html" with fiche=fiche %}
    </div>
    {% endfor %}
</div>
{%include 'pagination.html' %}

{% endblock %}
