{% extends 'base2.html' %}
{% load static %}
{% load blog_filters %}
{% load fiches_filters %}
{% load fontawesome %}

{% load activity_tags %}
    {%block header %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
    {%endblock%}
{%block subtitle%}


<div class="row align-items-center">
<div class="col-sm-12 textcenter">
    <div class="btn-group">

        <div class="btn-group">
            <a {% if request.GET.categorie %}  href="?categorie={{categorie}}"
                {%else%}href="#" {%endif%}>
                <button type="button" class="btn btn-primary">
                {% if request.GET.categorie %} {{categorie_courante}} {%else%}Sommaire{%endif%}
                </button>
            </a>
             <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idAuteur">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <div class="dropdown-menu"  aria-labelledby="menuCategorie"  id=idCategorie">
                  <a class="dropdown-item" href="{% url 'fiches:index' %}" style="background-color:#577590;">tout</a>
                {% for categorie_id, cat_nom in categorie_list %}

                  <a class="dropdown-item" href="?categorie={{categorie_id}}" style="background-color:{{categorie_id|couleur_cat}};">{{cat_nom}}</a>
                {% endfor %}
            </div>

        <a href="{% url 'fiches:ajouterFiche' %}">
        <button type="button" class="btn btn-success" >
                <span class="glyphicon glyphicon-plus"></span>Ajouter une fiche
            </button>
            </a>&ensp;
        </div>


    </div>
</div>

</div>

{%endblock%}
{% block content %}

<div class="infinite-container">
    {% for fiche in fiche_list %}
    <div class="infinite-item ">
            {% include "fiches/fiche_template.html" with fiche=fiche %}
    </div>

    {% endfor %}
</div>
{%include 'pagination.html' %}

{% endblock %}
