{% extends 'base2.html' %}
{% load fiches_filters %}
{% load blog_filters %}
{% load fontawesome %}
{% block subtitle %}


{% endblock %}

{% block navbar%}
{%if not request.user.is_authenticated %}
{% else %}
            {% include 'navigationBar.html' %}
{% endif %}
{% endblock%}
{% block content %}

 <div class="row justify-content-center">
    <div class="col-sm-2">

        <div class="btn-group btn-group-justified">
        <a  href="{%if request.user.is_authenticated %}{% url 'fiches:index_ateliers' %}{% endif %}">
        <button class="btn btn-info btn-sm textright" ><i class="fa fa-arrow-left"></i> Ateliers</button>
            </a>
        </div>
    </div>
    <div class="col-sm-8">
        <p class="infos  textepetit textcenter "><a href="{%if request.user.is_authenticated %}{% url 'fiches:lireFiche' slug=atelier.fiche.slug %}{%else%}{% url 'fiches:voirFicheTest' %}{%endif%}"><i class="fa fa-arrow-left"></i> Fiche: {{ atelier.fiche.titre }} </a>
        </p>
    </div>
        <div class="col-sm-2 textright">
            <a href="{%if request.user.is_authenticated %}{% url 'fiches:modifierAtelier' slug=atelier.slug %}{% endif %}">
               <button type="button" class="btn btn-sm btn-warning">
                 &nbsp;Modifier
               </button></a>
        </div>
 </div>



    <div class="row contenu atelier">
    <div class="col justify-content-center">


    <div class="row titre_fiche" style="background-color:{{atelier.fiche.get_couleur}};margin-bottom:15px;">
        <div class="col textcenter" >
              <h2> Atelier : {{ atelier.titre }}</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 textcenter">
            <table class="greenTable">
<thead>
<tr>
<th>Age</th>
<th>Difficulté</th>
<th>Budget</th>
<th>Temps</th>
</tr>
</thead>
<tbody>
<tr>
    <td>{{ atelier.get_age_display }}</td><td>{{ atelier.get_difficulte_display }}</td><td>

      <img  style="max-width: 80%; height: auto;" src="{{STATIC_URL}}img/monnaie{{atelier.get_budget}}.png" alt="cout"/>
    {%for i in atelier.get_budget_length %}
               {% fontawesome_icon 'coins' %}
               {% comment %}{% fontawesome_icon 'euro-sign' %} {% endcomment %}
    {%endfor%}

</td>
    <td>
        {{ atelier.get_temps_display }}
         {% comment %}
    {%for i in atelier.get_temps_length %}
               {% fontawesome_icon 'link' %}
               {% fontawesome_icon 'clock' %}
    {%endfor%}
         {% endcomment %}
</td>
</tr>
</tbody>
</tr>
</table>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <p>{{ atelier.contenu|safe}}</p>
        </div>
    </div>
</div>
</div>
        </div>



{% endblock %}
