{% extends 'base_asso.html' %}
{% block title %} - Adhésion{% endblock %}
{% block subtitle %}
<h3 class = "textcenter rowbienvenue">Nous soutenir financièrement en ligne</h3>
{% endblock %}
{% block content %}


<div class="row textcenter">
	<div class="col-sm-12">
        <h5>Voulez-vous :</h5>
        <p>
        <a href="{% url 'adhesion_asso' asso='pc' %}">
         <button type="button" class="btn btn-primary">
                 Adhérer à l'association Permaculture Catalane
            </button>
        </a></p><p>
        <a href="{% url 'faire_don' asso='pc' %}">
         <button type="button" class="btn btn-primary">
                Faire un don à l'association Permaculture Catalane
            </button>
		</a></p><p>
        <a href="{% url 'adhesion_asso' asso='rtg' %}">
         <button type="button" class="btn btn-primary">
                 Adhérer à l'association Ramène Ta Graine
        </button>
		</a></p><p>
        <a href="{% url 'faire_don' asso='rtg' %}">
         <button type="button" class="btn btn-primary">
                Faire un don à l'association Ramène Ta Graine
        </button>
		</a></p><p>
        <a href="{% url 'faire_don' asso='developpeur' %}">
         <button type="button" class="btn btn-primary">
                 Faire un don au déveleppeur du site web
        </button>
		</a></p>
	</div>
</div>

{% endblock %}