{% extends 'base_asso.html' %}
{% load i18n %}
{% load static %}

{% block subtitle %}
<h4 class = "textcenter rowbienvenue">{% trans "Administration et fichiers de l'association" %}</h4>

{% endblock %}
{% block content %}

<div class="row textcenter">
	<div class="col-sm-12">
        <a href="{% url 'listeContacts' asso='scic' %}">
         <button type="button" class="btn btn-primary">
                 Liste des emails
            </button>
		</a>
	</div>
</div>
<hr>

{% if request.user.is_superuser %}
<div class="row textcenter">
	<div class="col-sm-12">
        <a href="{% url 'listeFollowers' asso='scic' %}">
         <button type="button" class="btn btn-primary">
                 SU : Liste des suivis
            </button>
		</a>
	</div>
</div>
<hr>
{% endif %}
<div class="row textcenter">
	<div class="col-sm-12">
        <a href="{% url 'telechargements_permagora' %}">
         <button type="button" class="btn btn-primary">
                 Fichiers à télécharger
            </button>
		</a>
	</div>
</div>
<hr>
{% endblock %}


