{% extends 'base_asso.html' %}
{% load i18n %}
{% load static %}

{% block subtitle %}
<h4 class = "textcenter rowbienvenue">{% trans "Administration et fichiers de l'association" %}</h4>

{% endblock %}
{% block content %}

<div class="row textcenter">
	<div class="col-sm-12">
        <a href="{% url 'listeContacts' %}">
         <button type="button" class="btn btn-primary">
                 Liste des emails
            </button>
		</a>
	</div>
</div>
<hr>

<div class="row textcenter">
	<div class="col-sm-12">
        <a href="{% url 'listeFollowers' %}">
         <button type="button" class="btn btn-primary">
                 Liste des suivis
            </button>
		</a>
	</div>
</div>
<hr>
<div class="row textcenter">
	<div class="col-sm-12">
        <a href="{% url 'telechargements_asso' %}">
         <button type="button" class="btn btn-primary">
                 Fichiers à télécharger
            </button>
		</a>
	</div>
</div>
<hr>
{% endblock %}


