{% extends 'base_asso.html' %}
{% load static %}
{% block header %}
<script src="{% static 'js/sorttable.js' %}"></script>
{% endblock %}
{% block title %} -
Coopérateurs
{% endblock %}
{% block subtitle %}
<div class="row">
    <div class="col-sm-12 textcenter">
        <h3>Liste de tous les adhérents</h3>
    </div>
</div>

{% comment %}
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'contacter_newsletter' %}" >
                <button type="button" class="btn btn-primary" >Envoyer un mail aux abonnés à la newletter</button>
                </a>

        {% if request.user.adherent_pc %}
        <a href="{% url 'contacter_adherents' %}" >
                <button type="button" class="btn btn-primary" >Envoyer un mail aux adhérents Permacat</button>
                </a>
        {% endif %}
    </div>
</div>
{% endcomment %}

{% endblock %}
{% block content %}

{% for mails in listeMails %}
<div class="row justify-content-center">
    <div class="col-sm-4 ">
        <h5>{{mails.titre}} ({{mails.profils|length}})</h5>
    </div>
    <div class="col-sm-7 " id="{{mails.type}}">{% for profil in mails.profils %}<a href="{% url 'profil' profil.id%}">{{profil.email}}</a>{% if not forloop.last %}, {% endif %}{% endfor %} </div>
    <div class="col-sm-1">  <button onclick="copyToClipboard('#{{mails.type}}')">Copier</button>
    </div>
</div>
<hr>
{%endfor%}

<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}</script>

{% endblock %}
