

{%if adherent %}
<div class="row">
	<div class="col-sm-12">
		<div class="btn-group">
			 <a class="btn btn-success" href="{% url 'presentation_asso'  asso=assos %}"> Présentation </a>
			 <a class="btn btn-success" href="{% url 'carte'  asso=assos %}"> Carte / Annuaire des inscrits </a>
			 <a class="btn btn-success" href="{% url 'blog:index_asso' asso=assos%}"> Articles du Forum </a>
		</div>
	</div>
</div>
{% else%}
<div class="row">
	<div class="col-sm-12">
		<button type="button" class="btn btn-warning" >Je ne suis fais pas (encore) partie de ce groupe</button>
	</div>
</div>
{% endif%}