   {% load app_filters %}
<div class="infinite-item">
    <div class="card-deck offre justify-content-between" onclick="window.location.href='{% url 'produit_detail' produit.id %}'" style="cursor: pointer">

        <div class="card d-md-flex textcenter offre2" style="{% if produit.est_perimee %} background-color:grey;{% else %} background-color:{{ produit.couleur }}; border-color:{%if produit.estUneOffre == True %} lightyellow {%else%} 	lightcoral{%endif%}{%endif%}">
            <div class="card-header offreentete justify-content-center">
                <h4 class="card-title">{{ produit.nom_produit|truncatechars:35 }} </h4>

                    <div class="col-xs-5 ">
                         {{produit.user.username}} ({% if produit.user.adresse.commune%}{{produit.user.adresse.commune|truncatechars:14}}{%else%}{{produit.user.adresse.code_postal}}{%endif%})
                    </div>
            </div>
            <div class="card-block"  >
                  <p class="card-text text-align-left" style="height:120px">
                    {{ produit.description|safe|striptags|nbsp|truncatechars:230 }}
                  </p>
   {%comment%}
                  <p class="card-text">
                      {{ produit.photo.thumbnail.url  }}

                  </p>
   {%endcomment%}
            </div>
            <div class="card-footer offre_footer" >
                    <div class="col-xs-12">
                         <span class="badge {% if produit.estUneOffre%}badge-warning{%else%} badge-danger {%endif%}">{% if produit.estUneOffre%}Offre{%else%} Demande {%endif%}
				 {%if produit.estPublique%} publique{%else%} Permacat {%endif%} {% if produit.est_perimee %} (expirée) {% endif %}
		                </span>
                    </div>
                    <div class="col-xs-12">
                    {%if produit.estUneOffre %}{{ produit.get_prixEtUnite }} {%endif%}
                    </div>

                </p>

                </p>
            </div>
        </div>
</div>
   </div>