   {% load app_filters %}
<div class="infinite-item">
    <div class="card-deck offre justify-content-between" onclick="window.location.href='{% url 'produit_detail' produit.id %}'" style="cursor: pointer">

        <div class="card d-md-flex textcenter offre2" style="{% if produit.est_perimee %} background-color:grey;{% else %} background-color:{{ produit.couleur }}; border-color:{%if produit.estUneOffre == True %} lightyellow {%else%} 	lightcoral{%endif%}{%endif%}">
            <div class="card-header offreentete justify-content-center">
                    <div class="col-xs-5 ">
                         {{produit.user.username}} ({% if produit.user.adresse.commune%}{{produit.user.adresse.commune|truncatechars:16}}{%else%}{{produit.user.adresse.code_postal}}{%endif%})
                    </div>
                    <div class="col-xs-2">
                         <span class="badge {% if produit.estUneOffre%}badge-warning{%else%} badge-danger {%endif%}">{% if produit.estUneOffre%}Offre{%else%} Demande {%endif%} 
				 {%if produit.estPublique%} publique{%else%} Permacat {%endif%} {% if produit.est_perimee %} (expirée) {% endif %}
		                </span>
                    </div>
                    <div class="col-xs-5">
                        {{produit.souscategorie}}
                    </div>

            </div>
            <div class="card-block"  >
            {%comment%}   <img class="card-img-top" src="{{ produit.photo.thumbnail.url }}" alt="image indisponible"/>  <img class="card-img-top" alt="Bootstrap Image Preview" src="http://lorempixel.com/200/200/" />

             <img class="card-img-top" alt="Bootstrap Image Preview" src="http://via.placeholder.com/200x200/" />
                {%endcomment%}
                <h4 class="card-title">{{ produit.nom_produit|truncatechars:35 }} </h4>
                  <p class="card-text text-align-left" style="height:120px">
                    {{ produit.description|safe|striptags|nbsp|truncatechars:230 }}
                  </p>
                  <p class="card-text">
   {%comment%}
                      {{ produit.photo.thumbnail.url  }}
   {%endcomment%}

                  </p>
            </div>
            <div class="card-footer offre_footer" ">
                <p>
            {% if produit.date_debut or produit.date_expiration %}
                    {% if produit.date_debut and produit.date_expiration %}
                    du {{ produit.date_debut|date:"j/m" }}{% endif%} {% if produit.date_expiration %} au {{ produit.date_expiration|date:"j/m" }}
                    {%else%}
                    {% if produit.date_debut %}à partir du {{ produit.date_debut|date:"j/m" }}{% endif%} {% if produit.date_expiration %} jusqu'au {{ produit.date_expiration|date:"j/m" }}{% endif%}
                    {%endif%}
                    <br/>
            {%endif%}
                    {%if produit.estUneOffre %}{{ produit.get_prixEtUnite }} {%endif%}

                </p>

                </p>
            </div>
        </div>
   {%comment%}
    </a>
{%endcomment%}
</div>
   </div>