   {% load app_filters %}
<div class="infinite-item">
    <div class="card-deck offre justify-content-between" onclick="window.location.href='{% url 'produit_detail' produit.id %}'" style="cursor: pointer">

        <div class="card card-block textcenter offre2" style="{% if produit.est_perimee %} background-color:grey;{% else %} background-color:{{ produit.couleur }}; border-color:{%if produit.estUneOffre == True %} green {%else%}blueviolet{%endif%}{%endif%};">
            <div class="card-header offreentete justify-content-center">
                    <div class="col-xs-5 ">
                         {{produit.user.username|truncatechars:10}} ({% if produit.user.adresse.commune|truncatechars:10%}{{produit.user.adresse.commune|truncatechars:10}}{%else%}{{produit.user.adresse.code_postal}}{%endif%})
                    </div>
                    <div class="col-xs-2">
                         <span class="badge {% if produit.estUneOffre%}badge-warning{%else%} badge-info {%endif%}">{% if produit.estUneOffre%}Offre{%else%} Demande {%endif%}
				 {% if produit.asso.abreviation == "public" %}publique {%else%}{{produit.asso}}  {%endif%}{% if produit.est_perimee %} (expirée) {% endif %}
		                </span>
                    </div>
                    <div class="col-xs-5">
                        {{produit.souscategorie}}
                    </div>

            </div>
            <div class="card-body align-items-center justify-content-center">
            <h5 class="card-title align-items-center">
                {{ produit.nom_produit|truncatechars:70 }}
            </h5>
            </div>
            <div class="card-footer offre_footer  align-items-center d-flex justify-content-center ">
                <p>
            {% if produit.date_debut or produit.date_expiration %}
                    {% if produit.date_debut and produit.date_expiration %}
                    du {{ produit.date_debut|date:"j/m" }}{% endif%} {% if produit.date_expiration %} au {{ produit.date_expiration|date:"j/m" }}
                    {%else%}
                    {% if produit.date_debut %}à partir du {{ produit.date_debut|date:"j/m" }}{% endif%} {% if produit.date_expiration %} jusqu'au {{ produit.date_expiration|date:"j/m" }}{% endif%}
                    {%endif%}
                    <br/>
            {%endif%}
                    {%if produit.estUneOffre %}{{ produit.get_prixEtUnite }} {%endif%}

                </p>

                </p>
            </div>
        </div>
</div>
   </div>
