{% extends 'base_altermarche.html' %}
{% load app_filters %}
{% block title %} -  {{ produit.nom_produit }} {% endblock %}
{% block subtitle %}

<div class="row align-items-center">
    <div class="col col-md-6">
		<nav class="breadcrumb textepetit">
		  <a class="breadcrumb-item glyphicon-chevron-right" href="{% url 'marche' %}">Au marché</a>
		  <a class="breadcrumb-item glyphicon-chevron-right" href="/marche/lister/?categorie={{produit.categorie}}" >{{produit.categorie}}</a>
		  <a class="breadcrumb-item glyphicon-chevron-right" href="/marche/lister/?souscategorie={{produit.souscategorie}}">{{produit.souscategorie}}</a>
		  <a class="breadcrumb-item glyphicon-chevron-right active" href="/marche/lister/?producteur={{produit.user.username}}">{{produit.user.username}}</a>
		</nav>
    </div>
    <div class="col col-md-6 textright textepetit">
		{% if produit.estUneOffre %}
		  	Proposé par
		  {%else%}
			Demandé par
		{%endif%}
		{%if produit.user.id|is_numeric%}
		<a href="{% url 'profil' produit.user.id %}">{{produit.user.username}}</a>, le {{ produit.date_creation|date:"SHORT_DATE_FORMAT" }}
		{%else%}
		<a href="{% url 'profil_inconnu' %}">un producteur disparu !</a>, le {{ produit.date_creation }}
		{% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}

<script>
  	function ajouterAuPanier() {
    	var quantite = parseInt($('#quantite').val());
     location.href="/panier/ajouter/" + {{produit.id}} + "/" + $('#quantite').val()
  }
</script>

<div class="row">
	<div class="col-12 paddingbase detailProduit" style="background-color: {{ produit.couleur }}; min-height:200px !important">
		<span class="badge {% if produit.estUneOffre%}badge-warning{%else%} badge-info {%endif%}">{% if produit.estUneOffre%}Offre{%else%} Demande {%endif%}
			{% if not produit.estUneOffre and produit.asso.abreviation == "public" %}publique {%else%}{{ produit.asso }}{%endif%}
		</span>
		<div class="row"  >
			<div class="col-md-10 ">
				<h3>
					{{produit.nom_produit}}
				</h3>
				<p class="infos left">
				 {% if produit.date_debut and produit.date_expiration %}
					Valable
				du {{ produit.date_debut|date:"l j F Y" }}{% endif%} {% if produit.date_expiration %} au {{ produit.date_expiration|date:"l j F Y" }}
				{%else%}
					{% if produit.date_debut or produit.date_expiration%}Valable{%endif%}

				{% if produit.date_debut %}à partir du {{ produit.date_debut|date:"l j F Y" }}{% endif%}
				{% if produit.date_expiration %} jusqu'au {{ produit.date_expiration|date:"l j F Y" }}{% endif%}
				{%endif%}
				</p>
				<p class="left">
					{{produit.description|safe}}
				</p>
			</div>
			{%comment%}
			{% if produit.photo %}
			<div class="col-4 textright"> <img alt="{{produit.nom_produit}}" src="{{ produit.photo.url }}" class="img-responsive"/></div>
			{% else%}
			<div class="col-4 textright"><img alt="Bootstrap Image Preview" src="http://lorempixel.com/400/400/" /></div>
			{% endif%}
			{%endcomment%}
		</div>
	</div>
	</div>


	<div class="row">
<div class="col-md-8 paddingbase">
		<table class="table table-condensed ">
			{%comment%}
			<thead>
				<tr>
					<th>
						#
					</th>
					<th>

					</th>
				</tr>
			</thead>
			{%endcomment%}
			<tbody>
				{%comment%}
				<tr>
					<td class="nomProprieteProduit">
						Catégorie :
					</td>
					<td class="proprieteProduit">
						{{ produit.souscategorie }}
					</td>
				</tr>
			
				<tr>
					<td class="nomProprieteProduit">
						Etat / niveau :
					</td>
					<td class="proprieteProduit">
						{{ produit.etat }}
					</td>
				</tr>
			{%endcomment%}
				<tr>
					<td class="nomProprieteProduit">
						Prix :
					</td>
					<td class="proprieteProduit">
						{{ produit.get_prixEtUnite }}
					</td>
				</tr>{%comment%}
				<tr class="active">
					<td class="nomProprieteProduit">
						Stock :
					</td>
					<td class="proprieteProduit">
						{{ produit.stock_initial}}
					</td>
				</tr>
				{%endcomment%}
			</tbody>
		</table>
	</div>

	{% if user.id != produit.user.id %}
	<div class="col-md-4 paddingbase">

				{%comment%}
		<div class="row justify-content-center align-items-center">
			Quantité :
				<div class="col-md-5">

			<div class="input-group">
				<span class="input-group-btn">
					<button type="button" class="quantite-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
					  <span class="glyphicon glyphicon-minus"></span>
					</button>
				</span>
				<input type="text" id="quantite" name="quantite" class="form-control input-number" value="1" min="0" >
				<span class="input-group-btn">
					<button type="button" class="quantite-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</span>
				</div>
			</div>

		<a onclick="ajouterAuPanier()" class="btn btn-primary btn-lg btn-block " type="button" id="buttonAjouterAuPanier">
			<i class="fa fa-plus"></i> Ajouter au panier</a></br></br>
		<a href="{%url 'agora_conversation' produit.user.username %}?produit={{produit.id}}" class="btn btn-success btn-block  btn-lg" type="button">Envoyer un message</a>

		</div>

				{%endcomment%}
		<a href="{%url 'agora_conversation' produit.user.username %}" class="btn btn-success btn-block " type="button">Envoyer un message privé</a>
		{%comment%}
		<a href="{%url 'profil_contact' produit.user.id %}" class="btn btn-success btn-block  btn-lg" type="button">Mail</a>
		{%endcomment%}

	</div>
	{%elif user.id == produit.user.id%}
	<div class="col-md-4 paddingbase">
		<a href="{%url 'produit_modifier' produit.id %}" class="btn btn-warning btn-lg btn-block" type="button">
			Modifier</a>
		<a href="{%url 'produit_supprimer' produit.id %}" class="btn btn-danger btn-lg btn-block" type="button">
			Supprimer</a>
	</div>
	{%endif%}

		{% if request.user.is_superuser %}
	<div class="col-md-4 paddingbase">
		<a href="https://www.perma.cat/gestion/bourseLibre/produit/{{produit.id}}/change/" class="btn btn-danger btn-lg btn-block" type="button">
			SU : Admin </a>
		{% endif %}
	</div>

{% endblock %}
