<div class="col-md-3 col-lg-3 offre justify-content-between hoverable flex-item" style="background-color:{{ produit.couleur }}; border:{%if produit.estUneOffre == True %} green {%else%}blueviolet{%endif%}  solid;">
    <div class="row extratest align-items-start">
        <div class="col-sm-12">
        <a href="{% url 'produit_detail' produit.id %}" >
           <div class="thumbnail">
                {%comment%}<img src="{{ produit.pĥoto.url }}" class="img-responsive"> {%endcomment%}
                <img src="{{ produit.avatar.url }}" alt="avatar" style="width:128px;height:128px">
            </div>
            <div class="caption textcenter ">
                <small> ({{ produit.souscategorie }})</small>
                <h2>{{ produit.nom_produit|truncatechars:12 }} </h2>
                <p> par: {{ produit.user.username }}</p>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-sm-12 textcenter">
            <p> {{ produit.get_prixEtUnite }}</p>
                <a href="{% url 'produit_detail' produit.id %}" class="btn btn-primary btn-sm"
                   role="button">voir en détail...</a>
            </div>
    </div>
    </a>
</div>
