{% extends 'base_profil.html' %}
{% block title %} - Modifier mon profil{% endblock %}
{% block subtitle %}
<h4>Modifier votre profil</h4>
{% endblock %}

{% block content %}
<div class="row textcenter">
<div class="col">
    <p><a href="{% url 'change_password' %}">Modifier mon mot de passe</a></p>
    <p><a href="{% url 'avatar_change' %}">Modifier mon avatar</a></p>
    <p><a href="{% url 'avatar_delete' %}">Supprimer mon avatar</a></p>

</div>
</div>
 <div class="container textleft">
{% include 'form_template.html' %}

 </div>

<hr>
<a href="{%url 'profil_supprimer' %}" class="btn btn-danger btn-lg btn-block" type="button">
			Supprimer mon profil, mes messages, mes requetes, mes annonces et se désinscrire (attention, irreversible !)</a>
{% endblock %}