{% extends 'base.html' %}
{% block title %} - Contact{% endblock %}
{% block subtitle %}
<nav class="navbar navbar-light bg-light justify-content-center" style="display: inline-block;">
     <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'notificationsParDate'  %}"> Notifications par date</a></button>
    <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'notifications_news'  %}">Dernières Notifications</a></button>
      <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'notifications'  %}"> Notifications par type</a></button>
</nav>
{% endblock %}
{% block content %}
<p class="textcenter">Changez ici la date depuis laquelle vous voulez voir les dernières notifications</p>
     {% include 'form_template.html'%}

{% endblock %}

    