
{% load app_filters %}

<li class="list-group-item"  style="{% if request.user.date_notifications > action.timestamp %}background-color:#ffffe6{%endif%}">
    <a href="{%if action.data.url %}{{ action.data.url }}{%endif%} ">{{action.actor}}
        {%if action.description %}{{action.description|truncatechars:180|filtrerNotifSalon}}{% endif %} {%ifequal action.verb 'started following' %} suit la {{action.target}}{% endifequal %} &nbsp; <small>(il y a {{action.timesince}})</small>
        </a></li>
