{% extends 'base.html' %}
{% load activity_tags %}
{% block subtitle %}
<h4 class = "textcenter "> Notifications </h4>

<p class = "textcenter ">
      <a href="{% url 'notifications'  %}" class="btn btn-success">
         Toutes les notifications
      </a>
</p>
<hr>
{%if actions%}
<p class = "textcenter "> depuis la dernière fois que vous avez "marqué comme vu" (le {{request.user.date_notifications|date:"d/m/Y"}} à {{request.user.date_notifications|date:"G:i"}})</p>

{% endif %}
{% endblock %}
{% block content %}

{%if actions%}
<p class = "textcenter ">
      <a href="{% url 'notificationsLues'  %}" class="btn btn-primary">
         Marquer comme vu
      </a>
</p>
{% endif %}
<div class="row justify-content-center">
<div class="card-deck notif justify-content-between">
    <div class="card carte-notif-news notif3  d-lg-flex textcenter">
        <ul class="list-group list-group-flush">
	{%if actions%}
      {% for action in actions %}
          {% include "notifications/notifications_template.html" with action=action %}
      {% endfor %}

		{%else%}
            <li class="list-group-item textcenter"  >Pas de nouvelle activité depuis le {{request.user.date_notifications|date:"d/m/Y"}} à {{request.user.date_notifications|date:"G:i"}}</li>
		{%endif%}
            <li class="list-group-item textcenter"  >
                <a href="{% url 'notificationsParDate'  %}" class="btn btn-success btn-sm">Voir toutes les notifications par date</a>
                </li>

        </ul>

    </div>

</div>
</div>

{% endblock %}
