{% extends 'base_notifications.html' %}
{% load activity_tags %}
{% block subtitle %}
<nav class="navbar navbar-light bg-light justify-content-center" style="display: inline-block;">
      <button class="btn btn-outline-success" type="button"> Notifications par date</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'notifications_news'  %}">Dernières Notifications</a></button>
    <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'notifications'  %}"> Notifications par type</a></button>
</nav>
{% endblock %}
{% block content %}
<div class="row justify-content-center"
<div class="card-deck notif justify-content-between">
<div class="card carte-notif notif3  d-md-flex textcenter">
    <ul class="list-group list-group-flush">
  {% for action in actions %}
      {% include "notifications/notifications_templateParDate.html" with action=action %}
  {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
