{% extends 'base.html' %}
{% load activity_tags %}
{% block subtitle %}
<h4 class = "textcenter "> Notifications par date

</h4>

<p class = "textcenter ">
      <a href="{% url 'notifications'  %}" class="btn btn-success">
         Toutes les notifications
      </a>
</p>
{% endblock %}
{% block content %}
<div class="row justify-content-center"
<div class="card-deck notif justify-content-between">
<div class="card carte-notif notif3  d-md-flex textcenter">
    <ul class="list-group list-group-flush">
  {% for action in actions %}
      {% include "notifications/notifications_templateParDate.html" with action=action %}
  {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
