{% extends 'base.html' %}
{% load activity_tags %}
{% block subtitle %}
<h4 class = "textcenter "> Les dernières nouvelles
</h4>

<p class = "textcenter ">
      <a href="{% url 'notifications_news'  %}" class="btn btn-success">
         Activité récente
      </a>
      <a href="{% url 'notifications'  %}" class="btn btn-success">
         Notifications par type
      </a>
      <a href="{% url 'notificationsParDate'  %}" class="btn btn-success">
         Notifications par date
      </a>
</p>
<h6> Voici les projets, articles, fiches, ateliers ainsi que les offres de l'altermarché parus ces 15 derniers jours</h6>
{% endblock %}
{% block content %}


<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">

    <ul class="list-group list-group-flush">
  {% for info in info_parjour %}
      {% for art in info.infos.0 %}
        {% include "notifications/notifications_template2.html" with action=art color="#f8d7b9"%}
      {%endfor%}
      {% for art in info.infos.1 %}
        {% include "notifications/notifications_template2.html" with action=art  color="#d3ded6"%}
      {%endfor%}
      {% for art in info.infos.2 %}
        {% include "notifications/notifications_template2.html" with action=art color="#d3dcbc" %}
      {%endfor%}
      {% for art in info.infos.3 %}
        {% include "notifications/notifications_template2.html" with action=art color="#d3dcbc" %}
      {%endfor%}
      {% for art in info.infos.4 %}
        {% include "notifications/notifications_template2.html" with action=art color="#d3dcbc" %}
      {%endfor%}
      {% for art in info.infos.5 %}
        {% include "notifications/notifications_template2.html" with action=art color="#d3dcbc" %}
      {%endfor%}

  {% endfor %}
    </ul>
</div>
  </div>
<hr>

{% endblock %}
