{% extends 'base_notifications.html' %}
{% load activity_tags %}
{% load fontawesome %}
{% block subtitle %}

<div class="row justify-content-center">
    <div class="col-sm-8 offset-sm-2">

<nav class="navbar navbar-light bg-light justify-content-center" style="display: inline-block;">
    <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'notificationsParDate'  %}"> Notifications par date</a></button>
    <button class="btn btn-success" type="button">Dernières Notifications</button>
    <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'notifications'  %}"> Notifications par type</a></button>
</nav>
    </div>
    <div class="col-sm-2 ">
        <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#help">
         {% fontawesome_icon 'question-circle' %}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog textaide" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <div class="row justify-content-center">
                   <h5 > Que sont les Notifications' ?</h5>
                  </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body textleft">
                  <p>Les notifications permettent de voir d'un seul coup d'oeil tout ce qui s'est passé sur le site, y compris le contenu dont vous n'êtes pas "abonné" (informé par mail)</p>
                  <p>Les "dernières notifcations" sont les notifications depuis une certaine date, que vous pouvez définir en cliquant sur le bouton "depuis le "..." . Une fois les notifications lues, vous pouvez appuyer sur le bouton "Marquer comme lu" pour que la prochaine fois que vous venez visiter le site, vous voyez d'un coup tout ce qu'il s'estpassé depuis votre dernière visite</p>
                  <p>Vous pouvez aussi voir toutes les notifications organisées par date, ou par type d'événement (nouvel article, nouveau commentaire, nouvelle inscription, nouvelle offre au marché, etc.)</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
{% block content %}

<p class = "textcenter justify-content-center">
        <a href="{% url 'changerDateNotif' %}">
                <button class="btn btn-outline-secondary" type="submit" data-toggle="tooltip" data-placement="bottom" title="Changer la date"> depuis le {{dateMin|date:"d/m/Y"}} à {{dateMin|date:"G:i"}}</button>
        </a>
</p>

{%if htmlArticles or htmlProjets or dico.listautres %}
<p class = "textcenter ">
    <a href="{% url 'notificationsLues'  %}" class="btn btn-outline-primary">
        <i class="fa fa-check"> Marquer comme lu
    </a>
</p>
{% else %}
<p class = "textcenter ">Pas de nouvelle activité </p>
{% endif %}

<div class="row justify-content-center">
<div class="">
{%if htmlArticles  %}
    <div class="card carte-notif-news notif3 d-md-flex">
        <ul class="list-group list-group-flush">
            <li class="list-group-item textcenter"  style="background-color:#ffc34d">Articles</li>
            {{htmlArticles|safe }}
        </ul>
    </div>
{% endif %}

{%if htmlProjets %}
    <div class="card carte-notif-news  d-md-flex">
        <ul class="list-group list-group-flush">
            <li class="list-group-item textcenter"  style="background-color:#f7ff99">Projets</li>
            {{htmlProjets|safe }}
        </ul>
    </div>
{% endif %}
{%if  dico.listautres %}
    <div class="card carte-notif-news notif3 d-md-flex textcenter">
        <ul class="list-group list-group-flush">
{%if htmlProjets or htmlArticles %}
            <li class="list-group-item"  style="background-color:#cce6ff">Autres</li>
{% endif %}
      {% for action in dico.listautres %}
                {% include "notifications/notifications_template4.html" with action=action %}
      {% endfor %}
{% endif %}


        </ul>

    </div>

</div>
</div>

{% endblock %}
