
{% load blog_filters %}
<div class="contenu commentaires" id="idConversation">
{% for comment in commentaires %}
    <div class="row {% if comment.auteur.id == request.user.id %} msg-auteur  {%else%} msg-destinataire{%endif%}">

        <div class="col-sm-3 col-md-3 col-lg-2">
            <p class="infos  textepetit">{{ comment.date_creation|date:"d/m/Y, G:i" }}{% ifchanged %}, <a href="{% url 'profil_nom' comment.auteur_comm %}">{{comment.auteur_comm}}</a>{% endifchanged %}

                {% if request.user == comment.auteur_comm %}
            <a class="boutonediter" href="{{ comment.get_edit_url  }}" role="button">edit</a>
                {% endif %}
</p>

            </div>
        <div class=" col-sm-9 col-md-9 col-lg-10 message ">
                <p>{{ comment.commentaire|safe|url}}</p>
        </div>
    </div>
{% endfor %}
</div>
    <script>
    var messageBody = document.querySelector('#idConversation');
    messageBody.scrollTop = idConversation.scrollHeight - idConversation.clientHeight;
</script>

<hr>

<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="Nouveau Message" value="{{ message_defaut }}">
    {% include 'form_template3.html' %}

</form>
</div>

    <script>
    getElementById("id_commentaire_iframe").height = "150px"
</script>