{% load fontawesome %}
{% load static %}
{% load app_filters %}
{% block navBar %}

<nav class="navbar navbar-light bs-dark navbar-expand-xl fixed-top" id="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-btn" type="button" data-toggle="collapse" data-target="#navbarsActuel" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'bienvenue' %}"><img  src="{% static 'favicon.ico' %}" width="30" height="30" alt="acceuil"/></a>
        <div class="navbar-collapse collapse justify-content-between  align-items-center w-100"  id="navbarsActuel">

{% if user.is_authenticated %}
    <ul class="nav navbar-nav  d-flex justify-content-between  w-100">

        <li class="nav-item dropdown nav6">
            <a class="nav-link dropdown-toggle navbar-menu "  href="{% url 'presentation_site' %}" id="navbarAbout2" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" >
             {% fontawesome_icon 'globe' %} Site
            </a>
            <ul class="dropdown-menu dropdown-menu1 nav6-dropdown" aria-labelledby="navbarAbout2" id="dropdoownSite">
               <li> <a class="dropdown-item" href="{% url 'presentation_site_pkoi' %}"> Pourquoi utiliser le site ? </a></li>
               <li> <a class="dropdown-item" href="{% url 'presentation_site_conseils' %}"> Conseils d'utilisation </a></li>
               <li> <a class="dropdown-item" href="{% url 'faq' %}"> FAQ </a></li>
               <li> <a class="dropdown-item" href="{% url 'cgu' %}"> CGU </a></li>
               <li> <a class="dropdown-item" href="{% url 'liens' %}"> Liens </a></li>
               <li> <a class="dropdown-item" href="{% url 'contact_admins' %}"> Contacter admins </a></li>
                <li class="divider" role="separator"></li>
                {% if request.user.is_superuser %}
                {% load admin_urls %}

                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"  href="#">Admin </a>
                    <ul class="dropdown-menu nav5-dropdown-submenu">
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                       <li> <a class="dropdown-item" href="{% url 'voirEmails' %}"> voir Emails Alertes</a></li>
                       <li> <a class="dropdown-item" href="https://www.perma.cat/gestion/bourseLibre/profil/?o=-3"> Utilisateurs </a></li>
                               <li> <a class="dropdown-item" href="https://www.perma.cat/gestion/hitcount/hit/"> Hits </a></li>
                               <li> <a class="dropdown-item" href="{% url 'blog:voirTousLieux' %}"> Lieux </a></li>

                        <li><a class="dropdown-item" href="{% url 'voir_articles_a_archiver' %}">Archiver articles</a></li>
                        <li><a class="dropdown-item" href="{% url 'vote:index' %}"><i class="fa fa-bullhorn iconleft"></i>  Liste des suffrages </a></li>
                       <li> <a class="dropdown-item" href="{% url 'nettoyerActions' %}"> nettoyerActions</a></li>
                       <li> <a class="dropdown-item" href="{% url 'voirPbProfils' %}"> voirPbProfils</a></li>
                       <li> <a class="dropdown-item" href="{% url 'nettoyerFollows' %}"> nettoyerFollows</a></li>
                       <li> <a class="dropdown-item" href="{% url 'creerAction_articlenouveau' %}"> creerAction_articlenouveau</a></li>
                       <li> <a class="dropdown-item" href="{% url 'abonnerAdherentsCiteAlt' %}"> abonnerAdherentsCiteAlt</a></li>
                       <li> <a class="dropdown-item" href="{% url 'listeContacts_admin' %}"> listeMails</a></li>
                       <li> <a class="dropdown-item" href="{% url 'nettoyerHistoriqueAdmin' %}"> nettoyerHistoriqueAdmin</a></li>
                    </ul>
                </li>
                {%endif%}

                <li class="divider" role="separator"></li>
               <li> <a class="dropdown-item" href="{% url 'adhesion_entree' %}"> Faire un don</a></li>

         <li class="nav-item">
             <form class="form-inline my-2 my-lg-0 justify-content-center form-group navbar-form " action="{% url 'chercher' %}" method="get" role = "search">
        {% csrf_token %}
           <span class="input-group-append">
               <input class="form-control fmr-sm-2" name="id_recherche" type="text" placeholder="Rechercher sur le site...">
    <button class="btn navbar-btn btn-light my-2 my-sm-0" type="submit" data-toggle="tooltip" data-placement="bottom" title="Rechercher sur le site...">{% fontawesome_icon 'search' %}</button>
            </span>
             </input>
        </form>
         </li>

            </ul>
        </li>
        <li class="nav-item dropdown nav5 3to5">
                <a class="nav-link dropdown-toggle navbar-menu "  href="{% url 'presentation_groupes' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% fontawesome_icon 'link' %} Groupes
                </a>
                <ul class="dropdown-menu dropdown-menu1 nav5-dropdown" aria-labelledby="navbarDropdownMenuLink">

                {% comment %}
                    <li><a class="dropdown-item" href="{% url 'agora' asso='public'%}"><i class='fa fa-comment iconleft ' ></i> Salon de discussion du site</a></li>                <li> <a class="dropdown-item" href="{% url 'carte'  asso='public' %}"><i class='fa fa-compass' ></i>  Carte / Annuaire </a></li>
                {% endcomment %}
                    <li> <a class="dropdown-item" href="{% url 'carte'  asso='public' %}"><i class='fa fa-compass' ></i>  Carte / Annuaire </a></li>

                    <li class="divider" role="separator"></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#" >PermaCat</a>
                        <ul class="dropdown-menu nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='pc' %}"> <i class='fa fa-asterisk iconleft ' ></i>Présentation</a></li>
   {% if request.user.adherent_pc %}
                            <li class="divider" role="separator"></li>
                       <li><a class="dropdown-item" href="{% url 'carte'  asso='pc' %}"><i class='fa fa-compass' ></i>  Carte / Annuaire  </a></li>
                            <li class="divider" role="separator"></li>
                     <li> <a class="dropdown-item" href="https://semestriel.framapad.org/p/permacat_doctravail" target="_blank"><i class='fa fa-file iconleft' ></i>  Document de travail </a></li>

                         <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='pc'%}#ref-titre"><i class='fa fa-comments iconleft ' ></i> Articles du forum</a></li>
    {% endif %}

                            <li><a class="dropdown-item" href="{% url 'fiches:acceuil' %}"><i class="fa fa-book iconleft"></i>  Kit PermaEcole </a></li>


                    {%comment%}
                            <li class="divider" role="separator"></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#"><i class='fa fa-folder-open iconleft' ></i> Projets</a>
                        <ul class="dropdown-menu nav5-dropdown-subsubmenu">
                            <li><a class="dropdown-item" href="{% url 'blog:index_projets' %}"><i class='fa fa-folder-open iconleft' ></i>  Tous les projets </a></li>
{% for projet in liste_projets %}
   <li class="dropdown-submenu">
      <a class="dropdown-item" href="{{ projet.get_absolute_url }}"><i class='fa fa-comments' ></i> {{projet.slug}} -{{projet.titre|couperTexte:40}} </a>

 {% if projet.slug == "un-jardin-partage-en-permaculture-accessible-a-tous" or projet.slug == "jardin-de-permacat-a-perpignan" or projet.slug == "jardins-partages-a-perpignan-au-champ-de-mars" %}
       <ul class="dropdown-menu nav5-dropdown-submenu">
           <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin='1' %}"> Blog du Jardi Per Tots</a></li>
           <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Jardin"> Articles des jardins partagés sur le forum</a></li>
        </ul>
 {% elif projet.slug == "jardin-partage-de-palau" %}
       <ul class="dropdown-menu nav5-dropdown-submenu">
           <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin='2' %}"> Blog du jardin de Palau</a></li>
           <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Jardin"> Articles des jardins partagés sur le forum</a></li>
        </ul>
    {% elif projet.slug == "jardins-du-lycee-jean-lurcat" %}
      <ul class="dropdown-menu nav5-dropdown-submenu">
           <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin='3' %}"> Blog du jardin de Lurçat</a></li>
           <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Jardin"> Articles des jardins partagés sur le forum</a></li>
        </ul>

    {% elif projet.slug == "projet-eco-lieu" %}
      <ul class="dropdown-menu nav5-dropdown-submenu">
           <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Ecovillage">Articles du forum</a></li>
           <li> <a class="dropdown-item" href="'{% url blog:index' %}?categorie=Jardin"> Articles des jardins partagés sur le forum</a></li>
        </ul>

{%endif  %}

   </li>
{% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#"><i class='fa fa-wrench iconleft' ></i>  Ateliers Collectifs</a>
                        <ul class="dropdown-menu nav5-dropdown-subsubmenu">
                        <li><a class="dropdown-item" href="{% url 'ateliers:acceuil' %}"><i class='fa fa-wrench iconleft' ></i>  Tous les ateliers </a></li>
                        {% for atelier in liste_ateliers %}
                           <li><a class="dropdown-item" href="{{ atelier.get_absolute_url }}"><i class='fa fa-comments' ></i> {{atelier.titre|couperTexte:22}} {% if atelier.start_time %} ({{ atelier.start_time|date:"d/m" }})  {% endif %} </a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endcomment%}

                        {% if request.user.adherent_pc %}
                       <li class="divider" role="separator"></li>
                        <li><a class="dropdown-item" href="{% url 'admin_asso' asso='pc' %}"><i class='fa fa-database' ></i> Administration  </a></li>
                        {% endif %}
                        <li class="divider" role="separator"></li>
                       <li> <a class="dropdown-item" href="{% url 'charte' %}"> <i class="fa fa-info-circle iconleft"></i> Charte </a></li>
                       <li> <a class="dropdown-item" href="{% url 'statuts' %}"> <i class="fa fa-info-circle iconleft"></i> Statuts et règlement intérieur </a></li>
                        <li class="divider" role="separator"></li>
                       <li> <a class="dropdown-item" href="{% url 'adhesion_asso' asso='pc' %}"><i class='fa fa-euro-sign iconleft ' ></i> Cotisation en ligne </a></li>

                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Ramène Ta Graine</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='rtg' %}"><i class='fa fa-asterisk iconleft' ></i> Présentation </a></li>

                            <li><a class="dropdown-item" href="https://festigraines.fr" target="_blank"><i class='fa fa-comments iconleft' ></i> Festigraines.fr </a></li>
   {% if request.user.adherent_rtg %}
                            <li class="divider" role="separator"></li>
                            <li> <a class="dropdown-item" href="{% url 'carte'  asso='rtg' %}"><i class='fa fa-compass iconleft' ></i>  Carte / Annuaire </a></li>
                            <li class="divider" role="separator"></li>
                     <li> <a class="dropdown-item" href="https://semestriel.framapad.org/p/rtg_doctravail" target="_blank"><i class='fa fa-file iconleft' ></i>  Document de travail </a></li>
                            <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='rtg'%}#ref-titre"><i class='fa fa-comments iconleft' ></i> Articles du forum</a></li>
                            <li><a class="dropdown-item" href="{% url 'blog:lireArticle' slug='dossiersactions-en-cours'%}"><i class='fa fa-comments iconleft' ></i> Dossiers en cours </a></li>
                            <li><a class="dropdown-item" href="{% url 'defraiement:reunions_asso' asso_slug='rtg' %}"><i class='fa fa-comments iconleft' ></i> Defraiement </a></li>

   {% endif %}
                              <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="https://1drv.ms/b/s!AgO84waSGnDoiDlHJeeJPxRRNJM_?e=ucgIvC" target="_blank"><i class='fa fa-info-circle iconleft' ></i>  Statuts  </a></li>
                       <li> <a class="dropdown-item" href="{% url 'adhesion_asso' asso='rtg' %}"><i class='fa fa-euro-sign iconleft ' ></i> Adhésion en ligne </a></li>

                        </ul>
                    </li>

                    {%comment%}
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Fermille</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='fer' %}"><i class='fa fa-asterisk iconleft' ></i> Présentation</a></li>
   {% if request.user.adherent_fer %}
                        <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="{% url 'carte'  asso='fer' %}"><i class='fa fa-compass iconleft' ></i>  Carte / Annuaire </a></li>
                        <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='fer'%}#ref-titre"><i class='fa fa-comments iconleft' ></i> Articles </a></li>

   {% endif %}
                      </ul>
                    </li>
   {% endcomment %}
   {% comment %}
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Gardiens de la Terre</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso'   asso='gt' %}"><i class='fa fa-asterisk iconleft' ></i> Présentation</a></li>
   {% if request.user.adherent_gt %}
                        <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="{% url 'carte'  asso='gt' %}"><i class='fa fa-compass iconleft' ></i>  Carte / Annuaire  </a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='gt'%}#ref-titre"><i class='fa fa-comments iconleft' ></i> Articles </a></li>

   {% endif %}
                      </ul>
                    </li>

   {% endcomment %}
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Jardins Partagés</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index' %}"><i class='fa fa-folder-open iconleft' ></i>  Blog des jardins Partagés </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=1 %}"><i class='fa fa-pagelines' ></i> Jardi Per tots</a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=2 %}"><i class='fa fa-pagelines' ></i> Jardin de Palau </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=3 %}"><i class='fa fa-pagelines' ></i> Jardin de Lurçat </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=4 %}"><i class='fa fa-pagelines' ></i> Gardiens de la Terre </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=5 %}"><i class='fa fa-pagelines' ></i> Fermille </a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">PermAgora</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso'  asso='scic' %}"><i class='fa fa-asterisk iconleft' ></i> Présentation </a></li>
                            <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='scic'%}#ref-titre"><i class='fa fa-comments iconleft' ></i> Articles du forum</a></li>
                           <li> <a class="dropdown-item" href="{% url 'permagora:bienvenue' %}"><i class='fa fa-compass iconleft' ></i>  Plateforme de l'Agora </a></li>
                           <li> <a class="dropdown-item" href="{% url 'agora:acceuil' %}"><i class='fa fa-compass iconleft' ></i>  Journée Agora de la Transition  </a></li>
      {% if request.user.adherent_scic %}
                            <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="{% url 'carte'  asso='scic' %}"><i class='fa fa-compass iconleft' ></i>  Carte / Annuaire  </a></li>
                        <li><a class="dropdown-item" href="{% url 'admin_asso' asso='scic' %}"><i class='fa fa-database' ></i> Administration  </a></li>
                        <li class="divider" role="separator"></li>
                     <li> <a class="dropdown-item" href="https://semestriel.framapad.org/p/permagora_doctravail" target="_blank"><i class='fa fa-file iconleft' ></i>  Document de travail </a></li>
                    <li><a class="dropdown-item" href="{% url 'defraiement:reunions_asso' asso_slug='scic' %}"><i class='fa fa-comments iconleft' ></i> Defraiement </a></li>

   {% endif %}
                              <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="https://www.perma.cat/static/permagora/docs_admin/Statuts-Ri-Charte-PermAgora_final.bb187a297c61.pdf" target="_blank"><i class='fa fa-info-circle iconleft' ></i>  Statuts  </a></li>
                       <li> <a class="dropdown-item" href="{% url 'adhesion_asso' asso='scic' %}"><i class='fa fa-euro-sign iconleft ' ></i> Adhésion en ligne </a></li>

                        </ul>
                    </li>


                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Cité Altruiste</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso'  asso='citealt' %}"><i class='fa fa-asterisk iconleft' ></i> Présentation </a></li>
                      <li> <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/19tiVQYasscCukeNaS_fxfOwcztk4ZjE5AWR1vWlMZEw/edit#gid=1682331242" target="_blank"><i class='fa fa-asterisk iconleft' ></i> Ressourcerie 66 </a></li>
   {% if request.user.adherent_citealt %}
                            <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="{% url 'carte'  asso='citealt' %}"><i class='fa fa-compass iconleft' ></i>  Carte / Annuaire  </a></li>
                          <li> <a class="dropdown-item" href="{% url 'organisation_citealt' %}"><i class='fa fa-sitemap iconleft' ></i>  Organisation  </a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='citealt'%}#ref-titre"><i class='fa fa-comments iconleft' ></i> Articles du forum</a></li>
                     <li> <a class="dropdown-item" href="https://semestriel.framapad.org/p/citealtruiste_doctravail" target="_blank"><i class='fa fa-file iconleft' ></i>  Document de travail </a></li>
   {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Viure</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso'  asso='viure' %}"><i class='fa fa-asterisk iconleft' ></i> Présentation </a></li>
                         {% if request.user.adherent_viure %}
                            <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="{% url 'carte'  asso='viure' %}"><i class='fa fa-compass iconleft' ></i>  Carte / Annuaire  </a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='viure'%}#ref-titre"><i class='fa fa-comments iconleft' ></i> Articles du forum</a></li>
                     <li> <a class="dropdown-item" href="https://semestriel.framapad.org/p/viure_doctravail" target="_blank"><i class='fa fa-file iconleft' ></i>  Document de travail </a></li>
   {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Projet Bzzz</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso'  asso='bzz2022' %}"><i class='fa fa-asterisk iconleft' ></i> Présentation </a></li>
                         {% if request.user.adherent_viure %}
                            <li class="divider" role="separator"></li>
                          <li> <a class="dropdown-item" href="{% url 'carte'  asso='bzz2022' %}"><i class='fa fa-compass iconleft' ></i>  Carte / Annuaire  </a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="{% url 'blog:index_asso' asso='bzz2022'%}#ref-titre"><i class='fa fa-comments iconleft' ></i> Articles du forum</a></li>
                     <li> <a class="dropdown-item" href="https://semestriel.framapad.org/p/projetbzzz_doctravail" target="_blank"><i class='fa fa-file iconleft' ></i>  Document de travail </a></li>
   {% endif %}
                        </ul>
                    </li>
                </ul>
        </li>
        <li class="nav-item dropdown nav8">
            <a class="nav-link dropdown-toggle navbar-menu "  href="{% url 'blog:acceuil' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-wrench iconleft" ></i> Activités
            </a>

            <ul class="dropdown-menu dropdown-menu1 nav8-dropdown" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"  href="#">Projets</a>
                    <ul class="dropdown-menu nav8-dropdown-submenu">
                        <li> <a class="dropdown-item" href="{% url 'blog:index_projets' %}"><i class='fa fa-folder-open iconleft' ></i>  Voir tous les projets </a></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Projets acceptés</a>
                        <ul class="dropdown-menu nav8-dropdown-subsubmenu">


                        {% for projet in liste_projets %}
                         {% if projet.slug == "un-jardin-partage-en-permaculture-accessible-a-tous" or projet.slug == "jardin-de-permacat-a-perpignan" or projet.slug == "jardins-partages-a-perpignan-au-champ-de-mars" %}
                           <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle"  href="#">{{projet.titre|couperTexte:40}}</a>
                               <ul class="dropdown-menu nav8-dropdown-subsubmenu">
                                   <li> <a class="dropdown-item" href="{% url 'blog:lireProjet' slug=projet.slug %}"><i class='fa fa-folder-open' ></i>  Fiche Projet</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin='1' %}"><i class='fa fa-pagelines' ></i>  Blog du Jardi Per Tots</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Jardin"><i class='fa fa-comments' ></i>  Articles des jardins partagés sur le forum</a></li>
                                </ul>
                            </li>
                        {%  elif projet.slug == "projet-bzzzz-2022" %}
                           <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle"  href="#">{{projet.titre|couperTexte:40}}</a>
                               <ul class="dropdown-menu nav8-dropdown-subsubmenu">
                                   <li> <a class="dropdown-item" href="{% url 'blog:lireProjet' slug=projet.slug %}"><i class='fa fa-folder-open' ></i>  Fiche Projet</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=bzzz"><i class='fa fa-comments' ></i>  Articles </a></li>
                                </ul>
                            </li>
                         {% elif projet.slug == "jardin-partage-de-palau" %}
                           <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle"  href="#">{{projet.titre|couperTexte:40}}</a>
                                    <ul class="dropdown-menu nav8-dropdown-subsubmenu">
                                   <li> <a class="dropdown-item" href="{% url 'blog:lireProjet' slug=projet.slug %}"><i class='fa fa-folder-open' ></i>  Fiche Projet</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin='2' %}"><i class='fa fa-pagelines' ></i>  Blog du jardin de Palau</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Jardin"><i class='fa fa-comments' ></i>  Articles des jardins partagés sur le forum</a></li>
                                </ul>
                            </li>
                            {% elif projet.slug == "jardins-du-lycee-jean-lurcat" %}

                           <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle"  href="#">{{projet.titre|couperTexte:40}}</a>
                                <ul class="dropdown-menu nav8-dropdown-subsubmenu">
                                   <li> <a class="dropdown-item" href="{% url 'blog:lireProjet' slug=projet.slug %}" ><i class='fa fa-folder-open' ></i>  Fiche Projet</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin='3' %}"><i class='fa fa-pagelines' ></i>  Blog du jardin de Lurçat</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Jardin"><i class='fa fa-comments' ></i>  Articles des Jardins Partagés sur le forum</a></li>
                                </ul>
                            </li>

                            {% elif projet.slug == "projet-eco-lieu" %}
                           <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle"  href="#">{{projet.titre|couperTexte:40}}</a>
                                    <ul class="dropdown-menu nav8-dropdown-subsubmenu">
                                   <li> <a class="dropdown-item" href="{% url 'blog:lireProjet' slug=projet.slug %}"><i class='fa fa-folder-open' ></i>  Fiche Projet</a></li>
                                   <li> <a class="dropdown-item" href="{% url 'blog:index' %}?categorie=Ecovillage"><i class='fa fa-comments' ></i>  Articles du forum</a></li>
                                </ul>
                            </li>
                        {%else  %}
                            <li><a class=" dropdown-item nav8-dropdown-subsubmenu" href="{% url 'blog:lireProjet' slug=projet.slug %}"><span>{{projet.titre|truncatechars:45}}</span></a></li>

                        {%endif  %}

                        {% endfor %}
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Projets Proposés </a>
                        <ul class="dropdown-menu nav8-dropdown-subsubmenu">
                           {% for projet in liste_projets_prop %}
                            <li><a class=" dropdown-item " style="background:{{projet.get_couleur}};" href="{% url 'blog:lireProjet' slug=projet.slug %}"><span>{{projet.titre|truncatechars:45}}</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    </ul>
                </li>
                {% comment %}
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"  href="#">Jardins Partagés</a>
                    <ul class="dropdown-menu nav8-dropdown-submenu">
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index' %}"><i class='fa fa-folder-open iconleft' ></i>  Blog des jardins Partagés </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=1 %}"><i class='fa fa-pagelines' ></i> Jardi Per tots</a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=2 %}"><i class='fa fa-pagelines' ></i> Jardin de Palau </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=3 %}"><i class='fa fa-pagelines' ></i> Jardin de Lurçat </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=4 %}"><i class='fa fa-pagelines' ></i> Gardiens de la Terre </a></li>
                        <li> <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=5 %}"><i class='fa fa-pagelines' ></i> Fermille </a></li>
                    </ul>
                </li>
                {% endcomment %}
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"  href="#">Ateliers </a>
                    <ul class="dropdown-menu nav8-dropdown-submenu">
                        <li><a class="dropdown-item" href="{% url 'ateliers:index_ateliers' %}"><i class='fa fa-folder-open iconleft' ></i>  Tous les ateliers </a></li>
                        {% for atelier in liste_ateliers %}
                        <li><a class=" dropdown-item " href="{%url 'ateliers:lireAtelier' slug=atelier.slug %}"><span>{{atelier.titre}} {% if atelier.start_time %}({{ atelier.start_time|date:"d/m" }}){% endif %} </span></a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"  href="#">Fichiers </a>
                    <ul class="dropdown-menu nav8-dropdown-submenu">
                        <li><a class="dropdown-item" href="{% url 'photologue:album-list' %}"> Albums photo</a></li>
                        <li><a class="dropdown-item" href="{% url 'photologue:doc-list' %}"> Documents </a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"  href="#">Outils externes</a>
                    <ul class="dropdown-menu nav8-dropdown-submenu">
                        <li> <a class="dropdown-item" href="https://framatalk.org/permacat" target="_blank"><i class='fa fa-arrow-right iconleft' ></i>  Visioconférence (Framatalk) </a></li>
                        <li> <a class="dropdown-item" href="https://semestriel.framapad.org/p/permacat_{% random_name 8 %}" target="_blank"><i class='fa fa-arrow-right iconleft' ></i>  Doc partagé (Framapad) </a></li>
                        <li> <a class="dropdown-item" href="https://lite.framacalc.org/permacat_{% random_name 8 %}" target="_blank"><i class='fa fa-arrow-right iconleft' ></i>  Tableau partagé (Framacalc) </a></li>
                        <li> <a class="dropdown-item" href="https://framadate.org/create_poll.php?type=date&lang=fr" target="_blank"><i class='fa fa-arrow-right iconleft' ></i>  Sondage date (Framadate) </a></li>
                        <li> <a class="dropdown-item" href="https://framaforms.org/node/add/form1" target="_blank"><i class='fa fa-arrow-right iconleft' ></i>  Sondage (Framaforms) </a></li>
                        <li> <a class="dropdown-item" href="https://www.balotilo.org/" target="_blank"><i class='fa fa-arrow-right iconleft' ></i>  Vote (Balotilo) </a></li>
                        <li> <a class="dropdown-item" href="https://www.togetzer.com/index.php?view=evenement&creer_evenement=1" target="_blank"><i class='fa fa-arrow-right iconleft' ></i>  Covoiturage (togetzer) </a></li>
                    </ul>
                </li>
         <li><a class="dropdown-item" href="{% url 'salon_accueil' %}"> Salons </a></li>
            </ul>
        </li>

        <li class="nav-item nav4 5to4"><a class="nav-link" href="{% url 'notifications_news' %}">{% fontawesome_icon 'bell' %} {% if request.user.afficherNbNotifications %}({{ notification_count }}) {% endif %} Notifications</a></li>

        <li class="nav-item nav2"><a class="nav-link" href="{% url 'blog:acceuil' %}">{% fontawesome_icon 'comments' %} Forum</a></li>
        <li class="nav-item nav3 4to3"><a class="nav-link" href="{% url 'cal:agenda' %}">{% fontawesome_icon 'calendar' %}  Agenda</a></li>

        <li class="nav-item nav1"><a class="nav-link" href="{% url 'marche' %}"> {% fontawesome_icon 'shopping-basket' %} Annonces</a></li>

        <li class="nav-item dropdown nav7">
           <a data-toggle="dropdown" class="nav-link dropdown-toggle  navbar-menu" href="{% url 'profil_courant' %}" aria-haspopup="true" aria-expanded="false"  >
              {% fontawesome_icon 'user' %} Profil: {{request.user|truncatechars:8}} </a>
            <ul class="dropdown-menu dropdown-menu1 nav7-dropdown" aria-labelledby="navbarDropdownMenuLink">
               <li> <a class="dropdown-item" href="{% url 'profil_courant' %}">Mon profil</a></li>
                <li class="divider" role="separator"></li>
                 <li><a class="dropdown-item" href="{% url 'conversations' %}"> Conversations privées</a></li>
                <li class="divider" role="separator"></li>
                 <li><a class="dropdown-item" href="{% url 'mesSuivis' %}"> Abonnements </a></li>
                <li class="divider" role="separator"></li>
               <li> <a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>
{% else %}

    <ul class="nav navbar-nav mr-auto navbar-left">

        <li class="nav-item dropdown nav2">
            <a class="nav-link dropdown-toggle navbar-menu" href="{% url 'profil_courant' %}" id="navbarAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Le site
            </a>
            <ul class="dropdown-menu dropdown-menu1  nav2-dropdown" aria-labelledby="navbarAbout">
                <li> <a class="dropdown-item" href="{% url 'presentation_site_pkoi' %}"><i class='fa fa-info-circle iconleft ' ></i> Pourquoi utiliser le site ? </a></li>
               <li> <a class="dropdown-item" href="{% url 'contact_admins' %}"><i class='fa fa-envelope iconleft ' ></i> Nous contacter</a></li>
                    <li class="divider" role="separator"></li>
               <li> <a class="dropdown-item" href="{% url 'cgu' %}"><i class='fa fa-info-circle iconleft ' ></i> CGU </a></li>
                    <li class="divider" role="separator"></li>
               <li> <a class="dropdown-item" href="{% url 'adhesion_entree' %}"><i class='fa fa-euro-sign iconleft ' ></i> Faire un don</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown nav5 3to5">
                <a class="nav-link dropdown-toggle navbar-menu "  href="{% url 'presentation_groupes' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% fontawesome_icon 'link' %} Les Groupes
                </a>
                <ul class="dropdown-menu dropdown-menu1 nav5-dropdown" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#" >PermaCat</a>
                        <ul class="dropdown-menu nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='pc' %}"><i class='fa fa-asterisk iconleft ' ></i>  Présentation</a></li>

                            <li class="divider" role="separator"></li>
                       <li> <a class="dropdown-item" href="{% url 'charte' %}"><i class="fa fa-info-circle iconleft"></i> Charte </a></li>
                       <li> <a class="dropdown-item" href="{% url 'statuts' %}"><i class="fa fa-info-circle iconleft"></i> Statuts et règlement intérieur </a></li>
                        <li class="divider" role="separator"></li>
                       <li> <a class="dropdown-item" href="{% url 'adhesion_asso' asso='pc' %}"><i class='fa fa-euro-sign iconleft ' ></i> Cotisation en ligne </a></li>

                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Ramène Ta Graine</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='rtg' %}"><i class='fa fa-asterisk iconleft ' ></i> Présentation </a></li>
                          
                       <li> <a class="dropdown-item" href="{% url 'adhesion_asso' asso='rtg' %}"><i class='fa fa-euro-sign iconleft ' ></i> Cotisation en ligne </a></li>
                        </ul>
                    </li>

                    {% comment %}
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Fermille</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='fer' %}"><i class='fa fa-asterisk iconleft ' ></i>  Présentation</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Gardiens de la Terre</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='gt' %}"><i class='fa fa-asterisk iconleft ' ></i> Présentation</a></li>

                      </ul>
                    </li>
                    {% endcomment %}

                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">PermAgora</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='scic' %}"><i class='fa fa-asterisk iconleft ' ></i> Présentation</a></li>
<li> <a class="dropdown-item" href="{% url 'permagora:bienvenue' %}"><i class='fa fa-compass iconleft' ></i>  Plateforme de l'Agora </a></li>

                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Cité Altruiste</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='citealt' %}"><i class='fa fa-asterisk iconleft ' ></i> Présentation</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle"  href="#">Viure</a>
                        <ul class="dropdown-menu  nav5-dropdown-submenu">
                       <li> <a class="dropdown-item" href="{% url 'presentation_asso' asso='viure' %}"><i class='fa fa-asterisk iconleft ' ></i> Présentation</a></li>
                      </ul>
                    </li>
                </ul>
        </li>


    </ul>

    <ul class="nav navbar-nav ">
        <li class="nav-item nav4 "><a class="nav-link" href="{% url 'login' %}"> {% fontawesome_icon 'user' %} Se connecter</a></li>
        <li class="nav-item nav5 "><a class="nav-link" href="{% url 'senregistrer' %}"> {% fontawesome_icon 'address-card' %} S'inscrire</a></li>

    </ul>
{% endif %}
</div>
    </div>
</nav>
<script>
$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
  }
  var $subMenu = $(this).next('.dropdown-menu');
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass('show');
  });

  return false;
});

{% comment %}
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-70px";
  }
  prevScrollpos = currentScrollPos;
}
{% endcomment %}

</script>
{% endblock %}

