{% load fontawesome %}
{% block navBar %}

<nav class="navbar  navbar-dark bs-dark bg-dark navbar-expand-xl justify-content-center fixed-top navbarMenu">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-btn" type="button" data-toggle="collapse" data-target="#navbarsActuel" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'bienvenue' %}"> Perma.Cat</a>

        <li class="navbar-collapse collapse justify-content-between  align-items-center w-100"  id="navbarsActuel">

{% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="nav-item dropdown">
          <a  data-toggle="dropdown" class="nav-link dropdown-toggle" href="{% url 'marche' %}"  aria-haspopup="true" aria-expanded="false">
              {% fontawesome_icon 'shopping-basket' %}
              L'Altermarché
        </a>

        <ul class="dropdown-menu textcenter">
            <li><a  class="nav-link  dropdown-item" href="{% url 'marche' %}">Toutes les annonces</a></li>
             <li><a  class="nav-link dropdown-item" href="{% url 'marche_offres' %}?">Offres</a></li>
            <li><a class="nav-link  dropdown-item" href="{% url 'marche_recherches' %}?">Demandes</a></li>
            <li> <a class="nav-link  dropdown-item" href="{% url 'marche' %}?producteur={{ user.username }}">Mes annonces</a></li>
            <li class="divider"></li>
            <li> <a class="nav-link dropdown-item" href="{% url 'produit_proposer_entree' %}">Ajouter une annonce</a></li>

        </ul>
      </li>
      <li class="nav-item dropdown">
           <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="{% url 'agora' %}" aria-haspopup="true" aria-expanded="false" >
               {% fontawesome_icon 'comments' %} Le Forum </a>

            <ul class="dropdown-menu textcenter">
                <li> <a class="nav-link dropdown-item" href="{% url 'blog:index' %}?">Articles</a></li>
                <li><a class="nav-link dropdown-item" href="{% url 'agora' %}">Salon</a></li>
                 <li><a class="nav-link dropdown-item" href="{% url 'conversations' %}"> Conversations privées</a></li>
            </ul>
      </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'presentation_asso' %}" id="navbarAsso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"   >
        {% fontawesome_icon 'link' %} L'association
        </a>
        <ul class="dropdown-menu textcenter" aria-labelledby="navbarAsso">
            <li><a class="nav-link dropdown-item" href="{% url 'blog:index_projets' %}"> Projets </a></li>
            <li> <a class="nav-link dropdown-item" href="{% url 'agora_permacat' %}"> Salon permacat </a></li>
                <li> <a class="nav-link dropdown-item" href="{% url 'blog:index' %}?permacat=True">Articles permacat</a></li>

           <li>  <span class="nav-link divider" role="separator"></span></li>
            <li> <a class="nav-link dropdown-item" href="{% url 'annuaire_permacat' %}"> Annuaire  </a></li>
             <li><a class="nav-link dropdown-item" href="{% url 'carte_permacat' %}"> Carte  </a></li>
             <li><a class="nav-link dropdown-item" href="{% url 'admin_asso' %}"> Administration  </a></li>
            <li> <span class="nav-link divider" role="separator"></span></li>
           <li> <a class="nav-link dropdown-item" href="{% url 'presentation_asso' %}"> Qui sommes nous ?</a></li>
           <li> <a class="nav-link dropdown-item" href="{% url 'charte' %}"> Charte </a></li>
           <li> <a class="nav-link dropdown-item" href="{% url 'statuts' %}"> Statuts et règlement intérieur </a></li>
        </ul>
    </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'presentation_site' %}" id="navbarAbout2" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" >
             {% fontawesome_icon 'globe' %} Le site
            </a>
            <ul class="dropdown-menu textcenter" aria-labelledby="navbarAbout2">
               <li> <a class="nav-link dropdown-item" href="{% url 'annuaire' %}"> Annuaire </a></li>
                <li> <a class="nav-link dropdown-item" href="{% url 'carte' %}"> Carte </a></li>
                <li> <span class="nav-link divider" role="separator"></span></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'faq' %}"> FAQ </a></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'cgu' %}"> CGU </a></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'liens' %}"> Liens </a></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'contact_admins' %}"> Contacter admins </a></li>
                <li> <span class="nav-link divider" role="separator"></span></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'fairedon' %}"> Faire un don</a></li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

         <li class="nav-item">
             <form class="form-inline my-2 my-lg-0 justify-content-center form-group navbar-form " action="{% url 'chercher' %}" method="get" role = "search">
        {% csrf_token %}
            <input class="form-control fmr-sm-2" name="id_recherche" placeholder="Chercher..." type="text">
            <span class="input-group-append">
                <button class="btn navbar-btn btn-light my-2 my-sm-0" type="submit" >{% fontawesome_icon 'search' %}</button>
            </span>
        </form>
         </li>
        {% if request.user.is_superuser %}
        {% load admin_urls %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">admin</a></li>
        {% endif %}

        <li class="nav-item"><a class="nav-link" href="{% url 'notifications' %}">{% fontawesome_icon 'bell' %}  Notifications</a></li>
       <li class="nav-item dropdown">
           <a data-toggle="dropdown" class="nav-link dropdown-toggle " href="{% url 'profil_courant' %}" aria-haspopup="true" aria-expanded="false"  >
              {% fontawesome_icon 'user' %} Profil: {{request.user}} </a>
            <ul class="dropdown-menu textcenter" aria-labelledby="navbarDropdownMenuLink">
               <li> <a class="nav-link dropdown-item" href="{% url 'profil_courant' %}">Mon profil</a></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'panier_afficher' %}">Mon panier</a></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'afficher_requetes' %}">Mes requêtes</a></li>
                 <li><a class="nav-link dropdown-item" href="{% url 'conversations' %}">Mes conversations</a></li>
                <li> <span class="nav-link divider" role="separator"></span></li>
               <li> <a class="nav-link dropdown-item" href="{% url 'logout' %}">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>
{% else %}
    <ul class="nav navbar-nav mr-auto navbar-left">
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> {% fontawesome_icon 'user' %} Se connecter</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'senregistrer' %}"> {% fontawesome_icon 'address-card' %} S'inscrire</a></li>

    </ul>
    <ul class="nav navbar-nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'presentation_asso' %}" id="navbarAsso2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {% fontawesome_icon 'link' %}  L'association
            </a>
            <ul class="dropdown-menu textcenter" aria-labelledby="navbarAsso2">
               <li> <a class="nav-link" href="{% url 'presentation_asso' %}"> Qui sommes nous ?</a></li>
               <li> <a class="nav-link" href="{% url 'charte' %}"> Charte </a></li>
               <li> <a class="nav-link" href="{% url 'statuts' %}"> Statuts et règlement intérieur </a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'profil_courant' %}" id="navbarAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {% fontawesome_icon 'globe' %} Le site
            </a>
            <ul class="dropdown-menu textcenter" aria-labelledby="navbarAbout">
               <li> <a class="nav-link" href="{% url 'cgu' %}"> CGU </a></li>
               <li> <a class="nav-link" href="{% url 'liens' %}"> Liens </a></li>
               <li> <span class="nav-link divider" role="separator"></span></li>
               <li> <a class="nav-link" href="{% url 'fairedon' %}"> Faire un don</a></li>
            </ul>
        </li>
    </ul>
{% endif %}
</div>
</nav>
{% endblock %}
