

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Plus...</a>
  {% endif %}

  <div class="loading textcenter" style="display: none;">
    Chargement...
  </div>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% comment %}
<div class="row justify-content-center">
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">1&nbsp; </a>
                    <a href="?page={{page_obj.previous_page_number}}"><< </a>
                {% endif %}
                <span class="page-current">
                    &nbsp;<b> page {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}&nbsp;</b>
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}">>></a>
                <a href="?page={{page_obj.paginator.num_pages}}">&nbsp;{{page_obj.paginator.num_pages}}</a>
                {% endif %}
            </span>
        </div>
</div>
{% endcomment %}