
{% load blog_filters %}
<div class="contenu conversation" id="idConversation">
{% for mess in page_obj %}
    {% ifchanged %}
    <div class="row msg-date textcenter">
        <div class="col-sm-12">
            <p class="infos">{{ mess.date_creation|date:"l d F" }}</p>
        </div>
    </div>
    {% endifchanged %}

    {%if mess.auteur.username == 'bot_permacat' %}
    <div class="row ">
        <div class="col-sm-12 message_bot">
                    <p>{{ mess.message|safe }}</p>
        </div>
    </div>
    {% else %}
    <div class="row {% ifequal mess.auteur.id request.user.id %} msg-auteur  {%else%} msg-destinataire{%endifequal%} ">
        <div class="col-sm-2 col-md-3 col-lg-2">
            <p class="infos  textepetit ">
                {% ifchanged %}<a href="{% url 'profil' mess.auteur.id %}"> {{mess.auteur}}</a><br> {% endifchanged %}{{ mess.date_creation|date:"G:i" }}

                {% if request.user == mess.auteur  or request.user.is_superuser%}
            <a class="boutonediter" href="{{ mess.get_edit_url  }}" role="button" alt="éditer"><i class="fa fa-edit"></i></a>
                {% endif %}
            </p>
        </div>

            <div class=" col-sm-10 col-md-9 col-lg-10 message  ">
                    <p>{{ mess.message|safe }}</p>
            </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<script>
    var messageBody = document.querySelector('#idConversation');
    messageBody.scrollTop = idConversation.scrollHeight - idConversation.clientHeight;
</script>
   <div class="pagination">
        {% if page_obj.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class='fa fa-chevrons-left' aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}">
            <i class='fa fa-chevron-left' aria-hidden="true"></i>
        </a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="pagination-action" href="?page={{ page_obj.next_page_number }}">
                <i class='fa fa-chevron-right' aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
                <i class='fa fa-chevrons-right' aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
<hr>

    {% if not messages_echanges %}
<h5>Commencer la discussion :</h5>
    {% else %}
<h5>Répondre :</h5>
    {% endif %}
<div class="row-sm-12">
    <form  id="myForm" class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="Nouveau Message" value="{{ message_defaut }}">
        {% include 'form_template3.html' with boutonAnnuler=False %}
    </form>
</div>

