
{% load blog_filters %}
<div class="contenu conversation" id="idConversation">
{% include 'pagination_new.html' %}
{% for mess in page_obj %}
    {% ifchanged %}
    <div class="row msg-date textcenter">
        <div class="col-sm-12">
            <p class="infos">{{ mess.date_creation|date:"l d F" }}</p>
        </div>
    </div>
    {% endifchanged %}

    {%if mess.auteur.username == 'bot_permacat' %}
    <div class="row ">
        <div class="col-sm-12 message_bot">
                    <p>{{ mess.message|safe }}</p>
        </div>
    </div>
    {% else %}
    <div class="row {% ifequal mess.auteur.id request.user.id %} msg-auteur  {%else%} msg-destinataire{%endifequal%} ">
        <div class="col-sm-2 col-md-3 col-lg-2">
            <p class="infos  textepetit ">
                {% ifchanged %}<a href="{% url 'profil' mess.auteur.id %}"> {{mess.auteur}}</a><br> {% endifchanged %}{{ mess.date_creation|date:"G:i" }}

                {% if request.user == mess.auteur  or request.user.is_superuser%}
            <a class="boutonediter" href="{{ mess.get_edit_url  }}" role="button" alt="éditer"><i class="fa fa-edit"></i></a>
                {% endif %}
            </p>
        </div>

            <div class=" col-sm-10 col-md-9 col-lg-10 message  ">
                    <p>{{ mess.message|safe }}</p>
            </div>
    </div>
    {% endif %}
{% endfor %}

{% include 'pagination_new.html' %}
</div>
<script>
    var messageBody = document.querySelector('#idConversation');
    messageBody.scrollTop = idConversation.scrollHeight - idConversation.clientHeight;
</script>


<hr>

    {% if not messages_echanges %}
<h5>Commencer la discussion :</h5>
    {% else %}
<h5>Répondre :</h5>
    {% endif %}
<div class="row-sm-12">
    <form  id="myForm" class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="Nouveau Message" value="{{ message_defaut }}">
        {% include 'form_template3.html' with boutonAnnuler=False %}
    </form>
</div>

