{% extends 'permagora/base.html' %}
{% block content %}


 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="50">
              <h2 class="text-center">Préambule</h2>
            </div>
          </div>
        </div>
      </div>
</div>
 <div class="site-section">
      <div class="container">
        <div class="row rowNoMargin" data-aos="fade-up" data-aos-delay="50" >
            <div class="col-12" data-aos="fade-up" data-aos-delay="500"><span class="text-primary"Préambule</span></div>
            <p>Ce site développé par nos soins est une plateforme collaborative qui a pour but de permettre de clarifier les enjeux actuels sur notre territoire, afin de créer les liens, les synergies nécessaires au bon niveau de réponse de chaque partie du problème (agriculture, énergie, éducation, etc.). </p>
            <p>La partie "démarche" du site explicite les enjeux, à travers les 3 parties suivantes : introduction (ci dessous), <a href="{%url 'permagora:risques'%}">risques</a>, et <a href="{%url 'permagora:preconisations'%}">préconisations</a>. Sur cette base nous construisons un <a href="{%url 'permagora:propositions'%}"> ensemble de plans d'action</a> pour chaque thème, construit grâce à un travail collectif et collaboratif de long terme. </p>
            <p>Suivant les solutions qui auront émergées de cette réflexion collective, chacun pourra participer aux projets qui existent déjà (associations, collectivités, etc) en connaissance de cause, et nous pourrons nous fédérer avec la structure PermAgora pour mutualiser nos moyens et si nécessaire lever des fonds afin de créer les emplois pour mener à bien les plans d'action.  </p>
            <p> Vous pouvez participer à la réflexion en nous faisant part de vos commentaires, ou bien en participant à nos visioconférences du lundi, ou bien directement sur les documents partagés indiqués dans chaque proposition.
                </p>
        </p>
        </div>
      </div>
 </div>
 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="50">
              <h2 class="text-center">I. Intro : De quoi parlons-nous ?</h2>
            </div>
          </div>
        </div>
      </div>
</div>
 <div class="site-section">
      <div class="container">
          {% comment %}
        <div class="row mb-5 rowNoMargin">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
           <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
          {% endcomment %}
        <div class="row rowNoMargin" data-aos="fade-up" data-aos-delay="50" >
            <div class="col-12" data-aos="fade-up" data-aos-delay="500"><span class="text-primary">Une situation précaire</span></div>

            <p>Dans un avenir proche, la situation de notre département et plus généralement de notre société occidentale est fortement compromise. Cela est principalement dû à 3 causes : le changement climatique, la perte de biodiversité et la fin annoncée des ressources abondantes et saines (pétrole, gaz, minerais, eau, nourriture). Plus précisément, il est établi que nous avons déjà <a href="https://fr.wikipedia.org/wiki/Limites_plan%C3%A9taires" target="_blank">dépassé 6 des 9 limites planétaires, ce qui n'est pas sans conséquence.</a></p>
            <p>Des modifications majeures de nos modes de vie vont arriver avec certitude, de gré ou de force, et la question est juste de savoir "est-ce que cela adviendra dans 10 ans ou dans 50 ans ?". Sachant que certains changements sont progressifs (et plus ou moins rapides), et certains sont soudains. En effet, les problèmes se matérialiseront par des crises qui nous prendront "par surprise" (crise pétrolière, ou krach boursier, ou tempête climatique, ou inondation, ou crise sanitaire...), et possiblement combinées, surtout si nous n'anticipons pas.
                </p><p>"Gouverner c'est prévoir", disait Emile de Girardin, et il ajoutait "ne rien prévoir, c'est courir à sa perte". Nous courons à notre perte. Cette situation catastrophique à bien des égards (voir ci-dessous le constat) est aussi une opportunité à saisir pour notre pays catalan. Car en effet, le problème amène des solutions. Les problèmes devenant extrêmes (changements très rapides), ce sont autant d'opportunités à saisir et nous devons envisager des solutions radicales. Il faut comprendre que notre système politico-economique est au bord du gouffre, et il est la cause principale de nos problèmes, notamment parce que le capitalisme qui cherche avant tout le profit, combiné au libéralisme qui individualise notre rapport au monde sans contraintes, provoque l'effondrement des équilibres environnementaux dont nous dépendons directement.
                </p>
        </div>
        <div class="row rowNoMargin " data-aos="fade-up" data-aos-delay="50" >
          <div class="col-12" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">Une possibilité catastrophique à éviter</span></div>

            <p>Même si le constat n'est pas partagé à 100% par chacun d'entre nous (et nous pouvons en débattre), nous ne pouvons en aucun cas nous permettre d'ignorer le scenario le plus probable, c'est-à-dire un scenario d'effondrement rapide (moins de 20 ans, voire quelques mois/années pour les plus pessimistes) de nos sociétés, par les bouleversements que provoquent le changement climatique, l'effondrement de la biodiversité et la crise des matières premières et de l'énergie (pétrole essentiellement). Face à ce scénario, deux possibilités s'offrent à nous : soit nous prenons nos responsabilités, nous regardons les problèmes en face, et nous trouvons des solutions collectives. Soit nous continuons de regarder ailleurs, et nous subirons tous, chacun dans son coin, le chaos social environnemental et politique, tous contre tous.
            </p><p>Les scientifiques nous alertent, sans équivoque possible. Selon eux, les 3/4 de l'humanité (quelques milliards de personnes) sont directement concernées à court terme. Autrement dit, nous sommes tous concernés. D'autre part, nous ne pouvons compter sur des instances "supérieures" (le gouvernement français, la commission européenne, ou Bayer-Monsanto, ...) pour prendre à bras le corps le problème à sa racine, car eux-même dépendent de ce système et feront tout pour perdurer et le faire perdurer. Il ne nous reste que la possibilité de nous organiser nous même, à notre échelle, à l’échelle de notre pays catalan qui a encore (mais pas pour longtemps) toutes les ressources nécessaires pour prendre en main notre destin nous-même. C'est maintenant ou jamais, et il faut clairement s'engager. Nos élus en première ligne, c'est la moindre des choses.
            </p>
        </div>

        <div class="row rowNoMargin" data-aos="fade-up" data-aos-delay="50">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">Des crises qui se rapprochent</span></div>
          <p class="col-6" data-aos="fade-up" data-aos-delay="400">
            <p>Nul ne peut désormais nier le changement climatique. La question de savoir si c'est à cause de l'Homme ou pas n'est pas importante à ce stade (bien que scientifiquement tranchée). C'est un fait qu'il faut prendre en compte de façon urgente qu'elles qu'en soient les causes. Bien que la bonne foi et les expertises en tout genre montrent bien que notre modèle économique capitaliste libéral, basé sur la croissance infinie, l'exploitation des ressources sans limite et la création monétaire par la dette est un facteur pour le moins aggravant du changement climatique et de notre incapacité à réagir.
</p><p>Nul ne peut ignorer l'épuisement des ressources, notamment en pétrole et en gaz, mais aussi en minerais (cuivre, terres rares, uranium, etc). Les spécialistes sont aussi très clairs là-dessus, et pour cause : la terre est un espace fini. La question est de savoir quand et comment les ressources s'épuiseront-t-elles ? Pour le pétrole (dont nous dépendons entièrement, car il est au centre de tout notre modèle économique - agriculture, transport, tourisme, habitat, etc.) il a été démontré que le prix du baril n'est pas corrélé à l’état du stock de pétrole (dont personne ne connait du reste la valeur réelle et exacte). Nous avons donc besoin d'anticiper les futures crises pétrolières, afin d'avoir le temps de nous adapter. Le plus probable est que l'on subisse, à l'occasion d'une crise géopolitique ou financière, des crises (pétrolières, migratoires, de famine, de soif... ) de plus en plus fortes.
</p><p>Par l'effet combiné du changement climatique qui s'accélère et de notre recherche effrénée de la croissance à tout prix, Il est assez probable que cela arrive à très court terme, dans les années qui arrivent. Du moins, nous n'avons pas le droit de ne pas prendre cette hypothèse au sérieux, et de ne pas nous y préparer. Si par miracle, cela n'arrive que dans 20 ou 50 ans, au moins nous serons préparés si nous commençons à prendre les mesures nécessaires dès à présent.

        </p>
        </div>
        <div class="row rowNoMargin" data-aos="fade-up" data-aos-delay="200">
          <div class="col-12" data-aos="fade-up" data-aos-delay="100"><span class="text-primary">Notre responsabilité : retrouver notre autonomie pour atténuer l'impact des crises qui ont commencé</span></div>
          </p><p>Il faut être cohérent. Vu la gravité de la situation, la prise de conscience doit être rapide, et les mesures politiques, les comportements de chacun et l'organisation collective doivent s'adapter rapidement et radicalement. Car <span lass="text-success">nous sommes responsables de notre avenir et de celui de nos enfants</span>. Mais cette radicalité ne doit pas nous faire oublier l'impérieuse nécessité de garder la Paix comme principe majeur. En refusant la violence quelle qu'elle soit, en soumettant à la délibération collective toute décision importante, en créant de la solidarité et du lien entre nous, nous devons sauvegarder la Paix, en commençant par chez nous. Soit nous anticipons et nous pouvons nous adapter collectivement, soit nous subirons de graves crises dont personne ne connait ni l'étendue ni l'intensité exacte.
</p><p>Pour se protéger du risque vraiment non négligeable désertification du territoire (plus d'eau, plus d'arbres, plus d'insectes, plus d'animaux, plus de nourriture, plus de vie) à moyen terme. Il faut absolument que nous retrouvions une forme d'autonomie: autonomie vivrière (pour se nourrir et faire vivre notre territoire), autonomie énergétique (pour se chauffer/se refroidir et se déplacer, échanger), autonomie économique (pour ne plus dépendre d'un système qui court à sa perte), et autonomie politique (pour décider nous même de tout cela).</p></p>
        </p>
        </div>
          </div>
</div>


 <div class="site-section">
  <div class="container">
        <div class="row mb-5 rowNoMargin">
          <div class="col-12 text-center">
            <a href="{%url 'permagora:risques'%}" class="btn-custom" data-aos="fade-up" data-aos-delay="100"><span>Le constat </span></a>
          </div>
        </div>
 </div>
 </div>
{% endblock %}


