{% extends 'permagora/base.html' %}
{% block content %}

 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-lg-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2 class="text-center">II. Le constat : des risques majeurs sur notre territoire</h2>
            </div>
          </div>
        </div>
        </div>
</div>
 <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
            {% comment %}<img src="images/hero_1.jpg" alt="Image" class="img-fluid">{% endcomment %}
          </div>
        </div>
        <div class="row">
{% for pb in dico_risques %}
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">{{pb.0}}</span></div>
          <div class="col-md-8" data-aos="fade-up" data-aos-delay="300">
              <p>{{pb.1|safe}}</p>
          </div>
              {%endfor%}
        </div>
      </div>
    </div>


 <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-12 text-center">
            <a href="{%url 'permagora:preconisations'%}" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Les préconisations </span></a>
          </div>
        </div>
      </div>
 </div>
{% endblock %}


