{% extends 'permagora/base.html' %}
{% block content %}


 <div class="site-section">
      <div class="container">
        <div class="row mb-5  align-items-center">
          <div class="col-lg-12 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2 class="text-center">III. Nos préconisations</h2>
            </div>
          </div>
        </div>
        </div>
</div>
<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12" data-aos="fade-up" data-aos-delay="100">
           {% comment %} <img src="images/hero_1.jpg" alt="Image" class="img-fluid">{% endcomment %}
          </div>
        </div>
        <div class="row mb-5 rowNoMargin">
            <p>Comme tout est lié, les mesures nécessaires doivent être décidées en ayant une vision holistique du problème. Et pour aborder les solutions, nous proposons de nous recentrer d'abord sur un des atouts majeurs de notre territoire : l'agriculture, notamment par l'apport de la <a href="https://www.perma.cat/media/documents/2022/06/04/Permaculure-Introduction-EloiGrau.pdf" target="_blank"> Permaculture</a>. En effet, l'agriculture c'est d'abord notre premier besoin : se nourrir sainement. Mais elle doit aussi être pensée en lien avec les transports, l'économie, la monnaie, l'habitat, le chauffage, la biodiversité, l'eau, l'éducation, etc. il faut comprendre l'importance cruciale de reprendre en main notre agriculture. La Permaculture nous donne des outils et des méthodes pour penser l'harmonie du territoire dans sa globalité.
            </p></div>
      </div>
      <div class="container">
        <div class="row">
{% for pb in dico_risques %}
          <div class="col-md-3" data-aos="fade-up" data-aos-delay="200"><span class="text-primary">{{pb.0}}</span></div>
          <div class="col-md-9" data-aos="fade-up" data-aos-delay="300">
              <p>{{pb.1|safe}}</p>
          </div>
              {%endfor%}
        </div>
      </div>
    </div>

<div class="site-section">
      <div class="container">
        <div class="row mb-5 rowNoMargin">
            <p>Ce sont des solutions qui peuvent paraitre très ambitieuses, mais cet ensemble de réponses est tout juste proportionnel au scénario qui n'est pas le pire... Si nous (surtout les élus) ne faisons rien, nous serons tenus responsables, à juste titre, de la catastrophe.  Et alors qui peut dire ce qu'il adviendra...
</p></div>

      </div>
</div>

 <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-12 text-center">
            <a href="{%url 'permagora:propositions'%}" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Les propositions concrètes</span></a>
          </div>
        </div>
      </div>
 </div>
{% endblock %}


