{% extends 'base_asso.html' %}
{% load static %}
{% block title %} - Accueil{% endblock %}
{% block subtitle %}

<h2 class = "textcenter rowbienvenue">Projet Bzzz</h2>

{% include "asso/presentation_asso_template.html" with adherent=request.user.adherent_bzz2022 assos='bzz2022' %}

<h4 class = "textcenter rowbienvenue">Qui sommes nous ?</h4>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col">
		<p>Le projet Bzzz a pour but de développer des ruches écologiques en vue de soutenir les abeilles catalanes (du 66)</p>
		<p> Pour nous contacter, contactez Flo... </p>
<hr>
					{% if request.user.adherent_bzz2022 %}
		<div class="row  justify-content-center">

	</div>
		{% endif %}

		{% if request.user.is_anonymous %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'login'%}" disabled> Il faut être connecté pour pouvoir s'inscrire dans ce groupe</a>
			</p>
		{% else %}

			{% if request.user.adherent_bzz2022 %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'inscription_bzz2022' %}"> Vous êtes inscrit.e -> Cliquer ici pour se désinscrire</a>
			</p>
			{% else %}
			<p class="textcenter">
				 <a class="btn btn-primary" href="{% url 'inscription_bzz2022' %}"> Vous ne faites pas partie du groupe -> Cliquer ici pour s'inscrire</a>
			</p>
			{% endif %}
		{% endif %}

	</div>
</div>
{% endblock %}
