
body {
    background: #E9E9E9;
    margin: auto;
    width: 99%;
    /*padding: 10px;*/
    padding-top: 55px;
    font-family: Georgia, serif;
    /*font-family: cursive;*/
    /*font-family: serif;*/
    /*font-family: system-ui;*/
    /*background-image: url("../img/fleur3.jpg");
    background-repeat: repeat;*/
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


.textcenter{
    text-align: center;
}
.textright{
    text-align: right;
}
.textmiddle{
    vertical-align:middle;
}
.textleft{
    text-align: left;
}

.textitalique{
font-style: italic;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}
.row{
    margin-right: 2px;
    margin-left: 2px;
    padding: 1px;
}

.rowbienvenue{
line-height: 2;
margin-bottom: 30px;
}
/*
.breadcrumb span, .breadcrumb div {display:inline-block!important; float:right!important}*/

.breadcrumbs{
    text-align:center;
}

p {
    margin: .5em 0;
}

section.p2 {
    padding: 0 0 .5em 0;
}

section.p3 {
    padding: 1em 0 1em 2em;
}

.navbarProduits {
    display: inline-block;
   }

.navbar-collapse { text-align: center; }
.navbar{
    padding:0;
    }
.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.bs-dark .dropdown-menu {
  margin: 3px 1px 1px;
  background-color: #000;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.bs-dark .dropdown-menu .divider {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.bs-dark .dropdown-menu > li > a {
  padding: 6px 20px;
  color: rgba(255,255,255,0.80);
}
.bs-dark .dropdown-menu > li > a:hover,
.bs-dark .dropdown-menu > li > a:focus {
  color: rgba(255,255,255,0.80);
  background-color: grey;
}
.bs-dark .dropdown-menu > .active > a,
.bs-dark .dropdown-menu > .active > a:hover,
.bs-dark .dropdown-menu > .active > a:focus {
  color: rgba(255,255,255,0.80);
  background-color: grey;
  outline: 0;
}

.bs-dark .dropdown-menu > dropdown-item :hover{
  background-color: grey;
}

.contenu{
    /*margin-top: 2em;*/
    margin-bottom: 1em;
    border-radius: 0.2em;
    padding: 2px 2px 2px 2px;
}
.paddingbase{
    padding: 3px 3px 3px 3px;
}

.soustitre{
    padding: 2px;
    border-radius: 0.4em;
    margin: 30px;
}

.bodycontenu{
    padding-bottom: 2em;
    border-radius: 0.2em;
    padding: 5px ;

}
.bodycontenucomplet{
    padding: 1px ;
    border-radius: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 400px;
    min-width:300px;
    /*border: 0.5px solid #053200;*/
    background: white;
    }
/*
#parent {
    text-align:center;
    background-color:blue;
    height:400px;
    width:600px;
}
.block {
    height:100px;
    width:200px;
    text-align:left;
}*/
.center {
    margin:auto;
    text-align:center;
}
.left {
    text-align:left;
    margin:auto auto auto 0;
}
.right {
    text-align:right;
    margin:auto 0 auto auto;
}
.text-muted2{
    color:#00004d;
}

/*blog*/
.infos{
    font-size:small;
}
.debutArticle{
    font-color: red;
}
.debutArticle a:link, a:visited {
    color: black;
}
.titreBlog{
    text-size: large;
}
.titreBlog a:link, a:visited {
    color: black;
}

.dernierMessage{
    background-color:grey;
}
/*fin blog*/

.col_cat{
    padding: 25px;
    margin:5px;
    border:1px ;
    width:400px;
    border:2px grey solid;
    border-radius: 0.4em;
    flex:1 1 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col_cat a:link, a:visited {
    color: black;
    text-decoration: none;
}

.col_cat:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}
.col_aliment{
   /* border-left: 6px solid #CEECF5;*/
    color: black;/*#6666ff*/
}
.col_vegetaux{
    color: black;/*
    text-color: #A9F5A9*/
}
.col_services{
    color: black;/*
    text-color: #D8D8D8*/
}
.col_objets{
    color: black;
    /*
    text-color: #0055FE*/
}*/
.col-centered{
    float: none;
    margin: 0 auto;
}
.row .col-xs-2, .row .col-xs-10{display:inline-block; float: none}


.tablepanier{
    background-color:#87ceeb;
}
.tableprofils{
    background-color: #ffffcc;
}

.offre_entree{
    padding-bottom:4px;
    border-radius: 0.3em;
    align-items: flex-start ;
    margin:5px;  /* and that, will result in a 10px gap */
    /*border:1px red solid;*/
}
.offre_entree:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
}
.offre{
    padding-bottom:30px;
    /*min-width:300px;*/
    margin:-5px;
}
.notif{
    padding-bottom:40px;
}
.notif2{
    box-shadow: 0 10px 10px 0px grey;
}

.offre a:link, a:visited, a:hover{
    color: black;
}

.offre2{
    min-height: 350px;
    min-width:250px;
    max-height: 350px;
    max-width:250px;
    box-shadow: 0 10px 10px 0px grey;
    padding:5px;
}

.offre2:hover{
    opacity:0.9;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}
.offreentete{
    height:90px;
    text-align: center;
}

.listOffres{
    flex-flow: row wrap;
    justify-content: center;
    /*display: -webkit-box;*/
	/*display: -webkit-flex;*/
	/*display: -moz-box;*/
	/*display: -ms-flexbox;*/
	display: flex;
	flex:1 1 auto;
    /*padding:5px;*/
}

.detailProduit{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article{
/*background-color: grey;*/
border-color: #333;
box-shadow: 0 10px 10px 0px grey;
 padding:10px;
    min-height: 100px;
    border-radius: 0.3em;
    border:1.5px grey solid;
}

.article_recherche{
/*background-color: grey;*/
border-color: #333;
box-shadow: 0 10px 10px 0px grey;
 padding:10px;
    min-height: 200px;
    border-radius: 0.3em;
    border:1.5px grey solid;
    max-height: 200px;
    min-width: 250px;
    max-width: 250px;
    margin-bottom: 20px;
}
a:link           { color: #000000 }  /* unvisited links       */
a:visited        { color: #000000 }  /* visited links         */
a:hover, a:focus { color: grey }    /* user hovers, or focus */
a:active         { color: #000000 }  /* active links          */


.commentaire{
    border-color: #333;
    padding:10px;
    min-height: 150px;
    border-radius: 0.3em;
}

.conversation{
	overflow: auto;
	width: 100%;
	height: 400px;
}

.commentaires{
	overflow: auto;
	width: 100%;
	height: 400px;
}

.card-footer{
position:absolute;
  bottom:0;
  width:100%;
}
.card-header {
  align-items: center;
}

.card-deck .card{
  padding-bottom:80px;
 }

.offre_footer{
  height:85px;
 }

.row-flex {
  display: flex;
  align-items: center;
}

td.panierTableauStyle{
    border-top: 1.5px solid #000;
}

td.proprieteProduit{
    background-color:LightGray;
}
td.nomProprieteProduit{
    background-color:Gray;
}

.textepetit{
    font-size:0.8em;
}
.breadcrumb{
    padding: 0;
    margin-bottom: 0;
}

.topnav {
}

.topnav a {
  text-align: center;
}
c
.topnav a:hover {
}

.topnav a.active {
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

ul.errorlist{
    color:red;
}

.btn-group{
    white-space: normal;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  table,
  tbody,
  tr,
  td {
    display: block;
    width: auto!important;
  }
.foo {
      visibility:collapse;
 display: none;
}

.soustitre{
    padding: 1px;
    border-radius: 0.2em;
    margin: 5px;
}
.btn-group{
    white-space: normal;
}
    .row{
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
    }
.contenu{
    /*margin-top: 2em;*/
    margin-bottom: 0.1em;
    border-radius: 0.02em;
    padding: 0.2px 0.2px 0.2px 0.2px;
}


.paddingbase{
    padding: 0.1px 0.1px 0.1px 0.1px;
}

.soustitre{
    padding: 0.1px;
}

.bodycontenu{
    padding-bottom: 2em;
    border-radius: 0.1em;
    padding: 0px ;

}
.bodycontenucomplet{
    padding: 0.1px ;
    border: 0.3px solid #053200;
    }
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}

.menuNavbar{

  visibility: hidden;
  display: none;
}
.carte-notif{
   width:20rem;
}
}


.msg-destinataire{
    /*indent:30px;*/
    background-color:GhostWhite ;
    }


.msg-auteur {
    background-color:#e6e6ff ;
    }

.msg-agora {
    background-color:GhostWhite ;
    }

.msg-date {
    background-color:#e6e6e6 ;
    }
.carte-notif{
   width:30rem;
    margin: 20px;
}
.badge_projet{
font-size: 10px;
vertical-align: top;
top: 10px; /*depends on your font-size*/
position: relative;

}

table.greenTable {
  font-family: Georgia, serif;
  border: 2px solid #24943A;
  background-color: #D4EED1;
  width: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 13px;
}
table.greenTable thead {
  background: #24943A;
  background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  border-bottom: 0px solid #444444;
}
table.greenTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  border-left: 2px solid #24943A;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot td {
  font-size: 13px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #24943A;
  padding: 2px 8px;
  border-radius: 5px;
}

.liste_atelier {
    border: 2px double rgba(28,110,164,0.65);
    border-radius: 7px;
    padding: 12px;
    margin: 12px;
}

.body_fiche{
    font-family: Georgia, serif;
    background-color:#ffffff;
    margin-bottom:100px;
}

.panel_body_fiche{
    margin-bottom:100px;
    min-height:500px;
}

.titre_fiche{
    padding: 12px;
    margin: 12px;

    font-family: Georgia, serif;
    font-size: 28px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    border: 5px double #D9D9D9;
    border-radius: 25px;
}

.titre_fiche_index{
    border: 2px  #D9D9D9;
    border-radius: 25px;
    margin-bottom:3px;
    margin-top:3px;
    padding:15px;
    font-variant: small-caps;
}

.fiche_index{
    border: 3px inset ;
    border-radius: 0px 25px 25px 0px;
    -webkit-box-shadow: 5px 5px 20px 0px #0D4003;
    box-shadow: 5px 5px 20px 0px #0D4003;
    padding: 8px;
    margin: 8px;
}

.fiche_tags{
    font-size:small;
    font-style: italic;
    margin-bottom: 20px;
}

.atelier {
border: 9px inset rgba(28,110,164,0.65);
border-radius: 0px 25px 25px 25px;
-webkit-box-shadow: 5px 5px 20px 0px #0D4003;
box-shadow: 5px 5px 20px 0px #0D4003;
padding: 10px;
margin: 12px;
min-height: 350px;
}

.ensavoirplus {
border: 9px inset #B37D00;
border-radius: 0px 25px 25px 25px;
-webkit-box-shadow: 5px 5px 20px 0px #0D4003;
box-shadow: 5px 5px 20px 0px #0D4003;
padding: 10px;
margin: 12px;
min-height: 350px;
}

.discussion_fiche {
border: 9px inset #734705;
border-radius: 0px 25px 25px 25px;
-webkit-box-shadow: 5px 5px 20px 0px #0D4003;
box-shadow: 5px 5px 20px 0px #0D4003;
padding: 10px;
margin: 12px;
min-height: 350px;
}


.fiche {
border: 9px inset rgba(49,184,0,0.65);
border-radius: 0px 25px 25px 25px;
-webkit-box-shadow: 5px 5px 20px 0px #0D4003;
box-shadow: 5px 5px 20px 0px #0D4003;
padding: 10px;
margin: 12px;
min-height: 350px;
}


.bouton_fiche_index {
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	#background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	#background-color:#b8e356;
	border-radius:10px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	width: 100%;
}
.bouton_fiche_index:hover {
	#background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#a5cc52;
}
.bouton_fiche_index:active {
	position:relative;
	top:1px;
}
