
body {
    background: #E9E9E9;
    margin: auto;
    width: 99%;
    /*padding: 10px;*/
    padding-top: 55px;
    /*font-family: cursive;*/
    /*font-family: serif;*/
    /*font-family: system-ui;*/
}

.textcenter{
    text-align: center;
}
.textright{
    text-align: right;
}
.textmiddle{
    vertical-align:middle;
}
.textleft{
    text-align: left;
}

.textitalique{
font-style: italic;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}
.row{
    margin-right: 2px;
    margin-left: 2px;
    padding: 1px;
}

.rowbienvenue{
line-height: 2;
margin-bottom: 30px;
}
/*
.breadcrumb span, .breadcrumb div {display:inline-block!important; float:right!important}*/

.breadcrumbs{
    text-align:center;
}

p {
    margin: .5em 0;
}

section.p2 {
    padding: 0 0 .5em 0;
}

section.p3 {
    padding: 1em 0 1em 2em;
}

.navbarProduits {
    display: inline-block;
   }

.navbar-collapse { text-align: center; }
.navbar{
    padding:0;
    }
.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.bs-dark .dropdown-menu {
 // min-width: 200px;
  //padding: 5px 0;
  margin: 2px 0 0;
  background-color: #000;
  //border: 1px solid rgba(0, 0, 0, 0.7);
  //border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.bs-dark .dropdown-menu .divider {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.bs-dark .dropdown-menu > li > a {
  padding: 6px 20px;
  color: rgba(255,255,255,0.80);
}
.bs-dark .dropdown-menu > li > a:hover,
.bs-dark .dropdown-menu > li > a:focus {
  color: rgba(255,255,255,0.80);
  background-color: grey;
}
.bs-dark .dropdown-menu > .active > a,
.bs-dark .dropdown-menu > .active > a:hover,
.bs-dark .dropdown-menu > .active > a:focus {
  color: rgba(255,255,255,0.80);
  background-color: grey;
  outline: 0;
}

.bs-dark .dropdown-menu > dropdown-item :hover,{
  background-color: grey;
}

.contenu{
    /*margin-top: 2em;*/
    margin-bottom: 1em;
    border-radius: 0.2em;
    padding: 2px 2px 2px 2px;
}
.paddingbase{
    padding: 3px 3px 3px 3px;
}

.soustitre{
    padding: 1px;
    border-radius: 0.4em;
}

.bodycontenu{
    padding-bottom: 2em;
    border-radius: 0.2em;
    padding: 5px ;

}
.bodycontenucomplet{
    padding: 1px ;
    border-radius: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 400px;
    min-width:300px;
    //border: 0.5px solid #053200;
    background: white;
    }
/*
#parent {
    text-align:center;
    background-color:blue;
    height:400px;
    width:600px;
}
.block {
    height:100px;
    width:200px;
    text-align:left;
}*/
.center {
    margin:auto;
    text-align:center;
}
.left {
    text-align:left;
    margin:auto auto auto 0;
}
.right {
    text-align:right;
    margin:auto 0 auto auto;
}
.text-muted2{
    color:#00004d;
}

//blog
.infos{
    font-size:small;
}
.debutArticle{
    font-color: red
}
.debutArticle a:link, a:visited {
    color: black;
}
.titreBlog{
    text-size: large
}
.titreBlog a:link, a:visited {
    color: black;
}

.dernierMessage{
    background-color:grey;
}
//fin blog

.col_cat{
    padding: 25px;
    margin:5px;
    border:1px ;
    width:400px;
    border:2px grey solid;
    border-radius: 0.4em;
    flex:1 1 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col_cat a:link, a:visited {
    color: black;
    text-decoration: none;
}

.col_cat:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}
.col_aliment{
   /* border-left: 6px solid #CEECF5;*/
    color: black;/*#6666ff*/
}
.col_vegetaux{
    color: black;/*
    text-color: #A9F5A9*/
}
.col_services{
    color: black;/*
    text-color: #D8D8D8*/
}
.col_objets{
    color: black;
    /*
    text-color: #0055FE*/
}*/
.col-centered{
    float: none;
    margin: 0 auto;
}
.row .col-xs-2, .row .col-xs-10{display:inline-block; float: none}


.tablepanier{
    background-color:#87ceeb;
}
.tableprofils{
    background-color: #ffffcc;
}

.offre_entree{
    padding-bottom:4px;
    border-radius: 0.3em;
    align-items: top;
    margin:5px;  /* and that, will result in a 10px gap */
    /*border:1px red solid;*/
}
.offre_entree:hover{
    opacity:0.85;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
}
.offre{
    padding-bottom:30px;
    width-min:350px;
    margin:-5px;
}
.notif{
    padding-bottom:40px;
}
.notif2{
    box-shadow: 0 10px 10px 0px grey;
}

.offre a:link, a:visited, a:hover{
    color: black;
}

.offre2{
    min-height: 350px;
    min-width:250px;
    max-height: 350px;
    max-width:250px;
    box-shadow: 0 10px 10px 0px grey;
}

.offre2:hover{
    opacity:0.9;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0px grey;
    text-decoration: none;
}
.offreentete{
    height:90px;
    text-align: center;
}

.listOffres{
    flex-flow: row wrap;
    justify-content: center;
    /*display: -webkit-box;*/
	/*display: -webkit-flex;*/
	/*display: -moz-box;*/
	/*display: -ms-flexbox;*/
	display: flex;
	flex:1 1 auto;
    //padding:5px;
}

.detailProduit{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article{
//background-color: grey;
border-color: #333;
box-shadow: 0 10px 10px 0px grey;
 padding:10px;
    min-height: 100px;
    border-radius: 0.3em;
    border:1.5px grey solid;
}

.article_recherche{
//background-color: grey;
border-color: #333;
box-shadow: 0 10px 10px 0px grey;
 padding:10px;
    min-height: 200px;
    border-radius: 0.3em;
    border:1.5px grey solid;
    max-height: 200px;
    min-width: 250px;
    max-width: 250px;
    margin-bottom: 20px;
}
a:link           { color: #000000 }  /* unvisited links       */
a:visited        { color: #000000 }  /* visited links         */
a:hover, a:focus { color: grey }    /* user hovers, or focus */
a:active         { color: #000000 }  /* active links          */


.commentaire{
    border-color: #333;=
    padding:10px;
    min-height: 150px;
    border-radius: 0.3em;
}

.conversation{
	overflow: auto;
	width: 100%;
	height: 400px;
}

.commentaires{
	overflow: auto;
	width: 100%;
	height: 400px;
}

.card-footer{
position:absolute;
  bottom:0;
  width:100%;
}
.card-header {
  align-items: center;
}

.card-deck .card{
  padding-bottom:80px;
 }

.offre_footer{
  height:85px;
 }

.row-flex {
  display: flex;
  align-items: center;
}

td.panierTableauStyle{
    border-top: 1.5px solid #000;
}

td.proprieteProduit{
    background-color:LightGray;
}
td.nomProprieteProduit{
    background-color:Gray;
}

.textepetit{
    font-size:0.8em;
}
.breadcrumb{
    padding: 0;
    margin-bottom: 0;
}

.topnav {
}

.topnav a {
  text-align: center;
}
c
.topnav a:hover {
}

.topnav a.active {
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

ul.errorlist{
    color:red;
}

.btn-group{
    white-space: normal;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  table,
  tbody,
  tr,
  td {
    display: block;
    width: auto!important;
  }
.foo {
      visibility:collapse;
 display: none;
}
.btn-group{
    white-space: normal;
}
    .row{
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
    }
.contenu{
    /*margin-top: 2em;*/
    margin-bottom: 0.1em;
    border-radius: 0.02em;
    padding: 0.2px 0.2px 0.2px 0.2px;
}


.paddingbase{
    padding: 0.1px 0.1px 0.1px 0.1px;
}

.soustitre{
    padding: 0.1px;
}

.bodycontenu{
    padding-bottom: 2em;
    border-radius: 0.1em;
    padding: 0px ;

}
.bodycontenucomplet{
    padding: 0.1px ;
    border: 0.3px solid #053200;
    }
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}

.menuNavbar{

  visibility: hidden;
  display: none;
}
.carte-notif{
   width:20rem;
}
}


.msg-destinataire{
    indent:30px;
    background-color:GhostWhite ;
    }


.msg-auteur {
    background-color:#e6e6ff ;
    }

.msg-agora {
    background-color:GhostWhite ;
    }

.msg-date {
    background-color:#e6e6e6 ;
    }
.carte-notif{
   width:30rem;
    margin: 20px;
}
.badge_projet{
font-size: 10px;
vertical-align: top;
top: 10px; //depends on your font-size
position: relative;

}